<nav id="nav-primary" aria-label="Primary">
  {% set primaryNav = collections.all | eleventyNavigation("Primary") %}
  <ul
    itemscope
    itemtype="https://schema.org/SiteNavigationElement">
    {% for page in primaryNav %}
    <li>
      <a
        class="u-color-text-white"
        itemprop="url"
        {% if page.url == page.url %}aria-current="page"{% endif %}
        href="{{ page.url }}">
        {{ page.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
