$_borders: map-get($tokens, "borders");
$_colors: map-get($tokens, "colors");
$_duration: map-get($tokens, "animation-duration");
$_easing: map-get($tokens, "animation-easing");
$_fonts: map-get($tokens, "fonts");
$_tracking: map-get($tokens, "tracking");
$_weights: map-get($tokens, "weights");


:root {
  @each $borders-name, $borders-value in $_borders {
    --border-#{$borders-name}: #{$borders-value};
  }

  @each $duration-name, $duration-value in $_duration {
    --animation-duration-#{$duration-name}: #{$duration-value};
  }

  @each $easing-name, $easing-value in $_easing {
    --animation-easing-#{$easing-name}: #{$easing-value};
  }

  @each $color-name, $color-value in $_colors {
    --color-#{$color-name}: #{$color-value};
  }

  @each $font-name, $font-value in $_fonts {
    --font-family-#{$font-name}: #{$font-value};
  }

  @each $weight-name, $weight-value in $_weights {
    --font-weight-#{$weight-name}: #{$weight-value};
  }

  --line-height-single: 1;
  --line-height-tighter: #{ms(1)};
  --line-height-tight: #{ms(2)};
  --line-height-loose: #{ms(3)};
  --line-height-looser: #{ms(4)};

  --modular-scale: #{map-get($tokens, modular-scale)};

  @each $tracking-name, $tracking-value in $_tracking {
    --tracking-#{$tracking-name}: #{$tracking-value};
  }

  --type-measure: #{map-get($tokens, type-measure)};
}
