// ============================================================================
// Font
// Families
// ============================================================================

// Remember to include fallbacks:
// http://cssfontstack.com/


/// @group Typography
/// @type  String
$font-family-primary: "abril-text", Georgia, Times, "Times New Roman", serif;


/// @group Typography
/// @type  String
$font-family-primary-preload: Georgia, Times, "Times New Roman", serif;


/// @group Typography
/// @type  String
$font-family-code: "Consolas", "Lucida Sans Typewriter", "Lucida Console", monaco, monospace;
