// ============================================================================
// Component
// Portfolio
// ============================================================================


// Component Logic ------------------------------------------------------------


// Component Styling ----------------------------------------------------------
.c-portfolio {
    color: darken(c(type, light), 25%);

    &__link {
        @include content-underline($underline-background-color: c(l-section, portfolio));

        margin-right: rem(2);

        color: c(type, light);

        // States
        &:focus {
            background-color: c(background, light);

            outline: border(thick) solid c(link, light);

            color: c(type, dark);

            @supports #{$supports-boxshadow} {
                box-shadow:
                  inset 0 -#{$global-underline-baseline-distance} c(background, light),
                  inset 0 -#{$global-underline-thickness} c(type, dark);

                // Remove default underline
                text-decoration: none;

                // Text outline
                text-shadow:
                  -#{$global-underline-outline} -#{$global-underline-outline} c(link, light),
                  -#{$global-underline-outline}  #{$global-underline-outline} c(link, light),
                   #{$global-underline-outline} -#{$global-underline-outline} c(link, light),
                   #{$global-underline-outline}  #{$global-underline-outline} c(link, light);
            }

            > .c-portfolio__icon {
                fill: c(type, dark);
            }

            &:hover {
                @supports #{$supports-boxshadow} {
                    box-shadow:
                      inset 0 -#{$global-underline-baseline-distance} c(type, light),
                      inset 0 -#{$global-underline-thickness} c(type, light);
                }
            }
        }

        &:hover {
            &:active {
                color: c(type, light);

                > .c-portfolio__icon {
                    fill: c(type, light);
                }

                @supports #{$supports-boxshadow} {
                    box-shadow:
                      inset 0 -#{$global-underline-baseline-distance} c(type, dark),
                      inset 0 -#{$global-underline-thickness} c(type, dark);
                }
            }
        }
    }

    &__icon {
        @include component-size(em(15));

        margin-left: em(3);
        position: relative;
          top: em(2);

        fill: c(type, light);
    }
}
