// ============================================================================
// Component
// Portfolio
// ============================================================================


// Component Logic ------------------------------------------------------------
@mixin footer-content-underline(
    $footer-underline-background-color: c(background, dark),
    $footer-underline-color: c(type, light),
    $footer-underline-outline: em(1),
    $footer-underline-baseline-distance: 0.1em,
    $footer-underline-thickness: 0.15em
) {
    text-decoration: underline;

    @supports #{$supports-boxshadow} {
        box-shadow:
          inset 0 -#{$footer-underline-baseline-distance} $footer-underline-background-color,
          inset 0 -#{$footer-underline-thickness} $footer-underline-color;
        display: inline;

        // Remove default underline
        text-decoration: none;

        // Text outline
        text-shadow:
          -#{$footer-underline-outline} -#{$footer-underline-outline} $footer-underline-background-color, // Top lefthand corner
          -#{$footer-underline-outline}  #{$footer-underline-outline} $footer-underline-background-color, // Bottom lefhand corner
           #{$footer-underline-outline} -#{$footer-underline-outline} $footer-underline-background-color, // Top righthand corner
           #{$footer-underline-outline}  #{$footer-underline-outline} $footer-underline-background-color; // Bottom righthand corner
    }

    // Sets the text shadow "outline" color to be system highlight color, for
    // browsers that support the `Highlight` keyword
    @supports #{$supports-boxshadow} {
        &::selection {
            box-shadow:
              inset 0 -#{$footer-underline-baseline-distance} $footer-underline-background-color,
              inset 0 -#{$footer-underline-thickness} $footer-underline-color;

            background-color: Highlight;

            text-shadow:
              -#{$footer-underline-outline} -#{$footer-underline-outline} Highlight, // Top lefthand corner
              -#{$footer-underline-outline} #{$footer-underline-outline} Highlight, // Bottom lefhand corner
               #{$footer-underline-outline} -#{$footer-underline-outline} Highlight, // Top righthand corner
               #{$footer-underline-outline} #{$footer-underline-outline} Highlight; // Bottom righthand corner
        }
    }

    // States
    &:hover {
        text-decoration: none;

        @supports #{$supports-boxshadow} {
            box-shadow:
              inset 0 -#{$footer-underline-baseline-distance} $footer-underline-background-color,
              inset 0 -#{$footer-underline-thickness} $footer-underline-background-color;
        }
    }

    &:focus {
        background-color: c(yellow);
        outline: em(10) solid c(yellow);

        color: c(type, dark);

        @supports #{$supports-boxshadow} {
            box-shadow:
              inset 0 -#{$footer-underline-baseline-distance} c(yellow),
              inset 0 -#{$footer-underline-thickness} c(type, dark);

            text-decoration: none;
            text-shadow:
              -#{$footer-underline-outline} -#{$footer-underline-outline} c(yellow),
              -#{$footer-underline-outline}  #{$footer-underline-outline} c(yellow),
               #{$footer-underline-outline} -#{$footer-underline-outline} c(yellow),
               #{$footer-underline-outline}  #{$footer-underline-outline} c(yellow);
        }

        &:hover {
            text-decoration: none;

            @supports #{$supports-boxshadow} {
                box-shadow:
                  inset 0 -#{$footer-underline-baseline-distance} c(yellow),
                  inset 0 -#{$footer-underline-thickness} c(yellow);
            }
        }
    }

    &:active {
        @include content-shift-click();

        &:active {
            @supports #{$supports-boxshadow} {
                box-shadow:
                  inset 0 -#{$footer-underline-baseline-distance} $footer-underline-background-color,
                  inset 0 -#{$footer-underline-thickness} $footer-underline-background-color;
                outline: none;

                background-color: $footer-underline-background-color;

                color: c(link, light);
                text-decoration: none;
                text-shadow:
                  -#{$footer-underline-outline} -#{$footer-underline-outline} $footer-underline-background-color,
                  -#{$footer-underline-outline}  #{$footer-underline-outline} $footer-underline-background-color,
                   #{$footer-underline-outline} -#{$footer-underline-outline} $footer-underline-background-color,
                   #{$footer-underline-outline}  #{$footer-underline-outline} $footer-underline-background-color;
            }
        }
    }
}


// Component Styling ----------------------------------------------------------
.c-portfolio {
    color: c(type, light);

    &__link {
       @include footer-content-underline();
    }
}
