// ============================================================================
// Component
// Portfolio
// ============================================================================


// Component Logic ------------------------------------------------------------


// Component Styling ----------------------------------------------------------
.c-portfolio {
    color: darken(c(type, light), 25%);

    &__link {
        @include button-link-background(dark-background);

        margin-right: rem(2);

        color: c(type, light);

        &:focus {
            > .c-portfolio__icon {
                fill: c(type, dark);
            }
        }

        // Modes
        @media (prefers-color-scheme: dark) {
            background: linear-gradient(to bottom, c(l-section, dark, errata) 0%, c(l-section, dark, errata) 79%, c(type, light) 80%, c(type, light) 82.4%, c(l-section, dark, errata) 82%, c(l-section, dark, errata) 100%);

            // States
            &:hover {
                background: linear-gradient(to bottom, c(l-section, dark, errata) 0%, c(l-section, dark, errata) 100%);
            }
        }
    }

    &__icon {
        @include component-size(em(15));

        margin-left: em(3);
        position: relative;
          top: em(2);

        fill: c(type, light);
    }
}
