<header
  id="section-about"
  class="[ l-center-column ] [ c-homepage-section ] [ u-color-background-blue ]">

  <h2 id="subtitle-about" class="u-hide-visually">
    About
  </h2>

  <p class="u-lede">
    I&rsquo;m Eric, a Boston-based designer working&nbsp;at&nbsp;<a href="https://thoughtbot.com/">thoughtbot</a>.
  </p>
</header>
