// ============================================================================
// Component
// Page Side Margins
// ============================================================================


/// Sets the left and right-hand margins for the overall page.
///
/// @group Components
///
/// @example scss
///  @include component-page-side-margins();


@mixin component-page-side-margins() {
    padding-left: rem(40);
    padding-right: rem(40);

    @supports #{$supports-viewportunits} {
        padding-left: 8vw;
        padding-right: 8vw;
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        padding-left: rem(100);
        pading-right: rem(100);

        @supports #{$supports-viewportunits} {
            padding-left: 12vw;
            padding-right: 12vw;
        }
    }
}
