// ============================================================================
// Component
// Button
// ============================================================================


/// Specifies uniform button treatment.
///
/// @group Components
///
/// @example scss
///  @include component-button();


@mixin component-button() {
    @include content-show-interaction(input);
    @include typography-tracking(slight);

    border-radius: $global-border-radius;
    outline: none;

    transition: background-color animation-duration(shortest) animation-ease(dialogue); // Transitions success state

    &:focus,
    &:active {
        transition: none;
    }
}
