// ============================================================================
// Content
// Underline
// ============================================================================


/// Creates a thin underline with gaps for the font's descenders. Settings
/// provide a decent default, tweak as needed. Set state effects (hover, active,
/// etc.) on a case-by-case basis. See `_links.scss`.
///
/// @group Content
///
/// @parameter {Color}       $underline-color            [currentColor]        - Sets the color of the underline
/// @parameter {Color}       $underline-background-color [c(base, background)] - Should be set to the component's background color
/// @parameter {Measurement} $underline-gap              [0.05em]              - Sets the stroke outline size
/// @parameter {Measurement} $underline-gap-minumum      [-1.5px]              - Sets the minimum outline gap
/// @parameter {Number}      $underline-opacity          [1]                   - Sets how much of the background color shows through
/// @parameter {Measurement} $underline-position         [-0.14em]             - Sets the distance of the underline from the text
/// @parameter {Measurement} $underline-size             [0.02em]              - Sets the thickness of the underline
///
/// @example scss
///  @include content-underline();
///
/// @link https://codepen.io/jonneal/pen/PzGYEE?editors=0100 Decorative Text Underline


@mixin content-underline(
    $underline-opacity: 1,
    $underline-color: currentColor,
    $underline-background-color: c(base, background),
    $underline-position: -0.14em,
    $underline-size: 0.02em,
    $underline-gap: 0.05em,
    $underline-gap-minimum: -1.5px
) {
	box-shadow:
		inset 0 calc(#{$underline-position} + #{$underline-size}) 0 0 $underline-background-color,
		inset 0 $underline-position 0 0 transparentize($underline-background-color, $underline-opacity),
		inset 0 $underline-position 0 0 $underline-color;
	text-decoration: none;
	text-shadow:
		$underline-gap 0 $underline-background-color,
		$underline-gap 0 $underline-background-color,
		$underline-gap-minimum 0 $underline-background-color,
		$underline-gap-minimum 0 $underline-color;
}
