// ============================================================================
// Content
// Underline
// ============================================================================


/// Creates a thin underline with gaps for the font's descenders. Settings
/// provide a decent default, tweak as needed. Set state effects (hover, active,
/// etc.) on a case-by-case basis. See `_links.scss`.
///
/// @group Content
///
/// @parameter {Color}       $underline-background-color  c(background, light)] - Sets the color of the background
/// @parameter {Color}       $underline-color             [currentColor]         - Sets the color of the underline
/// @parameter {Measurement} $underline-outline           [0.75px]               - Sets the width of the text outline
/// @parameter {Measurement} $underline-baseline-distance [0.15em,]              - Sets the start of the background area. The underline is "pinned" to the bottom of this area.
/// @parameter {Measurement} $underline-thickness         [0.2em]                - Sets the thickness of the underline
///
/// @example scss
///  @include content-underline();
///
/// @link https://css-tricks.com/styling-underlines-web/ CSS-Tricks: Styling Underlines on the Web


@mixin content-underline(
    $underline-background-color: c(background, light),
    $underline-color: currentColor,
    $underline-outline: em(1),
    $underline-baseline-distance: 0.1em, // Set to 0.05 less than `$underline-thickness`
    $underline-thickness: 0.15em
) {
    text-decoration: underline;

    @supports #{$supports-boxshadow} {
        box-shadow:
          inset 0 -#{$underline-baseline-distance} $underline-background-color, // Sets baseline
          inset 0 -#{$underline-thickness} $underline-color; // Sets thickness proportional to baseline
        display: inline;

        // Remove default underline
        text-decoration: none;

        // Text outline
        text-shadow:
          -#{$underline-outline} -#{$underline-outline} $underline-background-color, // Top lefthand corner
          -#{$underline-outline}  #{$underline-outline} $underline-background-color, // Bottom lefhand corner
           #{$underline-outline} -#{$underline-outline} $underline-background-color, // Top righthand corner
           #{$underline-outline}  #{$underline-outline} $underline-background-color; // Bottom righthand corner
    }

    // Sets the text shadow "outline" color to be system highlight color, for
    // browsers that support the `Highlight` keyword
    @supports #{$supports-boxshadow} {
        &::selection {
            box-shadow:
              inset 0 -#{$underline-baseline-distance} $underline-background-color,
              inset 0 -#{$underline-thickness} $underline-color;

            background-color: Highlight;

            text-shadow:
              -#{$underline-outline} -#{$underline-outline} Highlight, // Top lefthand corner
              -#{$underline-outline} #{$underline-outline} Highlight, // Bottom lefhand corner
               #{$underline-outline} -#{$underline-outline} Highlight, // Top righthand corner
               #{$underline-outline} #{$underline-outline} Highlight; // Bottom righthand corner
        }
    }

    // States
    &:hover {
        text-decoration: none;

        @supports #{$supports-boxshadow} {
            box-shadow:
              inset 0 -#{$underline-baseline-distance} $underline-background-color,
              inset 0 -#{$underline-thickness} $underline-background-color;
        }
    }

    &:focus {
        background-color: c(link, dark);
        outline: em(10) solid c(link, dark);

        color: c(link, light);

        @supports #{$supports-boxshadow} {
            box-shadow:
              inset 0 -#{$underline-baseline-distance} c(link, dark),
              inset 0 -#{$underline-thickness} $underline-color;

            text-decoration: none;
            text-shadow:
              -#{$underline-outline} -#{$underline-outline} c(link, dark),
              -#{$underline-outline}  #{$underline-outline} c(link, dark),
               #{$underline-outline} -#{$underline-outline} c(link, dark),
               #{$underline-outline}  #{$underline-outline} c(link, dark);
        }

        &:hover {
            text-decoration: none;

            @supports #{$supports-boxshadow} {
                box-shadow:
                  inset 0 -#{$underline-baseline-distance} c(link, dark),
                  inset 0 -#{$underline-thickness} c(link, dark);
            }
        }
    }

    &:active {
        @include content-shift-click();

        &:active {
            @supports #{$supports-boxshadow} {
                box-shadow:
                  inset 0 -#{$underline-baseline-distance} $underline-background-color,
                  inset 0 -#{$underline-thickness} $underline-background-color;
                outline: none;

                background-color: $underline-background-color;

                color: c(link, dark);
                text-decoration: none;
                text-shadow:
                  -#{$underline-outline} -#{$underline-outline} $underline-background-color,
                  -#{$underline-outline}  #{$underline-outline} $underline-background-color,
                   #{$underline-outline} -#{$underline-outline} $underline-background-color,
                   #{$underline-outline}  #{$underline-outline} $underline-background-color;
            }
        }
    }
}
