// ============================================================================
// Content
// Underline
// ============================================================================


/// Creates a thin underline with gaps for the font's descenders. Settings
/// provide a decent default, tweak as needed. Set state effects (hover, active,
/// etc.) on a case-by-case basis. See `_links.scss`.
///
/// @group Content
///
/// @parameter {Color}       $underline-background-color [c(background, light)] - Sets the color of the background
/// @parameter {Color}       $underline-color [currentColor] - Sets the color of the underline
/// @parameter {Measurement} $underline-thickness              [0.175em,] - Sets the thickness of the underline in ems
/// @parameter {Measurement} $underline-distance-from-baseline [0.2em] - Sets the distance of the underline from the type's basline
///
/// @example scss
///  @include content-underline();
///
/// @link https://css-tricks.com/styling-underlines-web/ CSS-Tricks: Styling Underlines on the Web


@mixin content-underline(
    $underline-background-color: c(background, light),
    $underline-color: currentColor,
    $underline-thickness: 0.175em,
    $underline-distance-from-baseline: 0.2em
) {
    // Text outline
    text-shadow:
     -2px -2px $underline-background-color, // Top lefthand corner
     -2px 2px $underline-background-color, // Bottom lefhand corner
      2px -2px $underline-background-color, // Top righthand corner
      2px 2px $underline-background-color; // Bottom righthand corner

    // Underline
    background-size: 1px 1em;
    box-shadow:
      inset 0 -$underline-thickness $underline-background-color,
      inset 0 -$underline-distance-from-baseline $underline-color;
    display: inline;
}
