// ============================================================================
// Generate
// Message
// ============================================================================


/// Generates a message after a piece of comment. Typically used to give it
/// attribution or commentary.
///
/// @group Generate
///
/// @parameter {String} $message - Specifies the message.
///
/// @example scss
///  @include generate-message(The rain in spain falls mainly on the plain);


@mixin generate-message($message) {
    &::after {
        @include typography-tracking(slight);

        content: "#{$message}";

        display: block;
        margin-top: rem(5);

        font-size: 80%;
    }
}
