// TYPOGRAPHY
// Hyphenation


/// Use `&shy;` to  insert a hyphenation hint.
///
/// @group Typography
///
/// @example scss
///  @include typography-hyphenation();


@mixin typography-hyphenation($add-or-remove) {
    @if ($add-or-remove == "add") {
        word-break: break-word;
        hyphens: auto;
        hyphenate-limit-chars: 6 3 2;
        hyphenate-limit-lines: 2;
        hyphenate-limit-last: always;
        hyphenate-limit-zone: 8%;
    }

    @else if ($add-or-remove == "remove") {
        word-break: normal;
        hyphens: none;
    }

    @else {
        @error "`#{$add-or-remove}`"
        + $meta-invalid-argument
        + $meta-invalid-argument-select-either
        + "`add` or `remove`";
    }
}


// TOGGLES --------------------------------------------------------------------
// Enables functional class toggles. See `_toggles.scss`
@if $toggle-typography-hyphenation-add == true {
    .typography-hyphenation-add {
        @include typography-hyphenation(add);
    }
}

@if $toggle-typography-hyphenation-remove == true {
    .typography-hyphenation-remove {
        @include typography-hyphenation(remove);
    }
}
