// ============================================================================
// Component
// Attribution
// ============================================================================


// Component Styling ----------------------------------------------------------
.c-attribution {
    border-top: border(thinnest) solid c(l-content, background-title);
    margin-top: ms(10, $unit: rem);
    padding-top: ms(0, $unit: rem);

    // Modes
    @media (prefers-color-scheme: dark) {
        border-top-color: c(l-content, dark, background-title);
    }

    p {
        font-size: ms(-1, $unit: em);
        line-height: 1.5;
    }
}
