<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/Webpage">
<head>
  {% include "meta/charset-viewport.njk" %}

  {% include "meta/title-description-author.njk" %}
  {% include "meta/feed-sitemap.njk" %}

  {# {% include "meta/styles.njk" %} #}
  {% include "meta/icons-theming.njk" %}
  {% include "meta/social-media.njk" %}

  {% include "meta/scripts/mustard-cutting.njk" %}
  {% include "meta/performance.njk" %}
</head>
<body itemscope itemtype="http://schema.org/ProfilePage">

{% include "components/skipnav.njk" %}

<header id="section-banner" style="background-color: #f5ed52; font-family: sans-serif; padding: 0.25rem 1.5rem;">
  <h2 id="this-site-is-updating-in-the-open">
    This site is updating in the open
  </h2>
  <p>
    Things might look a little janky here for a bit, but that’s okay! I am in the process of replatforming this site to use <a style="color: #000000;" href="https://www.11ty.dev/">Eleventy</a>, as well as refresh the design. Follow along on <a style="color: #000000;" href="https://github.com/ericwbailey/ericwbailey.design">GitHub</a>.
  </p>
</header>

{# {% include "icon-sprite.njk" %} #}
{# {% include "components/honeypot.njk" %} #}
