img,
figure,
picture {
  @include responsify();

  text-align: center;
  vertical-align: middle;
}


img,
picture {

}


img {
  @media (inverted-colors: inverted) {
    filter: invert(100%);
  }
}


figure {

  img {
    display: block;
  }

  figcaption {

  }
}


picture {

}
