b,
strong {
  font-weight: var(--font-weight-bold);
}


em,
i {
  font-style: italic;

  // Cites within italicized text
  cite {
    font-style: normal;
  }
}


abbr {

}


b {

}


// http://html5doctor.com/element-index/#bdi
bdi {

}


// http://html5doctor.com/element-index/#bdo
bdo {

}


del {

}


dfn {
  letter-spacing: var(--tracking-loose);
}


em {

}


i {

}


ins {
  border-bottom: var(--border-thinnes) double currentColor;
}


mark {
  background-color: var(--color-yellow);
  color: var(--color-gray-shad);
}


// http://html5doctor.com/element-index/#ruby
ruby {

}


// http://html5doctor.com/element-index/#rp
rp {

}


// http://html5doctor.com/element-index/#rt
rt {

}


s {

}


small {
  font-size: 80%; // Use `.paragraph-legal` for larger sections of text. See `_paragraphs.scss`
}


strong {

}


sub {
  @include typography-subscript();
}


sup {

}


time {

}


u {

}
