<!-- Start of #section-writing -->
<section
    id="section-writing"
    class="o-writing"
    role="region"
    aria-labelledby="subtitle-writing"
    style="background-color:#69DDAE">

    <h2 class="page__subtitle" id="subtitle-writing">
        Writing
    </h2>

    <p>
        Here are some topics of interest I've written about:
    </p>

    <ul>
        <li>
            <a rel="external noopener" href="https://css-tricks.com/accessible-svgs-high-contrast-mode/">Accessible SVGs in High Contrast Mode | CSS-Tricks</a>
        </li>
        <li>
            <a rel="external noopener" href="https://cantina.co/building-a-better-button-in-css/">Building a better button in CSS | Cantina</a>
        </li>
        <li>
            <a rel="external noopener" href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization/">Instituting a culture of accessibility in your organization: Part I | Cantina</a>
        </li>
        <li>
            <a rel="external noopener" href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization-part-ii/">Instituting a culture of accessibility in your organization: Part II | Cantina</a>
        </li>
        <li>
            <a rel="external noopener" href="https://cantina.co/battery-status-api-we-need-to-talk/">Battery Status API: We need to talk | Cantina</a>
        </li>
        <li>
            <a rel="external noopener" href="https://cantina.co/organizational-buy-in-on-responsive-design/">Organizational buy-in on Responsive Design | Cantina</a>
        </li>
    </ul>

</section>
<!-- End of #section-writing -->
