// ============================================================================
// Layout
// Dialog
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.l-dialog {
    @include component-page-side-margins();

    padding-top: rem(12);
    padding-bottom: rem(25);
    position: fixed;
      bottom: 0;
    width: 100%;
    z-index: z(ceiling);

    background-color: c(l-dialog, background);

    box-shadow: shadow(large) c(l-dialog, shadow);

    @supports #{$supports-viewportunits} {
        padding-top: 2vh;
        padding-bottom: 4vh;
    }

    // States
    &[aria-hidden="true"] {
        @include content-hide(remove);
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        padding-top: rem(30);
        padding-bottom: rem(60);

        @supports #{$supports-viewportunits} {
            padding-top: 3.5vh;
            padding-bottom: 7vh;
        }
    }

    &__email-address {
        // Breakpoints
        @include mappy-bp(lap-small) {
            float: left;
            width: rem(290);
            margin-right: rem(60);
        }
    }

    &__email-services {
        // Breakpoints
        @include mappy-bp(lap-small) {
            margin-top: rem(42); // Lines services up vertically with email address input field
            float: left;
            width: calc(100% - #{rem(450)});
        }
    }

    &__controls {
        // Breakpoints
        @include mappy-bp(lap-small) {
            float: right;
            width: rem(100);
        }
    }
}
