// ============================================================================
// Layout
// Dialog
// ============================================================================


// Component Logic ------------------------------------------------------------
@keyframes slide-in-up {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}


// @keyframes slide-out-down {
//   from {
//     transform: translate3d(0, 0, 0);
//   }
//
//   to {
//     visibility: hidden;
//     transform: translate3d(0, 100%, 0);
//   }
// }


// Component Styling ----------------------------------------------------------
.l-dialog {
    @include component-page-side-margins();

    padding-top: rem(12);
    padding-bottom: rem(25);
    position: fixed;
      bottom: 0;
    width: 100%;
    z-index: z(l-dialog);

    background-color: c(l-dialog, background);

    box-shadow: shadow(large) c(l-dialog, shadow);

    @supports #{$supports-viewportunits} {
        padding-top: 2vh;
        padding-bottom: 4vh;
    }

    // States
    &[aria-hidden="true"] {
        @include content-hide(remove);
    }

    &.js-slide-in-up {
        animation-duration: animation-duration(shorter);
        animation-fill-mode: both;
        animation-name: slide-in-up;
    }

    // &.js-slide-out-down {
    //     animation-duration: animation-duration(shorter);
    //     animation-fill-mode: both;
    //     animation-name: slide-out-down;
    // }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        padding-top: rem(30);
        padding-bottom: rem(60);

        @supports #{$supports-viewportunits} {
            padding-top: 3.5vh;
            padding-bottom: 7vh;
        }
    }

    &__email-address {
        z-index: z(l-dialog-email-address);

        // Breakpoints
        @include mappy-bp(lap-small) {
            @include component-align(float, start);

            width: rem(290);
            margin-right: rem(60);
        }
    }

    &__email-services {
        z-index: z(l-dialog-email-services);

        // Breakpoints
        @include mappy-bp(lap-small) {
            @include component-align(float, start);

            margin-top: rem(42); // Lines services up vertically with email address input field
            width: calc(100% - #{rem(450)});
        }
    }

    &__controls {
        z-index: z(l-dialog-controls);

        // Breakpoints
        @include mappy-bp(lap-small) {
            @include component-align(float, end);

            width: rem(100);
        }
    }
}
