<!-- #a11y-dialog -->
<div class="l-dialog" id="a11y-dialog" aria-hidden="true">
    <div tabindex="-1" data-a11y-dialog-hide></div>
    <div role="dialog" aria-labelledby="subtitle-dialog">
        <div class="c-dialog" role="document">

            <h2
                id="subtitle-dialog"
                class="content-hide-visually"
                tabindex="0">
                Contact me
            </h2>

            <div class="l-dialog__email-address">

                <label
                    class="c-dialog__label"
                    for="input-email">
                    <span class="content-hide-visually">My email address</span>
                    <input
                        id="input-email"
                        class="c-dialog__input"
                        name="email"
                        readonly
                        type="text"
                        value="%CONTACT%">
                </label>

                <button
                    id="button-copy"
                    class="c-button__copy"
                    data-clipboard-target="#input-email"
                    name="copy"
                    type="button">
                    <svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon c-button__icon"><use xlink:href="#icon-clipboard"></use></svg>
                    Copy<span class="content-hide-visually"> email address</span>
                </button>

            </div>

            <div class="l-dialog__email-services">

                <h3 id="subtitle-service" class="content-hide-visually">
                    {{content.dialog.title}}
                </h3>

                {{>components/c-services/c-services}}

            </div>

            <div class="l-dialog__controls">

                <button
                    id="button-close"
                    class="c-button__close"
                    data-a11y-dialog-hide
                    type="button">
                    <svg height="20" width="20" aria-hidden="true" viewBox="0 0 100 100" class="icon c-button__icon"><use xlink:href="#icon-close"></use></svg>
                    Close<span class="content-hide-visually"> this dialog window</span>
                </button>

            </div>

        </div>
    </div>
</div>
