---
layout: layouts/landing.njk
title: Colophon
lede: This website was first published in the winter of 2016 in <a href="http://www.somervillema.gov/">Somerville, Massachusetts</a>. It was built on a Mid 2014 MacBook Pro using <a href="https://github.com/ericwbailey/enchilada">enchilada, a personal project boilerplate</a>.
eleventyNavigation:
  key: Colophon
  parent: Landing
  order: 5
---

<p>
  This website was then updated to use <a href="https://www.11ty.dev/">Eleventy</a> in the Winter of 2020. It&rsquo;s code is <a href="https://github.com/ericwbailey/ericwbailey.design">hosted on Git&#8202;Hub</a>, with a <a href="https://iwantmyname.com/">domain name provided by iwantmyname</a>. Deploys are managed by <a href="https://www.netlify.com/">Netlify</a>.
</p>
<p>
  More information about the technology used to make this website is available in its <a href="{{ '/humans.txt' | url }}"><code class="u-letter-break-none">humans.txt</code> file</a>.
</p>
<p>
  The website is set in <a href="https://typekit.com/fonts/abril/details/abril-text-regular">Abril</a>, an editorial typeface inspired by nineteenth century Slab Serif and Scotch Roman type. Abril was made by the Czech foundry <a href="http://www.type-together.com/">Type Together</a>, and is (begrudgingly) hosted by <a href="https://fonts.adobe.com/">Adobe Fonts</a>.
</p>
<p>
  Website components are built using relative-sized units set to a <a href="http://type-scale.com/?size=16&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333">Perfect Fourth modular scale</a>. You can reference <a href="https://color.adobe.com/ericwbailey-color-theme-9083628/">the main site palette on Adobe Color</a>.
</p>
<p id="browser-list" class="c-target-link">
  Testing was conducted in a variety of browsers, including the latest versions of <a href="https://www.google.com/chrome/">Chrome</a>, <a href="https://www.microsoft.com/en-us/windows/microsoft-edge/microsoft-edge">Edge</a>, <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://www.opera.com/">Opera</a>, <a href="http://www.apple.com/safari/">Safari</a>, and <a href="https://vivaldi.com/?lang=en_US">Vivaldi</a>. Issues with the site&rsquo;s operation can be submitted as a <a href="https://github.com/ericwbailey/ericwbailey.design/issues">GitHub issue</a>. Please be sure to observe <a href="https://github.com/ericwbailey/ericwbailey.design/blob/master/CONTRIBUTING.md">the contributing guidelines</a> and <a href="https://github.com/ericwbailey/ericwbailey.design/blob/master/ISSUE_TEMPLATE.md">the issue template</a>.
</p>
<p>
  A <a href="{{ '/sitemap.xml' | url }}">sitemap</a> is available, although this site isn&rsquo;t very complex. It also uses <a href="https://get.gaug.es/">Gauges analytics</a>, but not for anything sinister on my end of things. Additionally, a <a href="feed/feed.xml"><abbr>RSS</abbr> feed</a> is available.
</p>
<p>
  This site is also a proud member of the <span class="c-hotline-webring"><a class="c-hotline-webring__previous" href="https://hotlinewebring.club/eric/previous">&#9754; <span class="u-hide-visually">Previous webring website</span></a>&nbsp;<a class="c-hotline-webring__homepage" href="https://hotlinewebring.club/">Hotline&nbsp;Webring</a>&nbsp;<a class="c-hotline-webring__next" href="https://hotlinewebring.club/eric/next"><span class="u-hide-visually">Next webring website</span> &#9755;</a></span>
</p>
