// ============================================================================
// Component
// Accessibility Issues
// ============================================================================


// Component Logic ------------------------------------------------------------
@keyframes fade-in {
    from, 0%, to {
        animation-timing-function: animation-ease(dialogue);
    }

    0% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


// Component Styling ----------------------------------------------------------
.c-target-link {
    &:target {
        &::before {
            @include component-align(float, start);
            @include component-size(rem(30), rem(30));
            @include generate-unicode-symbol($symbol-manicule-full);

            display: block;
            margin-top: rem(-3);
            margin-left: -10vw;

            font-size: ms(1, $unit: em);
            text-align: right;

            animation-duration: animation-duration(long);
            animation-fill-mode: both;
            animation-iteration-count: 1;
            animation-name: fade-in;

            // Breakpoints
            @include mappy-bp(wrist-large) {
                margin-left: -8vw;
            }

            @include mappy-bp(palm-small) {
                margin-left: -7vw;
            }

            @include mappy-bp(palm-medium) {
                margin-top: rem(-10);

                font-size: ms(1, $unit: em);
            }

            @include mappy-bp(lap-small) {
                margin-top: rem(-11);
            }
        }
    }
}
