<link
  rel="alternate"
  href="{{ '/feed/feed.xml' | url }}"
  type="application/atom+xml"
  title="{{ metadata.author.name }}" />
<link
  rel="sitemap"
  type="application/xml"
  title="Sitemap"
  href="{{ '/sitemap.xml' | url }}" />
