<div itemprop="author" itemscope itemtype="https://schema.org/Person">
  <meta itemprop="name" content="{{ title }}">
</div>
<meta itemprop="datePublished" content="2019-11-06T12:00:00Z">
<meta itemprop="image" content="{{ '/static/favicons/social/twitter-summary-image.png' | url }}">
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <meta itemprop="name" content="{{ metadata.title }}">
  <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <div itemprop="url" content="{{ '/static/favicons/social/twitter-summary-image.png' | url }}"></div>
  </div>
</div>
