// ============================================================================
// Borders
// ============================================================================


/// REVIEW: Remember to update these values to match the design.
///
/// @group general
///
/// @property {String} key - Aliases for border widths.
///
/// @see {variable} global-border-radius


$borders: (
    thickest: 1.5vw,
    thicker:  7px,
    thick:    0.5em, // 10 / $global-type-size
    thin:     0.2em, // 4 / $global-type-size
    thinner:  3px,
    thinnest: 1px
);
