// ============================================================================
// Colors
// ============================================================================


/// Basic, component, and subcomponent color names.
///
/// @group general
///
/// @property {Color} key - Aliases for specific colors



$colors: (

    // Basics -----------------------------------------------------------------
    // http://clrs.cc/
    aqua:    #7fdbff,
    black:   #111111,
    blue:    #0074d9,
    fuchsia: #f012be,
    gray:    #aaaaaa,
    green:   #2ecc40,
    lime:    #01ff70,
    maroon:  #85144b,
    navy:    #001f3f,
    olive:   #3d9970,
    orange:  #ff851b,
    purple:  #b10dc9,
    red:     #ff4136,
    silver:  #dddddd,
    teal:    #39cccc,
    yellow:  #ffdc00,


    // Backgrounds ------------------------------------------------------------
    background: (
        dark:  #4a4a4a,
        light: #ffffff
    ),


    // Type -------------------------------------------------------------------
    type: (
        dark:  #4a4a4a,
        light: #ffffff
    ),


    // Links -------------------------------------------------------------------
    link: (
        dark:  #4a4a4a,
        light: #ffffff
    ),


    // Sections ---------------------------------------------------------------
    l-content: (
        background-secondary: #e8e8e8
    ),


    l-section: (
        about:      #48d7e7,
        contact:    #ffffff,
        errata:     #4a4a4a,
        interests:  #f5ed52,
        philosophy: #ff8764,
        portfolio:  #4a4a4a,
        projects:   #e8e8e8,
        writing:    #69ddae
    ),


    // Components -------------------------------------------------------------
    breadcrumb: (
        background-base:  #4a4a4a,
        background-hover: #111111
    ),


    skipnav: (
        background:  #111111,
        border:      #ffff00,
        shadow:      #111111,
        link-base:   #7fdbff,
        link-hover:  #ffffff,
        link-active: #7f7cff
    )

);
