// ============================================================================
// Colors
// ============================================================================


/// Basic, component, and subcomponent color names.
///
/// @group general
///
/// @property {Color} key - Aliases for specific colors



$colors: (

    // Basics -----------------------------------------------------------------
    // http://clrs.cc/
    aqua:    #7fdbff,
    black:   #111111,
    blue:    #0074d9,
    fuchsia: #f012be,
    gray:    #aaaaaa,
    green:   #2ecc40,
    lime:    #01ff70,
    maroon:  #85144b,
    navy:    #001f3f,
    olive:   #3d9970,
    orange:  #ff851b,
    purple:  #b10dc9,
    red:     #ff4136,
    silver:  #dddddd,
    teal:    #39cccc,
    yellow:  #ffdc00,


    // States -----------------------------------------------------------------
    validation: (
        success: #69ddae,
        error:   #ff8764
    ),


    // Backgrounds ------------------------------------------------------------
    background: (
        dark:  #4a4a4a,
        light: #ffffff
    ),


    // Type -------------------------------------------------------------------
    type: (
        dark:  #4a4a4a,
        light: #ffffff
    ),


    // Links -------------------------------------------------------------------
    link: (
        dark:  #4a4a4a,
        light: #ffffff
    ),


    // Buttons ----------------------------------------------------------------
    button: (
        background-base:   #e8e8e8,
        background-active: #4a4a4a,
        text-base:         #4a4a4a,
        text-active:       #ffffff
    ),


    // Inputs -----------------------------------------------------------------
    input: (
        border-base:   #e8e8e8,
        border-active: #4a4a4a
    ),


    // Sections ---------------------------------------------------------------
    l-content: (
        background-title:     #e8e8e8,
        background-content:   #ffffff,
        border-404:           #ff8764,
        border-accessibility: #48d7e7,
        border-colophon:      #faafe1,
        border-old-stuff:     #f5ed52,
        border-writing:       #69ddae
    ),

    l-dialog: (
        background: #ffffff,
        shadow:     #111111
    ),

    l-section: (
        about:      #48d7e7,
        contact:    #ffffff,
        errata:     #4a4a4a,
        passions:   #f5ed52,
        philosophy: #ff8764,
        portfolio:  #4a4a4a,
        projects:   #e8e8e8,
        speaking:   #faafe1,
        writing:    #69ddae
    ),


    // Components -------------------------------------------------------------
    c-breadcrumb: (
        background-base:  #4a4a4a,
        background-hover: #111111,
        background-focus: #ffffff,
        outline-base:     #ffffff,
        outline-hover:    #111111,
        outline-focus:    #111111,
        text-base:        #ffffff,
        text-focus:       #4a4a4a
    ),

    c-service: (
        text-base:         #4a4a4a,
        text-active:       #ffffff,
        background-hover:  #dddddd,
        background-active: #4a4a4a
    ),

    c-skipnav: (
        background:  #111111,
        border:      #f5ed52,
        shadow:      #111111,
        link-base:   #48d7e7,
        link-hover:  #ffffff,
        link-active: #48d7e7
    )

);
