// ============================================================================
// Shadows
// ============================================================================


/// REVIEW: Remember to update these values to match the design.
///
/// @group general
///
/// @property {String} key - Aliases for shadow size.
///
/// @link http://www.cssmatic.com/box-shadow CSSmatic: Box Shadow

$shadows: (
    large:  0 -0.125rem 5.555rem -1.111rem,
    medium: 0 0.5rem 1rem 0,
    small:  0 0.25rem 1rem 0
);
