// ============================================================================
// Typography
// Tracking
// ============================================================================


/// Controls the spacing between letters, based off the set global type size.
///
/// @group Typography
///
/// @property {String} key - Aliases for tracking distances
///
/// @see {variable} global-type-size


$tracking: (
    tightest: -(7 / strip-unit($global-type-size)) + em, // 7px
    tighter:  -(5 / strip-unit($global-type-size)) + em, // 5px
    tight:    -(3 / strip-unit($global-type-size)) + em, // 3px
    slight:    (1 / strip-unit($global-type-size)) + em, // 1px
    loose:     (3 / strip-unit($global-type-size)) + em, // 3px
    looser:    (5 / strip-unit($global-type-size)) + em, // 5px
    loosest:   (7 / strip-unit($global-type-size)) + em // 7px
);
