// ============================================================================
// Typography
// Tracking
// ============================================================================


/// REVIEW: Remember to update these values if you change `$global-type-size`.
///
/// @group Typography
///
/// @property {String} key - Aliases for tracking distances
///
/// @see {variable} global-type-size


$tracking: (
    tightest: -0.35em, // 7px @ 20px
    tighter:  -0.25em, // 5px @ 20px
    tight:    -0.15em, // 3px @ 20px
    slight:    0.05em, // 1px @ 20px
    loose:     0.15em, // 3px @ 20px
    looser:    0.25em, // 5px @ 20px
    loosest:   0.35em // 7px @ 20px
);
