// ============================================================================
// Typography
// Tracking
// ============================================================================


/// Controls the spacing between letters, based off the set global type size.
///
/// @group Typography
///
/// @property {String} key - Aliases for tracking distances
///
/// @see {variable} global-type-size


$tracking: (
    tightest: -5px, // 7px
    tighter:  -3px, // 5px
    tight:    -2px, // 3px
    slight:    1px, // 1px
    loose:     2px, // 3px
    looser:    3px, // 5px
    loosest:   5px // 7px
);
