// ============================================================================
// Z-index
// ============================================================================


/// Z-index names.
///
/// @group general
///
/// @property {Number} key - Aliases for layouts, objects, components, etc.


$z-index: (
    // Banish things out of sight
    basement: -999999,


    // Layout -----------------------------------------------------------------
    l-section: 1000,
    l-content: 1000,


    // Component --------------------------------------------------------------
    c-home: 3000,


    // Pop up/over UI elements ------------------------------------------------
    l-dialog: 4000,
        l-dialog-email-address: 4010,
        l-dialog-email-services: 4010,
        l-dialog-controls: 4010,


    // Ensure things are displayed
    ceiling: 999999
);
