// ============================================================================
// Component
// Home
// ============================================================================


// Component Logic ------------------------------------------------------------
$c-home-outline-small: em(3);


// Component Styling ----------------------------------------------------------
.c-home {
    padding: ms(-1, $unit: rem) ms(2, $unit: rem);
    position: fixed;
      bottom: ms(0, $unit: rem);
      right: ms(0, $unit: rem);
    z-index: z(c-home);

    outline: $c-home-outline-small solid c(c-home, outline-base);

    background-color: c(c-home, background-base);

    color: c(c-home, text-base);
    font-size: em(16);
    text-decoration: none;

    transition:
      background-color animation-duration(short) animation-ease(background),
      bottom animation-duration(shortest) animation-ease(background),
      right animation-duration(shortest) animation-ease(background);

    // States
    &:active {
        position: fixed;
        bottom: 0;
    }

    &:hover {
        background-color: c(c-home, background-hover);

        // Modes
        @media (prefers-color-scheme: dark) {
            background-color: c(c-home, dark, background-hover);
        }

        &:focus {
            background-color: c(c-home, background-hover);

            color: c(c-home, text-base);

            outline: none;

            transition: none;

            // Modes
            @media (prefers-color-scheme: dark) {
                background-color: c(c-home, dark, background-hover);

                color: c(c-home, dark, text-base);
            }
        }
    }

    &:focus {
        background-color: c(c-home, background-focus);

        outline: border(thin) solid c(c-home, outline-focus);

        color: c(c-home, text-focus);

        transition: none;

        // Modes
        @media (prefers-color-scheme: dark) {
            background-color: c(c-home, dark, background-focus);

            outline: border(thin) solid c(c-home, dark, outline-focus);

            color: c(c-home, dark, text-focus);
        }
    }

    // Modes
    @media (prefers-color-scheme: dark) {
        background-color: c(c-home, dark, background-base);

        color: c(c-home, dark, text-base);
    }

    // Breakpoints
    @include mappy-bp(wrist-large) {
        bottom: ms(1, $unit: rem);
        right: ms(1, $unit: rem);
    }

    @include mappy-bp(palm-medium) {
        bottom: initial;
        padding: ms(-1, $unit: rem) ms(1, $unit: rem);
        right: ms(-10, $unit: rem);
        top: ms(9, $unit: rem);
        transform: rotate(90deg);

        outline: none;
    }
}
