---
gridLayout: grid-landing
templateClass: template-landing
---

{% include "head.njk" %}

{% include "components/logo.njk" %}

{% include "banner.njk" %}

<main
  id="section-main"
  class="content">

  <h1
    id="title"
    aria-current="page">
    {{ title | safe }}
  </h1>

  <div
    id="content"
    class="flow post__content">
    <p>
      {{ lede | safe }}
    </p>

    {{ content | safe }}
  </div>
</main>

<div
  id="sidebar"
  class="[ flow ] [ sidebar ]">

  {% include "nav/primary.njk" %}
  {% include "nav/secondary.njk" %}
</div>
