---
gridLayout: grid-post
templateClass: template-posts
---

{% include "head.njk" %}

{% include "banner.njk" %}

<main
  id="section-main"
  class="content"
  itemscope itemtype="https://schema.org/BlogPosting">
  <meta itemprop="mainEntityOfPage" content="{{ title | slugify | url }}">

  <p class="breadcrumb">
    <a href="{{ '/' | url }}">Home</a> <span aria-hidden="true">➞</span> <a href="{{ '/writing/' | url }}">Writing</a>
  </p>
  <h1
    id="title"
    style="margin-top:0; margin-bottom: var(--scale4);"
    aria-current="page"
    itemprop="name headline">
    {{ title | safe }}
  </h1>

  <div
    id="content"
    class="flow post__content"
    itemprop="articleBody">
    {{ content | safe }}

    <div class="metadata">
      <p class="publish-date" >
        Published on
        <time id="date-published" datetime="{{ date | htmlDateString }}">
          {{ date | readableDate }}.
        </time>

        {% if originallyPublished %}
          {% for source in originallyPublished %}
            Originally published at <a href="{{ source.url }}">{{ source.title }}</a>.
          {% endfor %}
        {% endif %}

        {% if tweetThread %}
          {% for thread in tweetThread %}
            Sourced from <a href="{{ thread.url }}">a Tweet thread</a>, posted on {{ thread.date }}.
          {% endfor %}
        {% endif %}

        {% set comma = joiner() %}
        {% for tag in tags -%}
          {{ comma() }} <a class="post-tag" href="{{ '/tags/' + tag | url }}">{{ tag }}</a>
        {%- endfor %}.
      </p>
    </div>

    {% if (responses) or (translations) or (furtherReading) or (attribution) %}
    <div
      id="additional"
      class="additional flow">

      {% if attribution %}
      <aside
        aria-label="Attribution"
        class="attribution">
        <p>
          {{ attribution | safe }}
        </p>
      </aside>
      {% endif %}

      {% if translations %}
      <h2 id="translations">
        Translations
      </h2>
      <ul>
        {% for lang in translations %}
        <p>This post has been <a href="{{ lang.url }}">translated into {{ lang.language }}</a> by <a href="{{ lang.translatorUrl }}">{{ lang.translatorName }}</a>.</p>
        {% endfor %}
      </ul>
      {% endif %}

      {% if furtherReading %}
      <h2 id="further-reading">
        Further reading
      </h2>
      <ul>
        {% for link in furtherReading %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
          <span style="display: block; font-size: var(--scale1);">{{ link.source }}</span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endif %}
  </div>
</main>

{% include "foot.njk" %}

{% include "meta/post-info.njk" %}
