$supports-boxshadow: "(box-shadow: 10px 10px 10px 10px currentColor)";

$supports-flexbox: "(display: flex)";

$supports-grid: "(display: grid)";

$supports-hanging-punctuation: "(hanging-punctuation: first)";

$supports-mix-blend-mode: "(mix-blend-mode: saturation)";

$supports-subgrid: "(grid-template-columns: subgrid)";

$supports-viewportunits: "(padding: 1vw)";
