// ============================================================================
// Body
// ============================================================================


body {
    overflow-x: hidden;

    font-size: em(17);

    transition: font-size animation-duration(shorter) animation-ease(background);

    // States
    .wf-loading & {
        padding-top: em(4); // Keeps the padding from pushing the document down that would occur if declared on `html`. See `_html.scss` for line height.
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        font-size: calc(1em + 0.1vw);
    }
}

// Lobotomized Owl selector provides default vertical spacing:
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
// body * + * {
//     margin-top: ms(1, rem);
// }
