// ============================================================================
// Body
// ============================================================================


body {
    overflow-x: hidden;
    overflow-y: scroll; // Force scrollbars to always be visible to prevent awkward jumps when navigating between pages

    font-size: em(17);

    opacity: 1; // For when `.is-faded` is removed

    transition: opacity animation-duration(long); // Transitions `.is-faded`

    // Breakpoints
    @include mappy-bp(palm-medium) {
        font-size: calc(1em + 0.1vw);
    }

    // States
    &.is-faded {
        opacity: 0;
        transition: none;
    }

    &.js-body-is-blurred {
        filter: grayscale(1);
    }
}
