// ============================================================================
// Body
// ============================================================================


body {
    overflow-x: hidden;

    color: c(type, dark);
    font-size: em(16);

    transition: animation-duration(shortest) font-size animation-ease(background);

    // Breakpoints
    @include mappy-bp(x-small) {
        font-size: calc(1em + 0.1vw);
    }
}

// Lobotomized Owl selector provides default vertical spacing:
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
// body * + * {
//     margin-top: ms(1, rem);
// }
