// ============================================================================
// Reset
// ============================================================================


// Tweaks that sit on top of `normalize.css`

// Zeroing --------------------------------------------------------------------
// Zeroes out all HTML elements to allow uniform component-level styling. Tag
// ordering via HTML5 Doctor's Element Index:
// http://html5doctor.com/

// Sections
body, article, nav, aside, section, header, footer, h1, h2, h3, h4, h5, h6,
main, address,

// Grouping
p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div,

// Tables
table, caption, thead, tbody, tfoot, tr, th, td, col, colgroup,

// Forms
form, fieldset, legend, label, input, button, select, datalist, optgroup,
option, textarea, keygen, output, progress, meter,

// Interactive
details, summary, command, menu,

// Edits
del, ins,

// Embedded
img, iframe, embed, object, param, video, audio, source, canvas, track, map,
area,

// Text-level
a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup,
time, code, kbd, samp, var, mark, bdi, bdo, ruby, rt, rp, span, br, wbr {
    margin: 0;
    padding: 0;
    vertical-align: baseline;

    border: 0;

    font: inherit;
}


// Element Tweaks -------------------------------------------------------------

// Removes borders from linked images
a img {
    border: none;
}


// Give a help cursor to elements that give extra info on `:hover`.
abbr[title],
dfn[title] {
    cursor: help;
}


// Remove default table spacing
table {
  border-collapse: collapse;
  border-spacing: 0;
}


[aria-busy="true"],
[disabled] {
    cursor: not-allowed;
}


// Selects all content in a read-only input field
input:not([type="button"]):not([type="checkbox"]):not([type="radio"]),
textarea {
    &:read-only {
        user-select: all;
    }
}


ol,
ul {
    li {
        list-style: none;
    }

    ol,
    ul {
        margin-top: ms(1, em);
    }
}


// Better control over ordered lists
ol {
    counter-reset: default-ordered-list;

    li {
        &::before {
            display: inline-block;
            margin-right: ms(0.5, em);
            width: 1em;

            text-align: left;
            text-align: end;

            content: counter(default-ordered-list);
	        counter-increment: default-ordered-list;
        }

        // Nested ordered list
        ol {

            li {
                &::before {
                    content: counter(default-ordered-list, lower-roman);
                }
            }
        }
    }
}
