.grid {
  padding: $global-bleed;

  @media screen and (min-width: map-get($breakpoint, "large")) {
    display: grid;
    grid-template-rows: auto;
    padding: 0;
  }
}

.grid__home {
  @media screen and (min-width: map-get($breakpoint, "large")) {
    grid-template-columns: 1fr;
  }
}


.grid__post {
  @media screen and (min-width: map-get($breakpoint, "large")) {
    grid-template-columns: var(--scale5) 1fr repeat(7, 6ch) repeat(5, 1fr);
    grid-template-areas:
      "logo . banner     banner     banner     banner     banner     banner     banner     . . sidebar sidebar sidebar"
      "logo . content    content    content    content    content    content    content    . . sidebar sidebar sidebar"
      "logo . additional additional additional additional additional additional additional . . sidebar sidebar sidebar";
  }
}
