// ============================================================================
// Component
// Currently Learning
// ============================================================================


// Component Logic ------------------------------------------------------------


// Component Styling ----------------------------------------------------------
.c-currently-learning {
    margin-top: ms(2);

    &__link {
        @include content-underline($underline-background-color: c(l-section, interests));
    }

    &[data-learning-status] {
        @include generate-message("(It's going okay)");
    }
}
