<p class="c-currently-learning" data-learning-status>
    <a
        class="c-currently-learning__link"
        rel="external noopener"
        href="https://abookapart.com/products/javascript-for-web-designers">
        I'm currently learning JavaScript
    </a>
</p>
