<p class="c-currently-learning">
    <a
        class="c-currently-learning__link"
        data-learning-status
        rel="external noopener"
        href="https://abookapart.com/products/javascript-for-web-designers">
        I'm currently learning JavaScript
    </a>
</p>
