<div
  class="u-color-background-gray"
  id="section-navigation">
  <h2 id="subtitle-navigation" class="u-hide-visually">
    Navigation
  </h2>

  <nav id="nav-primary" aria-label="Primary">
    {% set navPrimary = navigation.primary %}
    <ul
      itemscope
      itemtype="https://schema.org/SiteNavigationElement">
      {% for navItem in navPrimary %}
      <li>
        <a
          class="u-color-text-white"
          itemprop="url"
          href="/{{ navItem.title | slugify | url }}/">
          {{ navItem.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <nav id="nav-primary" aria-label="Secondary">
    {% set navSecondary = navigation.secondary %}
    <ul>
      {% for navItem in navSecondary %}
      <li>
        <a
          class="u-color-text-white"
          {% if navItem.rel %}
            rel="{{ navItem.rel }}"
          {% endif %}
          {% if navItem.schema %}
            itemprop="{{ navItem.schema }}"
          {% endif %}
          href="{{ navItem.url }}">
          <abbr>{{ navItem.title }}</abbr>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
