@mixin _core-background-color() {
  background-color: var(--color-background-tint);
}


html {
  @include _core-background-color();

  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  padding: 0;
  text-size-adjust: 100%;

  // Typography
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; /* stylelint-disable-line property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%; /* stylelint-disable-line property-no-vendor-prefix */

  font-kerning: normal;
  -moz-font-feature-settings: "kern"; /* stylelint-disable-line property-no-vendor-prefix */
  -ms-font-feature-settings: "kern"; /* stylelint-disable-line property-no-vendor-prefix */
  -webkit-font-feature-settings: "kern"; /* stylelint-disable-line property-no-vendor-prefix */
  font-feature-settings: "kern";

  &:lang(en-US) {
    hyphens: auto;
    word-break: break-word;
  }

  // Supports
  @supports #{$supports-hanging-punctuation} {
    hanging-punctuation: first;
  }

  // Media Queries
  @media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
    /* stylelint-disable-next-line property-no-unknown */
    font-smoothing: subpixel-antialiased; // Only apply to devices that support font smoothing: https://www.zachleat.com/web/font-smooth/
  }

  // Vendor
  /* stylelint-disable-next-line at-rule-no-vendor-prefix */
  @-ms-viewport {
    width: device-width; // https://msdn.microsoft.com/en-us/library/hh869615(v=vs.85).aspx
  }
}


body {
  @include _core-background-color(); // Extends background color to full width on an iPhone X in landscape mode: http://stephenradford.me/removing-the-white-bars-in-safari-on-iphone-x/

  color: var(--color-type);
  font-family: var(--typeface-primary);
  font-weight: var(--font-weight-regular);
  font-size: 125%; // 20px on most browsers
  line-height: var(--line-height-slight);
  min-height: 100%; // Ensure the page always fills at least the entire height of the viewport
}
