[aria-disabled],
[disabled] {
  cursor: not-allowed !important;
  pointer-events: none !important;
}


[hidden] {
  display: none !important;
}


[tabindex="-1"] {
  &:focus {
    outline: none; // Remove outline from non-interactive elements that get focus assigned to them
  }
}
