table {

  caption {
  }

  // Styles all table rows
  tr {

  }

  // Styles all table cells
  col,
  th,
  td {
    border-color: currentColor;
    padding: 0.75rem;
  }

  th {
    font-weight: var(--font-weight-bold);
    vertical-align: bottom;
  }

  // colgroup {

  //   col {
  //   }
  // }

  thead {
    border-bottom: var(--border-width-thinner) solid currentColor;

    tr {

      th {
        font-family: var(--typeface-secondary);
        font-size: var(--scale0);
        font-weight: var(--font-weight-bold);
      }
    }
  }

  tbody {

    tr {
      th {
        border-top: var(--border-width-thinnest) solid currentColor;
      }

      td {
        border-top: var(--border-width-thinnest) solid currentColor;
      }
    }
  }

  tfoot {

    tr {

      td {
        border-top: var(--border-width-thinnest) solid currentColor;
      }
    }
  }
}
