.centered-media-outer {
  align-items: center;
  display: flex;
  justify-content: center;
}


.centered-media-inner-1 {
  max-width: 10rem;
}


.centered-media-inner-2 {
  max-width: 20rem;
}


.centered-media-inner-3 {
  max-width: 30rem;
}


.centered-media-inner-4 {
  max-width: 40rem;
}
