.centered-media-outer {
  display: grid;
}


.centered-media-inner-1,
.centered-media-inner-2,
.centered-media-inner-3,
.centered-media-inner-4 {
  justify-self: center;
}


.centered-media-inner-1 {
  width: 10rem;
}


.centered-media-inner-2 {
  width: 20rem;
}


.centered-media-inner-3 {
  width: 30rem;
}


.centered-media-inner-4 {
  width: 40rem;
}
