// ============================================================================
// Component
// Hotline Webring
// ============================================================================


// Component Logic ------------------------------------------------------------


// Component Styling ----------------------------------------------------------
.c-hotline-webring {
    display: block;
    margin-top: rem(-10);

    // Breakpoints
    @include mappy-bp(palm-large) {
        display: inline;
    }

    // States
    .wf-active & {
        &__previous,
        &__next {
            box-shadow: none !important;

            margin: 0 em(3);
            position: relative;
              top: em(2);

            font-size: 150%;
            text-decoration: none;

            &:hover {
                border-bottom: border(thinnest) solid currentColor;
            }
        }

        &__previous {
            margin-left: ms(-4, $unit: rem);
        }
    }
}
