// ============================================================================
// Units
// Modular Scale
// ============================================================================


// UNITS
// Modular Scale


/// Outputs a number scaled by the document's specified Modular Scale. Set
/// `$unit` to `null` if you want a unitless ratio value.
///
/// @group Modular Scale
///
/// @parameter {Number}      $increment                     - Sets the factor for the modular scale to be multiplied by
/// @parameter {Measurement} $base-size [$global-type-size] - Specifies base font size
/// @parameter {Number}      $ratio [$global-type-ratio]    - Specifies modular scale ratio to be multiplied by
/// @parameter {Measurement} $unit [em]                    - Specifies the unit
///
/// @example scss
///  margin-top: ms(2);
///
/// @see {function} em
/// @see {function} rem
///
/// @link http://www.modularscale.com/ Modular Scale
/// @link http://type-scale.com/ Type Scale - A Visual Calculator


@function ms(
    $increment,
    $base-size: $global-type-size,
    $ratio: $global-type-ratio,
    $unit: em
) {
    @for $i from 1 through $increment {

        @if $increment > 0 {
            $base-size: $base-size * $ratio;
        }

        @else if $increment == 0 {
            $base-size: $base-size;
        }

        @else {
            $base-size: $base-size / $ratio;
        }
    }

    @return ($base-size / $global-type-size) * 1 + $unit;
}
