.c-link-list {
  margin-top: ms(0, $unit: rem);
}


.c-link-list__item,
.c-link-list__additional {
  font-size: ms(1, $unit: rem);
}


.c-link-list__item {
  @include preserve-list-semantics();

  margin-top: ms(2, $unit: rem);
}


.c-link-list__additional {
  margin-top: ms(6, $unit: rem);
}


.c-link-list__description {
  display: block;
  font-size: ms(0, $unit: rem);
}
