<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.post.fighting-uphill.title}} | {{content.site.title}}</title>
{{>meta/description/description}}
{{>meta/description/author}}
{{>meta/structure/feed-and-sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter}}
{{>meta/social-media/facebook}}
{{>meta/social-media/google-plus}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-breadcrumb/c-breadcrumb}}

{{>components/c-honeypot/c-honeypot}}

<main
    id="section-main"
    class="l-content"
    tabindex="-1">

    <header
        class="l-content__title l-content__title--writing"
        aria-labelledby="title-writing">

        <h1
            id="{{content.post.fighting-uphill.id}}"
            class="heading-alpha">
            {{content.post.fighting-uphill.title}}
        </h1>

    </header>

    <section class="l-content__body l-content__body--post">

        <p class="c-lede">As someone with a good deal of interest in the digital accessibility space, I follow <a rel="external noopener" href="https://webaim.org/">WebAIM</a>’s work closely. Their survey results are priceless <a rel="external noopener" href="https://webaim.org/projects/screenreadersurvey7/">insights into how disabled people actually use the web</a>, so when the organization speaks with authority on a subject, I listen.</p>
        <p>WebAIM’s <a rel="external noopener" href="https://webaim.org/projects/million/">accessibility analysis of the top 1,000,000 homepages</a> was <a rel="external noopener" href="https://twitter.com/webaim/status/1100844774163009536">released to the public on February 27, 2019</a>. I’ve had a few days to process it, and frankly, it’s left me feeling pretty depressed. In a sea of already demoralizing findings, probably most the notable thing is that pages containing <a rel="external noopener" href="https://www.w3.org/WAI/standards-guidelines/aria/"><abbr>ARIA<abbr></a>—a specialized language intended to aid accessibility—are actually <em>more</em> likely to have accessibility issues.</p>
        <p>I don't think this is intentional malice on the part of authors, but it is worth saying that <a rel="external noopener" href="https://css-tricks.com/aria-spackle-not-rebar/">good intentions don’t count for much</a>. I (and others) have spoken and written about this here and there before, but these failures via omission and ignorance and actively <a rel="external noopener" href="https://marcysutton.com/accessibility-is-a-civil-right">separate people from their civil rights</a>. I view the issue largely as an education problem, and that education is tied into what the market demands.</p>
        <p>Although the <a rel="external noopener" href="https://twitter.com/A11YProject/status/1100855699884642309">replies to this Twitter thread</a> are heartwarming, I realistically understand that accessibility knowledge isn’t what employers are largely demanding. As such, people entering into the web design and development space <a rel="external noopener" href="http://adrianroselli.com/2018/07/demand-refunds-for-invalid-html-in-courses.html">simply aren’t aware of the concerns</a>.</p>
        <p>Overwhelmingly, crushingly, we shove new developers towards learning JavaScript single page application frameworks (SPAs). While many of these frameworks pay lip service towards preserving accessibility, if you do your homework you find that the majority of them were built without assistive technology in mind. These considerations are bolted on later, when their creators figured out that the things they threw away to get a more app-like experience actually mattered.</p>
        <p>My go-to examples are routing and focus management. It’s a sad, sorry state of affairs that this critical functionality oftentimes requires plugins to interface with assistive technology, and therefore be accessible. Adoption of SPAs and their plugins can often be baseless nerd navelgazing—many business owners would be livid to find out that the technology choices their teams are making are actively incurring legal liability.</p>

        <h2 
            id="punching-down"
            class="heading-beta">
            Punching down
        </h2>
        <p>It’s too easy and too irresponsible to lay blame solely on new developers. Turning again to the WebAIM survey, we know that <a rel="external noopener" href="https://webaim.org/projects/million/#labels">over 50% of all form inputs are not labeled</a>. This is basic stuff, things that people who have been working in the industry for any significant length of time should know. How can we expect the advanced, state-driven stuff to be built robustly if we’re all largely failing HTML 101?</p>

        <h2 
            id="what-if-were-losing"
            class="heading-beta">
            What if we’re losing?
        </h2>
        <p>It’s a tough question, but one I think is worth asking. In some respects, practicing web accessibility has never been better. <a rel="external noopener" href="https://developer.mozilla.org/en-US/docs/Tools/Accessibility_inspector">Firefox has an accessibility inspector</a> now, which is just straight-up amazing. We have near-magical developer tools (plural!), dedicated conferences, <a rel="external noopener" href="https://a11yrules.com/">podcasts</a>, meetups, and highly paid people in influential positions making grandiose declarations about the importance of empathy.</p>
        <p>And yet, WebAIM’s report. All these incremental improvements simply aren’t compounding at the same pace as the things they’re trying to combat.</p>
        <p>It’s a code and design problem stemming from a market demand problem, yes. But I also think it’s a process problem. Namely, we can’t shovel blame on just the developers—classically the go-to scapegoats for organizational failure.</p>
        <p>We’re <em>all</em> to blame for the state of things, myself included. A lack of understanding and wholesale adoption of antipatterns are also to blame—just because a big name company uses them doesn’t mean they’re <a rel="external noopener" href="https://www.24a11y.com/2018/i-threw-away-my-mouse/">intrinsically good</a>.</p>

        <h2 
            id="technology-solutions-to-social-problems"
            class="heading-gamma">
            Technology solutions to social problems
        </h2>
        <p>If we can’t get the majority of web practitioners to care about, much less implement accessible websites, what can be done? Browsers already describe websites the best way they know how, via the Document Object Model (DOM). <a rel="external noopener" href="https://alistapart.com/article/semantics-to-screen-readers">Assistive technology describes what the DOM contains</a> the best they can, even utilizing specialized heuristics to accommodate code that isn’t quite good enough.</p>
        <p>But "isn’t quite good enough” isn’t the same as outright bad—these specialized programs can only do so much.</p>

        <h3 
            id="seeing-machines"
            class="heading-gamma">
            Seeing machines
        </h3>
        <p>I’ve been paying attention to <a rel="external noopener" href="https://www.androidpolice.com/2018/03/12/mozilla-working-page-popup-blocker-firefox/">Mozilla’s efforts to create an interstitial popup blocker</a>. For those unfamiliar with interstitials, they’re the annoying (often inaccessible) on-page modals that commonly ask you to do things like sign up for newsletters.</p>
        <p>The trick here is these interstitial are different from traditional popups in that you can’t just block anything that spawns from the page you’re currently visiting. They’re a little more tricky, in that they’re just another “layer” of the website you’re visiting, and therefore can’t be clipped away with such tidy logic.</p>
        <p>Mozilla’s approach is to <a rel="external noopener" href="https://twitter.com/ehsanakhgari/status/972224912634064896">ask for examples of interstitials</a> people find on the web, and then use that corpus of information to train a machine learning algorithm to understand what an interstitial popup “looks” like. With that knowledge, it can then strip away the code of anything that qualifies as interstitial-ish.</p>
        <p>It’s a fiendishly clever idea, and probably one of the few applications of machine learning I’ve encountered that actually has merit. It also got me wondering: if we can’t change how assistive technology generates descriptions of the DOM, can we change how it views websites instead?</p>
        <p>If we can teach a computer to identify what all the various bits that make up a website look like, maybe we can attack the problem of inaccessible experiences from a slightly different direction. Once the computer “views” a page and reports on what it sees, it can then read out the text contained in those identified areas. Screen readers sort of already do this, and even have specialized functionality for <a rel="external noopener" href="https://doccenter.freedomscientific.com/doccenter/doccenter/rs25c51746a0cc/2014-09-24_enhancedconvenientocrandsemi-autoformsmode/02_ConvenientOCR.htm">when the text isn’t actually text</a>.</p>
        <p>We’re starting to see hints of this kind of thinking already. Examples that come to mind are <a rel="external noopener" href="https://codepen.io/sdras/details/jawPGa">Sarah Drasner’s brilliant CodePen</a> that uses Azure's Computer Vision API to automatically generate alt descriptions for images. <a rel="external noopener" href="https://airbnb.design/sketching-interfaces/">Airbnb’s sketching interfaces</a> project is also a tiny, powerful glimpse into this sort of future.</p>

        <h3 
            id="however"
            class="heading-gamma">
            However
        </h3>
        <p>It’s really easy to say someone should do something, but it’s far more difficult to actually do it. Debating the merits of hypotheticals only takes you so far.</p>
        <p>I’m not naïve enough to think this sort of idea would require a non-trivial amount of engineering to create. The field of digital accessibility is small and commonly viewed as unglamorous work, so I’m not holding my breath for VC firms to line up for the chance to give me funding for this half-baked concept.</p>
        <p>There’s also the uncomfortable truth that this sort of automation is only as good as the data it’s trained on, and the field of machine learning is rife with algorithmic bias. When you start to use data at scale to make decisions, you perpetuate these biases at scale.</p>
        <p>Furthermore, when you rely on this information to navigate the web, you start to get into a very uncomfortable problem in delivering equivalent experiences; namely editorializing the experience for someone instead of presenting it to them the way someone who wasn’t relying on that technology would.</p>
        <p>A practical example of this is automatically generated alt descriptions. If a system is built to reject certain kinds of information—say nudity—it won’t generate the information a person who doesn’t rely on the description will be privy to. It also may not be the nudity the system thinks it is.</p>
        <p>A classical Greek statue meets all the criteria for a naked person, yet it is not. There have been, however, situations where it is flagged as pornography and a description is not generated. If you need an example of how this sort of thing falls apart at scale, just <a rel="external noopener" href="https://gizmodo.com/tumblrs-porn-filter-flags-its-own-examples-of-permitted-1831151178">look at tumblr</a>.</p>
        <p>Another way of saying it: implicitly defining the parameters of what is acceptable for expression via automation can have the effect of reducing individual autonomy. This is unconscionable.</p>
        <p>Finally, not every disabled user is a screen reader user. The machine learning approach doesn’t work for many different kinds of disability situations, notably <a rel="external noopener" href="https://webaim.org/articles/cognitive/">cognitive concerns</a>.</p>

        <h2 
            id="social-solutions-to-technical-problems"
            class="heading-beta">
            Social solutions to technical problems
        </h2>
        <p>I’m a big nerd, so of course I led with an idea for software. But all too often we conflate creating <em>something</em> with creating <em>good</em>.</p>
        <p>As touched on earlier, it seems like the pace of inaccessible digital experiences is moving far faster than our attempts to fix them. I’m skeptical of technology’s ability to solve the problem on its own.</p>
        <p>It’s also far more easy to destroy than it is to repair. If you don’t believe me, spend some time conducting a manual website accessibility audit. It oftentimes feels like a tedious, frustrating, thankless experience that firmly paints you as the enemy for people who just want to move fast and break things. However, it is a very vital thing to do.</p>
        <p>So, what can we do about this state of affairs?</p>

        <h3 
            id="learn-from-history"
            class="heading-gamma">
            Learn from history
        </h3>
        <p>Digital accessibility is a niche practice. That’s not a value judgement, it’s just the way things are. Again, it’s hard to fault someone for creating an inaccessible experience if they simply haven’t learned the concept exists.</p>
        <p>And yet, <a rel="external noopener" href="https://www.huffingtonpost.co.uk/damiano-la-rocca/website-accessibility_b_9931304.html">seventy percent of websites are non-compliant</a>. It’s a shocking statistic. What if I told you that seventy percent of all bridges were structurally unsound?</p>
        <p>Some engineers who work with physical materials have a reminder of the gravity of the decisions they make. They <a rel="external noopener" href="https://blogs.scientificamerican.com/oscillator/ring-ritual-reminds-engineers-of-their-responsibility/">wear iron rings</a> to remind them that they have an obligation to the public good, and that actual lives are on the line. I like that idea a lot—I think it's a concept we as an industry could benefit from if we borrowed from it thematically.</p>
        <p>It’d take some organizing to get to a place where we do such a thing. Maybe that’s a good thing. Right now it feels like we’re an industry of <a rel="external noopener" href="https://twitter.com/ericwbailey/status/1082694786480513026">overpaid fly-by-night plumbers</a> who have the luxury of saying they don’t believe in using wrenches.</p>

        <h3 
            id="directed-effort"
            class="heading-gamma">
            Directed effort
        </h3>
        <p>It was a bitter, frustrating, oftentimes thankless task, but we should also acknowledge that <a rel="external noopener" href="https://www.webstandards.org/2013/03/01/our-work-here-is-done/index.html">web standards <em>won</em></a>. It took a ton of time to get to this point, but think about what didn’t make it: closed, centralized, brittle technologies that were pay-to-play and difficult to understand and maintain.</p>
        <p>We should also think about what technologies are available to us today, how they serve the people that use them, and how so much of it is built from these standards. While it may feel frustrating doing the work now, maybe that inflection point is just beyond the horizon.</p>

        <h3 
            id="reframing"
            class="heading-gamma">
            Reframing
        </h3>
        <p>Selfishly, I’d love a future where an interview candidate is selected not only because of their JavaScript prowess, but also because they can offer <a rel="external noopener" href="https://scottaohara.github.io/accessibility_interview_questions/">a sound explanation</a> of why using a <code>button</code> element is important.</p>
        <p>I’m really excited to see digital accessibility get more mainstream attention, but I’m also concerned. I don’t want it to have fifteen minutes of fame. I want it to be a first class, top-of-mind concern for everyone in the industry.</p>
        <p>I really admire the people who are using their privilege as an influential industry member to push for this reality. <a rel="external noopener" href="https://twitter.com/beep">Ethan Marcotte</a> and <a rel="external noopener" href="https://twitter.com/SaraSoueidan">Sara Soueidan</a> come immediately to mind—they are doing an amazing job lending credibility to the practice as they learn more about the space. This is also not to diminish their earlier efforts, which have done so much to drive the web forward.</p>
        <p>It’s been great seeing more and more accessibility talks appearing on the conference circuit, as well. The subject matter hasn’t historically gotten a lot of mainstream stage presence. This meant that it had less opportunities for people to discover the subject even was a concern, much less be positioned as a glamorous subject that was worth spending a few thousand dollars on a ticket to hear someone talk about.</p>
        <p>I think the push to diversify our industry voices has helped that, as well as other important topics. And speaking of diversification, I’d also be remiss if I didn’t mention <a rel="external noopener" href="https://twitter.com/katholmes">Kat Holmes</a>’ work on Inclusive Design. If you want to read a brilliant treatise on reframing, read <a rel="external noopener" href="https://mitpress.mit.edu/books/mismatch"><cite>Mismatch</cite></a>.</p>

        <h2 
            id="acknowledgment"
            class="heading-beta">
            Acknowledgment
        </h2>
        <p>I also think it’s worth acknowledging that we’re all standing on the shoulders of giants. New voices (such as myself), are speaking about what we’ve learned largely due to the fact that there’s been existing material to learn from. People like <a rel="external noopener" href="https://twitter.com/LeonieWatson">Léonie Watson</a>, <a rel="external noopener" href="https://twitter.com/MarcoInEnglish">Marco Zehe</a>, <a rel="external noopener" href="https://twitter.com/stevefaulkner">Steve Faulkner</a>, <a rel="external noopener" href="https://twitter.com/goodwitch">Glenda Sims</a>, <a rel="external noopener" href="https://twitter.com/thebillygregory">Billy Gregory</a>, <a rel="external noopener" href="https://twitter.com/LFLegal">Lainey Feingold</a>, <a rel="external noopener" href="https://twitter.com/mpaciello">Mike Paciello</a>, to name a few.</p>
        <p>They’ve done <em>incredible</em> work in this space, and are continuing to do so. It’d be wise to listen to what they have to say.</p>

        <hr />

        <p>This is a personal post on a personal website, so it’s admittedly a little more rough and glum than what I usually put out. However, I don’t have the right to be tired or demotivated. I’m frustrated for sure, and feelings of defeatism are hard to quell, but the stakes are too high for self-pity.</p>
        <p>I’m also not so arrogant as to assume my ideas are new in this space. I don’t have comments on my blog, but if you want to talk about anything this post covered, feel free to <a rel="external noopener" href="https://twitter.com/ericwbailey">chime in on Twitter</a>.</p>
        <p>I’ll keep writing, and I’ll keep pushing for what is important. I hope you’ll join me.</p>

    </section>

</main>

{{>layout/l-section/l-errata}}

{{>layout/l-dialog/l-dialog}}

{{>meta/scripts/main}}
{{>meta/scripts/offline}}
{{>meta/analytics/gauges}}

</body>
</html>
