<!-- Start of #browserupgrade -->
<!--[if lt IE 8]>
<div aria-labelledby="title-outdated-browser" id="browserupgrade" class="browserupgrade">
    <h1 id="title-outdated-browser">You are using an outdated browser</h1>
    <p>
        Please <a rel="external" href="http://browsehappy.com/">upgrade your browser to improve your experience</a>.
    </p>
</div>
<![endif]-->
<!-- End of #browserupgrade -->
