{% include "head.njk" %}

<main id="section-main">
  <h1 id="title" class="u-hide-visually">
    {{ title | safe }}
  </h1>

  <p>
    {{ lede | safe }}
  </p>

  {{ content | safe }}
</main>

{% include "foot.njk" %}
