// ============================================================================
// Component
// Button
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-button {
    &__copy {
        @include component-button();
        @include component-size(ms(1, rem), ms(2.5, rem));

        float: right;
        position: relative;
          bottom: rem(32);
          right: rem(10);
        width: rem(80);

        font-size: em(16);

        // States
        &[disabled] {
            opacity: 0.5;

            // States
            &:hover {
                background-color: c(button, background-base);
            }
        }

        &.is-successful {
            background-color: c(validation, success);

            // States
            &:hover {
                background-color: c(validation, success);
            }
        }

        // Button icon
        .c-button__icon {
            @include component-size(ms(0.5, rem), ms(0.5, rem));

            position: relative;
              top: rem(1);
              right: rem(2);
        }

        // Breakpoints
        @include mappy-bp(palm-medium) {
            bottom: rem(36);
            padding-bottom: rem(2);

            font-size: em(14);
        }

        @include mappy-bp(lap-small) {
            margin-top: ms(0.5, rem);
            position: static;
            width: 100%;
            height: ms(1.25, rem);
        }
    }

    &__close {
        @include component-button();
        @include component-size(ms(1.25, rem), 100%, ms(0.75, rem));

        // Button icon
        .c-button__icon {
            @include component-size(ms(0.5, rem), ms(0.5, rem));

            position: relative;
              top: rem(1);
              right: rem(2);

            // Breakpoints
            @include mappy-bp(palm-medium) {
                top: rem(0);
            }

            @include mappy-bp(lap-small) {
                top: rem(1);
            }
        }

        // Breakpoints
        @include mappy-bp(lap-small) {
            margin-top: 0;

            font-size: 70%;
        }
    }

    &__error {
        margin: rem(20) rem(14) rem(25) rem(14);
        padding: rem(10) rem(20);

        border-left: border(thin) solid c(validation, error);

        font-size: em(18);
        line-height: 1.4;

        // Breakpoints
        @include mappy-bp(palm-medium) {
            font-size: em(16);
        }

        @include mappy-bp(lap-small) {
            margin-top: rem(65);
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            font-size: em(14);
        }
    }
}
