// ============================================================================
// Layout
// Section
// ============================================================================


// Layout Logic ---------------------------------------------------------------
$l-section-vertical-padding-mobile: 8vh;

$l-section-vertical-padding-palm: 14vh;

$l-section-mobile-line-height: $global-type-line-height + 100;

@mixin l-section() {
    @include component-page-side-margins();

    padding-top: rem(50);
    padding-bottom: rem(50);
    z-index: z(l-section);

    @supports #{$supports-viewportunits} {
        padding-top: $l-section-vertical-padding-mobile;
        padding-bottom: $l-section-vertical-padding-mobile;
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        padding-top: rem(120);
        padding-bottom: rem(120);

        @supports #{$supports-viewportunits} {
            padding-top: $l-section-vertical-padding-palm;
            padding-bottom: $l-section-vertical-padding-palm;
        }
    }
}

// Removes the bottom margin of the last row of `c-link_list__item`s
@mixin l-section-bottom-margin() {
    padding-bottom: calc($l-section-vertical-padding-mobile - #{ms(1, rem)});

    // Breakpoints
    @include mappy-bp(palm-medium) {
        padding-bottom: calc($l-section-vertical-padding-palm - #{ms(1, rem)});
    }
}


// Layout Styling -------------------------------------------------------------
.l-section {
    &__about,
    &__contact,
    &__errata,
    &__passions,
    &__philosophy,
    &__portfolio-and-client-list,
    &__projects,
    &__writing {
        @include l-section();

        line-height: 1.45;

        // Breakpoints
        @include mappy-bp(wrist-large) {
            line-height: $global-type-line-height;
        }
    }

    &__contact,
    &__projects,
    &__writing {
        @include l-section-bottom-margin();
    }

    &__contact {
        background-color: c(l-section, contact);
    }

    &__errata {
        background-color: c(l-section, errata);

        @supports #{$supports-viewportunits} {
            padding-top: ms(1); // Controls spacing between portfolio and errata
        }
    }

    &__about {
        background-color: c(l-section, about);
    }

    &__passions {
        background-color: c(l-section, passions);
    }

    &__philosophy {
        background-color: c(l-section, philosophy);
    }

    &__portfolio-and-client-list {
        background-color: c(l-section, portfolio);

        @supports #{$supports-viewportunits} {
            padding-bottom: 0; // Visually connects portfolio and errata sections
        }
    }

    &__projects {
        background-color: c(l-section, projects);
    }

    &__writing {
        background-color: c(l-section, writing);
    }
}
