// ============================================================================
// Layout
// Section
// ============================================================================


// Layout Logic ---------------------------------------------------------------
@mixin l-section() {
    padding: 14vh 12vw;
    z-index: z(l-section);
}


// Layout Styling -------------------------------------------------------------
.l-section {
    &__header {
        @include l-section();

        background-color: c(l-section, header);

        a {
            @include content-underline($underline-background-color: c(l-section, header));
        }
    }

    &__contact {
        @include l-section();

        background-color: c(l-section, contact);
    }

    &__errata {
        @include l-section();

        padding-top: ms(0.5, rem); // Controls spacing between portfolio and errata

        background-color: c(l-section, errata);
    }

    &__interests {
        @include l-section();

        background-color: c(l-section, interests);
    }

    &__philosophy {
        @include l-section();

        background-color: c(l-section, philosophy);
    }

    &__portfolio-and-client-list {
        @include l-section();

        padding-bottom: 0; // Visually connects portfolio and errata sections

        background-color: c(l-section, portfolio);
    }

    &__projects {
        @include l-section();

        background-color: c(l-section, projects);
    }

    &__writing {
        @include l-section();

        background-color: c(l-section, writing);
    }
}
