// ============================================================================
// Layout
// Section
// ============================================================================


// Layout Logic ---------------------------------------------------------------
@mixin l-section() {
    padding: rem(50) rem(40);
    z-index: z(l-section);

    transition: animation-duration(shortest) padding animation-ease(background);

    @supports #{$supports-viewportunits} {
        padding: 8vh 8vw;
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        padding: rem(120) rem(100);

        @supports #{$supports-viewportunits} {
            padding: 14vh 12vw;
        }
    }
}

// Removes the bottom margin of the last row of `c-link_list__item`s
@mixin l-section-bottom-margin() {
    padding-bottom: calc(8vh - #{ms(1, rem)});

    // Breakpoints
    @include mappy-bp(palm-medium) {
        padding-bottom: calc(14vh - #{ms(1, rem)});
    }
}


// Layout Styling -------------------------------------------------------------
.l-section {
    &__about,
    &__contact,
    &__errata,
    &__interests,
    &__philosophy,
    &__portfolio-and-client-list,
    &__projects,
    &__writing {
        @include l-section();
    }

    &__contact,
    &__projects,
    &__writing {
        @include l-section-bottom-margin();
    }

    &__contact {
        background-color: c(l-section, contact);
    }

    &__errata {
        background-color: c(l-section, errata);

        @supports #{$supports-viewportunits} {
            padding-top: ms(1); // Controls spacing between portfolio and errata
        }
    }

    &__about {
        background-color: c(l-section, about);
    }

    &__interests {
        background-color: c(l-section, interests);
    }

    &__philosophy {
        background-color: c(l-section, philosophy);
    }

    &__portfolio-and-client-list {
        background-color: c(l-section, portfolio);

        @supports #{$supports-viewportunits} {
            padding-bottom: 0; // Visually connects portfolio and errata sections
        }
    }

    &__projects {
        background-color: c(l-section, projects);
    }

    &__writing {
        background-color: c(l-section, writing);
    }
}
