<!-- #section-about -->
<header
    id="section-about"
    class="l-section__about"
    aria-labelledby="title-about">

    <h2 id="title-about" class="content-hide-visually">
        {{content.title.about}}
    </h2>

    {{>components/c-about/c-about}}

</header>
