<!-- Start of #section-about -->
<header
    id="section-about"
    class="l-section__header"
    role="banner"
    aria-labelledby="title-about">

    <h2 id="title-about" class="content-hide-visually">
        {{content.about.title}}
    </h2>

    <p>
        {{{content.about.body}}}
    </p>

</header>
<!-- End of #section-about -->
