<!-- Start of #section-contact -->
<address
    id="section-contact"
    class="l-section__contact"
    role="region"
    aria-labelledby="subtitle-contact">

    <h2 id="subtitle-contact" class="content-hide-visually">
        {{content.contact.title}}
    </h2>

    <p>
        {{{content.contact.body}}}
    </p>

    <ul>
        <li>
            <a rel="external me noopener" href="http://twitter.com/ericwbailey">Twitter</a>
        </li>
        <li>
            <a rel="external me noopener" href="https://www.linkedin.com/in/ericwbailey/">LinkedIn</a>
        </li>
        <li>
            <a rel="external me noopener" href="https://github.com/ericwbailey">GitHub</a>
        </li>
        <li>
            <a rel="external me noopener" href="https://instagram.com/eric.w.bailey/">Instagram</a>
        </li>
        <li>
            <a rel="external me noopener" href="https://pinboard.in/u:ericwbailey">Pinboard</a>
        </li>
        <li>
            <a rel="external me noopener" href="https://goodreads.com/ericwbailey">Goodreads</a>
        </li>
        <li>
            <a rel="external me noopener" href="http://codepen.io/ericwbailey/">CodePen</a>
        </li>
        <li>
            <a rel="external me noopener" href="https://makerbase.co/m/vk278x/ericwbailey">Makerbase</a>
        </li>
        <li>
            <a rel="external me noopener" href="">Email</a>
        </li>
        <li>
            <a rel="external noopener" href="https://goo.gl/maps/ATWGaUboaxw">Over coffee</a>
        </li>
    </ul>

    <p>
        {{{content.contact.contact-info}}}
    </p>

    <dl>
        <dt>Given Name</dt>
        <dd>Eric</dd>
        <dt>Middle Name</dt>
        <dd>W</dd>
        <dt>Family Name</dt>
        <dd>Bailey</dd>
        <dt>Organization</dt>
        <dd>Cantina</dd>
        <dt>Street</dt>
        <dd>897 Broadway, Apartment 1</dd>
        <dt>City</dt>
        <dd>Somerville</dd>
        <dt>State</dt>
        <dd>Massachusetts</dd>
        <dt>Zip Code</dt>
        <dd>02144</dd>
        <dt>Country</dt>
        <dd>United States of America</dd>
        <dt>Phone Number</dt>
        <dd>+1-617-909-3611</dd>
        <dt>Avatar</dt>
        <dd>https://pbs.twimg.com/profile_images/782690359352651777/EEJ-d1fC_400x400.jpg</dd>
    </dl>

</address>
<!-- End of #section-contact -->
