<!-- Start of #section-contact -->
<address
    id="section-contact"
    class="l-section__contact"
    aria-labelledby="subtitle-contact"
    itemscope itemtype="http://schema.org/Person"
    role="region">

    <h2 id="subtitle-contact" class="content-hide-visually">
        {{content.contact.title}}
    </h2>

    <h3 class="content-hide-visually">
        Social Media
    </h3>

    <p class="typography-measure">
        {{{content.contact.body}}}
    </p>

    {{>components/c-link-list/c-contact.people}}

    <p class="content-hide-visually">
        {{{content.contact.contact-info}}}
    </p>

    {{>components/c-link-list/c-contact.robots}}

</address>
<!-- End of #section-contact -->
