<!-- Start of #section-contact -->
<address
    id="section-contact"
    class="l-section__contact"
    aria-labelledby="subtitle-contact"
    role="region">

    <h2 id="subtitle-contact" class="content-hide-visually">
        {{content.contact.title}}
    </h2>

    <p class="typography-measure">
        {{{content.contact.body}}}
    </p>

    {{>components/c-link-list/c-contact}}

</address>
<!-- End of #section-contact -->
