<!-- #section-contact -->
<address
    id="section-contact"
    class="l-section__contact"
    aria-labelledby="subtitle-contact">

    <h2 id="subtitle-contact" class="content-hide-visually">
        {{content.title.contact}}
    </h2>

    <p class="c-lede typography-measure">
        If you&rsquo;d like to get in contact with me, or see what I&rsquo;ve been up to recently, there are a few ways to&nbsp;do&nbsp;it:
    </p>

    {{>components/c-link-list/c-contact}}

</address>
