<!-- Start of #section-errata -->
<footer
    id="section-errata"
    class="l-section__errata"
    role="contentinfo"
    aria-labelledby="subtitle-copyright-and-disclosure">

    <h2 id="subtitle-copyright-and-disclosure" class="content-hide-visually">
        Copyright and Disclosure
    </h2>

    {{>components/c-errata/c-errata}}

</footer>
<!-- End of #section-errata -->
