<!-- #section-errata -->
<footer
    id="section-errata"
    class="l-section__errata"
    aria-labelledby="subtitle-copyright-and-disclosure"
    role="contentinfo">

    <h2 id="subtitle-copyright-and-disclosure" class="content-hide-visually">
        {{content.title.errata}}
    </h2>

    {{>components/c-errata/c-errata}}

</footer>
