<!-- Start of #section-interests -->
<section
    id="section-interests"
    class="l-section__interests"
    role="region"
    aria-labelledby="subtitle-interests">

    <h2 id="subtitle-interests" class="content-hide-visually">
        {{content.interests.title}}
    </h2>

    <p>
        {{{content.interests.body}}}
    </p>

    {{>components/c-link-list/c-interests}}
    {{>components/c-currently-learning/c-currently-learning}}

</section>
<!-- End of #section-interests -->
