<!-- Start of #section-interests -->
<section
    id="section-interests"
    class="l-section__interests"
    role="region"
    aria-labelledby="subtitle-interests">

    <h2 id="subtitle-interests" class="content-hide-visually">
        {{content.interests.title}}
    </h2>

    <p>
        {{{content.interests.body}}}
    </p>

    <ul>
        <li>
            <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design">Designing in the open</a>
        </li>
        <li>
            <a rel="external noopener" href="https://tenon.io/testNow.php?url=http://ericbailey.design/">Acessible and inclusive design</a>
        </li>
        <li>
            <a rel="external noopener" href="https://html5.validator.nu/?doc=http%3A%2F%2Fcantina.co%2F">Semantic HTML</a>
        </li>
        <li>
            <a rel="external noopener" href="http://cssstats.com/stats?url=http%3A%2F%2Fcantina.co&ua=Browser%20Default">CSS architecture at scale</a>
        </li>
        <li>
            <a rel="external noopener" href="https://structure.exposed/proxy?url=http%3A%2F%2Fericbailey.design">Progressive enhancement</a>
        </li>
        <li>
            <a rel="external noopener" href="https://whatdoesmysitecost.com/">Performance and internationalization</a>
        </li>
    </ul>

    <p>
        <a rel="external noopener" href="https://abookapart.com/products/javascript-for-web-designers">I am currently learning JavaScript</a>
        (It's going okay)
    </p>

</section>
<!-- End of #section-interests -->
