<!-- #section-passions -->
<section
    id="section-passions"
    class="l-section__passions"
    aria-labelledby="subtitle-passions">

    <h2 id="subtitle-passions" class="content-hide-visually">
        {{content.title.passions}}
    </h2>

    <p class="c-lede">
        I am passionate about:
    </p>

    {{>components/c-link-list/c-passions}}
    {{>components/c-currently-learning/c-currently-learning}}

</section>
