<!-- Start of #section-philosophy -->
<section
    id="section-philosophy"
    class="l-section__philosophy"
    role="region"
    aria-labelledby="subtitle-philosophy">

    <h2 id="subtitle-philosophy" class="content-hide-visually">
        {{content.philosophy.title}}
    </h2>

    <p class="typography-measure">
        {{{content.philosophy.body}}}
    </p>

</section>
<!-- End of #section-philosophy -->
