<!-- Start of #section-philosophy -->
<main
    id="section-philosophy"
    class="l-section__philosophy"
    role="main"
    aria-labelledby="subtitle-philosophy">

    <h2 id="subtitle-philosophy" class="content-hide-visually">
        {{content.philosophy.title}}
    </h2>

    <p>
        {{{content.philosophy.body}}}
    </p>

</main>
<!-- End of #section-philosophy -->
