<!-- #section-philosophy -->
<section
    id="section-philosophy"
    class="l-section__philosophy"
    aria-labelledby="subtitle-philosophy"
    role="region">

    <h2 id="subtitle-philosophy" class="content-hide-visually">
        {{content.philosophy.title}}
    </h2>

    {{>components/c-philosophy/c-philosophy}}

</section>
