<!-- Start of #section-portfolio-and-client-list -->
<section
    id="section-portfolio-and-client-list"
    class="l-section__portfolio-and-client-list"
    aria-labelledby="subtitle-portfolio-and-client-list"
    role="region">

    <h2 id="subtitle-portfolio-and-client-list" class="content-hide-visually">
        {{content.portfolio.title}}
    </h2>

    {{>components/c-portfolio/c-portfolio}}

</section>
<!-- End of #section-portfolio-and-client-list -->
