<!-- #section-projects -->
<aside
    id="section-projects"
    class="l-section__projects"
    aria-labelledby="subtitle-projects">

    <h2 id="subtitle-projects" class="content-hide-visually">
        {{content.title.projects}}
    </h2>

    <p class="c-lede">
        I&rsquo;m also a firm believer in the side project. Here are some things&nbsp;I&rsquo;ve&nbsp;made:
    </p>

    {{>components/c-link-list/c-projects}}

</aside>
