<!-- Start of #section-projects -->
<aside
    id="section-projects"
    class="l-section__projects"
    role="complementary"
    aria-labelledby="subtitle-projects">

    <h2 id="subtitle-projects" class="content-hide-visually">
        {{content.projects.title}}
    </h2>

    <p>
        {{{content.projects.body}}}
    </p>

    <ul>
        <li>
            <a rel="external noopener" href="https://github.com/ericwbailey/accessible-html-content-patterns">Accessible HTML Content Patterns</a>
        </li>
        <li>
            <a rel="external noopener" href="https://structure.exposed/">structure.exposed</a>
        </li>
        <li>
            <a rel="external noopener" href="http://hancock.lighting/">hancock.lighting</a>
        </li>
        <li>
            <a rel="external noopener" href="https://chrome.google.com/webstore/detail/millennials-to-snake-peop/jhkibealmjkbkafogihpeidfcgnigmlf">Millennials to Snake People</a>
        </li>
        <li>
            <a rel="external noopener" href="http://youdubber.com/">YouDubber</a>
        </li>
        <li>
            <a rel="external noopener" href="http://www.puredoxyk.com/index.php/2009/01/04/the-ubersleep-book/">Ubersleep</a>
        </li>
        <li>
            <a rel="external noopener" href="http://lowvision.support/">lowvision.support</a>
        </li>
        <li>
            <a rel="external noopener" href="http://dbtr.fm/">Design, Build, Test, Repeat Podcast</a>
        </li>
        <li>
            <a rel="external noopener" href="http://exploitlogos.tumblr.com/">Exploit Logos</a>
        </li>
        <li>
            <a rel="external noopener" href="https://tinyletter.com/hot-garbage">Fresh Garbage Newsletter</a>
        </li>
    </ul>

</aside>
<!-- End of #section-projects -->
