<!-- #section-projects -->
<aside
    id="section-projects"
    class="l-section__projects"
    aria-labelledby="subtitle-projects"
    role="complementary">

    <h2 id="subtitle-projects" class="content-hide-visually">
        {{content.projects.title}}
    </h2>

    <p class="c-lede">
        {{{content.projects.body}}}
    </p>

    {{>components/c-link-list/c-projects}}

</aside>
