<!-- #section-speaking -->
<section
    id="section-speaking"
    class="l-section__speaking"
    aria-labelledby="subtitle-speaking">

    <h2 id="subtitle-speaking" class="content-hide-visually">
        {{content.title.speaking}}
    </h2>

    <p class="c-lede">
        I&rsquo;ve been fortunate enough to share what I know:
    </p>

    {{>components/c-link-list/c-speaking-highlights}}
    {{>components/c-additional-info/c-speaking-archive}}

</section>
