<!-- #section-writing -->
<section
    id="section-writing"
    class="l-section__writing"
    aria-labelledby="subtitle-writing">

    <h2 id="subtitle-writing" class="content-hide-visually">
        {{content.title.writing}}
    </h2>

    <p class="c-lede typography-measure">
        Here are some topics of interest I&rsquo;ve written about:
    </p>

    {{>components/c-link-list/c-writing}}

</section>
