<!-- Start of #section-writing -->
<section
    id="section-writing"
    class="l-section__writing"
    aria-labelledby="subtitle-writing"
    role="region">

    <h2 id="subtitle-writing" class="content-hide-visually">
        {{content.writing.title}}
    </h2>

    <p class="typography-measure">
        {{{content.writing.body}}}
    </p>

    {{>components/c-link-list/c-writing}}

</section>
<!-- End of #section-writing -->
