<!-- Start of #section-projects -->
<aside
    id="section-projects"
    class="l-section__projects"
    role="complementary"
    aria-labelledby="subtitle-projects">

    <h2 id="subtitle-projects" class="content-hide-visually">
        {{content.projects.title}}
    </h2>

    <p>
        {{{content.projects.body}}}
    </p>

    {{>components/c-link-list/projects}}

</aside>
<!-- End of #section-projects -->
