// ============================================================================
// Headings
// ============================================================================


// Visual heading styling. Allows author to use ordered headings to retain an
// accessible document, but match the needs of the design.

// Giga
// @mixin heading-giga() {
//     font-size: ms(5, em);
// }
//
// .heading-giga {
//     @include heading-giga();
// }
//
//
// // Mega
// @mixin heading-mega() {
//     font-size: ms(4.5, em);
// }
//
// .heading-mega {
//     @include heading-mega();
// }


// Alpha
@mixin heading-alpha() {
    @include typography-measure();
    @include typography-tracking(tight);

    margin-left: -0.5ch;

    font-size: ms(2, em);
    font-style: italic;
    font-weight: $font-weight-bold;
    line-height: 1.1;

    // Contexts
    .wf-loading & {
        @include typography-tracking(tightest);
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        margin-left: -1ch;

        font-size: ms(2, em);
    }

    @include mappy-bp(lap-small) {
        font-size: ms(3, em);
    }
}

.heading-alpha {
    @include heading-alpha();
}


// Beta
@mixin heading-beta() {
    @include typography-measure();
    @include typography-tracking(tight);

    margin-top: ms(1.25, em);
    margin-bottom: ms(0.25, em);
    margin-left: -0.5ch;

    font-size: ms(1.25, em);
    font-style: italic;
    font-weight: $font-weight-bold;
    line-height: 1.1;

    // Contexts
    .wf-loading & {
        @include typography-tracking(tightest);
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        margin-top: ms(1.5, em);
        margin-left: -1ch;
    }
}

.heading-beta {
    @include heading-beta();
}


// Gamma
@mixin heading-gamma() {
    @include typography-measure();
    @include typography-tracking(tight);

    margin-top: ms(1.5, em);
    margin-bottom: 0;

    font-size: ms(1, em);
    font-style: italic;
    font-weight: $font-weight-bold;
    line-height: 1.1;

    // Contexts
    .wf-loading & {
        @include typography-tracking(tightest);
    }
}

.heading-gamma {
    @include heading-gamma();
}