// ============================================================================
// Headings
// ============================================================================


// Visual heading styling. Allows author to use ordered headings to retain an
// accessible document, but match the needs of the design.

// Giga
// @mixin heading-giga() {
//     font-size: ms(5, em);
// }
//
// .heading-giga {
//     @include heading-giga();
// }
//
//
// // Mega
// @mixin heading-mega() {
//     font-size: ms(4.5, em);
// }
//
// .heading-mega {
//     @include heading-mega();
// }


// Alpha
@mixin heading-alpha() {
    @include typography-tracking(tight);

    margin-top: ms(1.5, em);
    margin-bottom: ms(1, em);
    margin-left: -0.75ch;

    font-size: ms(1.75, em);
    font-weight: 700;
    font-style: italic;
    line-height: 1.1;

    // Breakpoints
    @include mappy-bp(palm-medium) {
        margin-top: ms(3, em);
        margin-left: -1ch;

        font-size: ms(2, em);
    }
}

.heading-alpha {
    @include heading-alpha();
}
