// ============================================================================
// Headings
// ============================================================================


// Visual heading styling. Allows author to use ordered headings to retain an
// accessible document, but match the needs of the design.

// Giga
// @mixin heading-giga() {
//     font-size: ms(5);
// }
//
// .heading-giga {
//     @include heading-giga();
// }
//
//
// // Mega
// @mixin heading-mega() {
//     font-size: ms(4);
// }
//
// .heading-mega {
//     @include heading-mega();
// }


// Alpha
@mixin heading-alpha() {
    @include typography-measure();
    @include typography-tracking(tight);

    font-size: ms(8, $unit: em);
    font-style: italic;
    font-weight: $font-weight-bold;
    line-height: 1.1;

    // Contexts
    .wf-loading & {
        @include typography-tracking(tightest);
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        font-size: ms(10, $unit: em);
    }

    @include mappy-bp(lap-small) {
        font-size: ms(12, $unit: em);
    }
}

.heading-alpha {
    @include heading-alpha();
}


// Beta
@mixin heading-beta() {
    @include typography-tracking(tight);

    margin-top: ms(1, $unit: em);
    margin-bottom: ms(0, $unit: em);
    margin-left: -0.5ch;
    max-width: $global-type-measure / 1.5;

    font-size: ms(4, $unit: em);
    font-style: italic;
    font-weight: $font-weight-bold;
    hyphens: none;
    line-height: 1.1;

    // Contexts
    .wf-loading & {
        @include typography-tracking(tightest);
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        margin-top: ms(6, $unit: em);
        margin-left: -1ch;
    }
}

.heading-beta {
    @include heading-beta();
}


// Gamma
@mixin heading-gamma() {
    @include typography-measure();
    @include typography-tracking(tight);

    margin-top: ms(6, $unit: em);
    margin-bottom: 0;

    font-size: ms(1, $unit: em);
    font-style: italic;
    font-weight: $font-weight-bold;
    line-height: 1.1;

    // Contexts
    .wf-loading & {
        @include typography-tracking(tightest);
    }
}

.heading-gamma {
    @include heading-gamma();
}


// Delta
@mixin heading-delta() {
    @include typography-measure();
    @include typography-small-caps()

    margin-top: ms(4, $unit: em);
    margin-bottom: -0.5em;

    font-size: ms(1, $unit: em);
    line-height: 1.1;
}

.heading-delta {
    @include heading-delta();
}
