<!-- Start of #section-skipnav -->
<nav
    id="section-skipnav"
    class="l-skipnav"
    role="navigation"
    tabindex="0"
    aria-labelledby="subtitle-skipnav">

    <h2 id="subtitle-skipnav" class="content-hide-visually">
        {{content.skipnav.title}}
    </h2>

    {{>components/c-skipnav/c-skipnav}}

</nav>
<!-- End of #section-skipnav -->
