// ============================================================================
// Component
// Breadcrumb
// ============================================================================


// Component Logic ------------------------------------------------------------
$c-breadcrumb-outline: em(4);


// Component Styling ----------------------------------------------------------
.c-breadcrumb {
    padding: ms(0.75, em) ms(1, em);
    position: fixed;
      bottom: ms(0.5, rem);
      right: ms(0.5, rem);

    outline: $c-breadcrumb-outline solid c(l-content, background-secondary);

    background-color: c(c-breadcrumb, background-base);

    color: c(type, light);
    font-size: em(16);
    text-decoration: none;

    transition:
      background-color animation-duration(short) animation-ease(background),
      bottom animation-duration(shortest) animation-ease(background),
      right animation-duration(shortest) animation-ease(background);

    // States
    &:active {
        bottom: ms(0.45, rem);
    }

    &:hover {
        background-color: c(c-breadcrumb, background-hover);

        outline: $c-breadcrumb-outline solid c(l-content, background-secondary);

        &:focus {
            background-color: c(c-breadcrumb, background-hover);

            color: c(type, light);

            outline: $c-breadcrumb-outline solid c(l-content, background-secondary);

            transition: none;
        }
    }

    &:focus {
        background-color: c(yellow);

        outline: $c-breadcrumb-outline solid c(type, dark);

        color: c(type, dark);

        transition: none;
    }

    // Breakpoints
    @include mappy-bp(wrist-large) {
        bottom: ms(1, rem);
        right: ms(1, rem);

        // States
        &:active {
            bottom: ms(0.97, rem);
        }
    }

    @include mappy-bp(palm-medium) {
        bottom: initial;
        padding: ms(0.5, em) ms(1, em);
        top: ms(2, rem);
        transform: rotate(90deg);

        // States
        &:active {
            bottom: initial;
            top: ms(2.04, rem);
        }
    }
}
