<!-- Start of #section-breadcrumb -->
<nav
    id="section-breadcrumb"
    class="c-breadcrumb"
    role="navigation"
    aria-labelledby="title__table-of-contents">

    <a
        class="c-breadcrumb__link"
        href="index.html"
        rel="home">
        <span class="content-hide-visually">Return </span>Home
    </a>

</nav>
<!-- End of #section-breadcrumb -->
