<!-- #section-breadcrumb -->
<nav
    class="c-breadcrumb"
    id="section-breadcrumb"
    aria-label="Breadcrumb">

    <a
        class="c-breadcrumb__link"
        href="/writing.html">
        Writing
    </a>

</nav>
