@font-face {
  font-family: 'BespokeSlab-Variable';
  src:
    url('/static/fonts/BespokeSlab-Variable.woff2') format('woff2'),
    url('/static/fonts/BespokeSlab-Variable.woff') format('woff');
  font-weight: 370;
  font-display: fallback;
  font-style: normal;
}

@font-face {
  font-family: 'BespokeSlab-VariableItalic';
  src:
    url('/static/fonts/BespokeSlab-VariableItalic.woff2') format('woff2'),
    url('/static/fonts/BespokeSlab-VariableItalic.woff') format('woff');
  font-display: fallback;
  font-style: italic;
}
