@font-face {
  font-family: 'Metropolis';
  src:
    url('/static/fonts/Metropolis-Medium.woff2') format('woff2'),
    url('/static/fonts/Metropolis-Medium.woff') format('woff');
  font-weight: 500;
  font-display: fallback;
  font-style: normal;
}


// @font-face {
//   font-family: 'Metropolis';
//   src:
//     url('/static/fonts/Metropolis-MediumItalic.woff2') format('woff2'),
//     url('/static/fonts/Metropolis-MediumItalic.woff') format('woff');
//   font-weight: 500;
//   font-display: fallback;
//   font-style: italic;
// }


@font-face {
  font-family: 'Metropolis';
  src:
    url('/static/fonts/Metropolis-Black.woff2') format('woff2'),
    url('/static/fonts/Metropolis-Black.woff') format('woff');
  font-weight: 900;
  font-display: fallback;
  font-style: normal;
}


// @font-face {
//   font-family: 'Metropolis';
//   src:
//     url('/static/fonts/Metropolis-BlackItalic.woff2') format('woff2'),
//     url('/static/fonts/Metropolis-BlackItalic.woff') format('woff');
//   font-weight: 900;
//   font-display: fallback;
//   font-style: italic;
// }
