<!-- Start of #section-portfolio-and-client-list -->
<footer
    id="section-portfolio-and-client-list"
    class="portfolio-and-client-list"
    role="contentinfo"
    aria-labelledby="subtitle-portfolio-and-client-list"
    style="background-color:#4A4A4A">

    <h2 class="page__subtitle" id="subtitle-portfolio-and-client-list">
        Portfolio and client list
    </h2>

    <p>
        If you'd like to <a href="mailto:email@address.com?subject=Portfolio">see my portfolio</a> or <a href="mailto:email@address.com?subject=Clients">list of past clients</a>, please ask. Thanks!
    </p>

</footer>
<!-- End of #section-portfolio-and-client-list -->
