// ============================================================================
// Component
// Skipnav
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-skipnav {
    &__item {

    }

    &__link {
        @include content-hide(visually);

        opacity: 0;

        transition: opacity 0.1s ease-in;

        &:hover,
        &:focus,
        &:active {
            display: block;
            padding: ms(2, rem) ms(3, rem);
            opacity: 1;
            position: fixed;
              top: ms(1.5);
              right: 12.5vw;
            width: 75vw;

            border: ms(1, rem) solid c(skipnav, border);

            background-color: c(skipnav, background);
            box-shadow: 0 rem(10) rem(100) rem(-20) c(skipnav, shadow);

            color: c(skipnav, link-base);
            font-size: ms(2, em);
        }

        &:hover {
            color: c(skipnav, link-hover);
            text-decoration: none;
        }

        &:active {
            color: c(skipnav, link-active);
        }
    }
}
