// ============================================================================
// Component
// Skipnav
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-skipnav {
    &__link {
        @include content-hide(visually);

        opacity: 0;

        transition: opacity animation-duration(short) animation-ease(dialogue);

        &:hover,
        &:focus,
        &:active {
            @include typography-tracking(slight);

            display: block;
            padding: 3.3vw 5vw 3vw 5vw;
            position: fixed;
              top: ms(0.75);
              left: 6.25vw;
            width: 84.375vw;
            z-index: z(ceiling);

            border: 1.5vw solid c(skipnav, border);

            background-color: c(skipnav, background);
            box-shadow: shadow(large) c(skipnav, shadow);

            color: c(skipnav, link-base);
            font-size: calc(1em + 2vw);
            line-height: 1;
            text-decoration: none;

            opacity: 1;
        }

        &:hover {
            color: c(skipnav, link-hover);
        }

        &:active {
            color: c(skipnav, link-active);
        }
    }
}
