<!-- #section-skipnav -->
<ul
    id="section-skipnav"
    class="c-skipnav"
    aria-label="Skipnav">

    <li class="c-skipnav__item">
        <a
            class="c-skipnav__link"
            href="#section-main">
            Skip to main content
        </a>
    </li>

    <li class="c-skipnav__item">
        <a
            class="c-skipnav__link"
            href="accessibility-statement.html#accessibility-issues">
            Accessibility feedback
        </a>
    </li>

</ul>
