<ul class="c-skipnav">

    <li class="c-skipnav__item">
        <a
            class="c-skipnav__link"
            href="#section-about">
            Main content
        </a>
    </li>

    <li class="c-skipnav__item">
        <a
            class="c-skipnav__link"
            href="mailto:email@address.com?subject=Accessibility feedback">
            Accessibility feedback
        </a>
    </li>

</ul>
