<header
  id="section-about"
  aria-labelledby="subtitle-about"
  class="[ flow l-center-column ] [ c-homepage-section ] [ u-color-background-blue ]">

  <h2 id="subtitle-about" class="hide-visually">
    About
  </h2>

  <p class="u-lede">
    I&rsquo;m Eric, a Boston-based inclusive designer.
  </p>
</header>
