<div
  id="section-philosophy"
  class="[ flow l-center-column ] [ c-homepage-section ] [ u-color-background-red ]">

  <h2 id="subtitle-philosophy" class="hide-visually">
    Philosophy
  </h2>

  <p
    class="[ u-lede u-type-measure ]"
    itemprop="mainContentOfPage">
    I help create straightforward solutions that address a person&rsquo;s practical, physical, cognitive, and emotional needs using accessible, performant,&nbsp;device-agnostic&nbsp;technology.
  </p>
</div>
