<div
  id="section-writing"
  class="[ flow l-center-column ] [ c-homepage-section ] [ u-color-background-green ]">

  <h2 id="subtitle-writing" class="hide-visually">
    Writing
  </h2>

{# <ul>
  {% for post in collections.posts %}
  <liL><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul> #}

  <p class="u-lede typography-measure">
    Here are some topics I&rsquo;ve written about:
  </p>

  <ul class="[ l-list-grid l-list-grid--projects ] [ c-link-list ]">
    <li class="c-link-list__item">
      <a
        class="c-link-list__link"
        href="https://www.smashingmagazine.com/2018/06/placeholder-attribute/">
        Don't Use The Placeholder Attribute
      </a>
      <small style="display: block;" class="c-link-list__description">
        Smashing Magazine
      </small>
    </li>
    <li class="c-link-list__item">
      <a
        class="c-link-list__link"
        href="https://css-tricks.com/focusing-on-focus-styles/">
        Focusing on Focus Styles
      </a>
      <small style="display: block;" class="c-link-list__description">
        CSS-Tricks
      </small>
    </li>
    <li class="c-link-list__item">
      <a
        class="c-link-list__link"
        href="https://www.smashingmagazine.com/2020/05/equivalent-experiences-part1/">
        Equivalent Experiences: What Are They?
      </a>
      <small style="display: block;" class="c-link-list__description">
        Smashing Magazine
      </small>
    </li>
    <li class="c-link-list__item">
      <a
        class="c-link-list__link"
        href="https://24ways.org/2018/be-the-villain/">
        Be the Villain
      </a>
      <small style="display: block;" class="c-link-list__description">
        24 ways
      </small>
    </li>
    <li class="c-link-list__item">
      <a
        class="c-link-list__link"
        href="https://alistapart.com/article/paint-the-picture-not-the-frame">
        Paint the Picture, Not the Frame: How Browsers Provide Everything Users Need
      </a>
      <small style="display: block;" class="c-link-list__description">
        A List Apart
      </small>
    </li>
  </ul>

  <p data-archive-years class="c-additional-info">
    <a
      href="{{ '/writing/' | url }}"
      rel="external noopener">
      Full writing archive
    </a>
    <span style="display: block;" class="c-additional-info__description">2015&#8210;2021</span>
  </p>
</div>
