// ============================================================================
// Component
// Errata
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-errata {
    margin-top: ms(0.5, rem);

    &__item {
        display: inline;
    }

    &__link {
        margin-right: ms(1, rem);
    }
}
