// ============================================================================
// Component
// Errata
// ============================================================================


// Component Logic ------------------------------------------------------------
@mixin errata-underline() {
    text-decoration: none;

    // States
    &:hover {
        box-shadow:
          inset 0 -#{$global-underline-baseline-distance} c(background, dark), // Sets baseline
          inset 0 -#{$global-underline-thickness}         currentColor; // Sets thickness proportional to baseline
        display: inline;

        text-shadow:
          -#{$global-underline-outline} -#{$global-underline-outline}  c(background, dark), // Top lefthand corner
          -#{$global-underline-outline}  $global-underline-outline     c(background, dark), // Bottom lefhand corner
           $global-underline-outline     -#{$global-underline-outline} c(background, dark), // Top righthand corner
           $global-underline-outline      $global-underline-outline    c(background, dark); // Bottom righthand corner
    }

    &:active {
        @include content-shift-click();

        box-shadow: none;
    }

    &:focus {
        background-color: c(link, light);
        outline: em(10) solid c(link, light);

        color: c(link, dark);

        &:hover {
            box-shadow:
              inset 0 -#{$global-underline-baseline-distance} c(background, light), // Sets baseline
              inset 0 -#{$global-underline-thickness}         currentColor; // Sets thickness proportional to baseline

            text-shadow:
              -#{$global-underline-outline} -#{$global-underline-outline} c(background, light), // Top lefthand corner
              -#{$global-underline-outline}  $global-underline-outline    c(background, light), // Bottom lefhand corner
               $global-underline-outline    -#{$global-underline-outline} c(background, light), // Top righthand corner
               $global-underline-outline     $global-underline-outline    c(background, light); // Bottom righthand corner

            &:active {
                box-shadow:
                  inset 0 -#{$global-underline-baseline-distance} c(background, dark), // Sets baseline
                  inset 0 -#{$global-underline-thickness}         currentColor; // Sets thickness proportional to baseline
                outline: none;

                background-color: c(background, dark);

                color: c(type, light);
                text-shadow:
                  -#{$global-underline-outline} -#{$global-underline-outline} c(background, dark), // Top lefthand corner
                  -#{$global-underline-outline}  $global-underline-outline    c(background, dark), // Bottom lefhand corner
                   $global-underline-outline    -#{$global-underline-outline} c(background, dark), // Top righthand corner
                   $global-underline-outline     $global-underline-outline    c(background, dark); // Bottom righthand corner
            }
        }
    }
}


// Component Styling ----------------------------------------------------------
.c-errata {
    margin-top: 0;

    color: c(type, light);

    // Breakpoints
    @include mappy-bp(palm-medium) {
        margin-top: 0;
    }

    &__item {
        margin-top: ms(0.25, rem);
        margin-right: ms(1, rem);

        // Breakpoints
        @include mappy-bp(palm-medium) {
            display: inline;
        }
    }

    &__link {
        @include errata-underline();
    }
}
