// ============================================================================
// Component
// Errata
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-errata {
    &__item {
        margin-top: ms(0.5, rem);

        // Breakpoints
        @include mappy-bp(palm) {
            display: inline;
        }
    }

    &__link {
        @include content-underline($underline-background-color: c(l-section, errata), $underline-color: c(l-section, errata));

        margin-right: ms(1, rem);

        text-decoration: none;
    }
}
