<ul class="c-errata">

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode"
            itemprop="license"
            rel="copyright external license noopener">
            <small>
                <abbr title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License">
                    <span aria-hidden="true">CC BY-NC-SA</span>
                    <span class="content-hide-visually">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License</span>
                </abbr>
            </small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            href="colophon.html">
            <small>Colophon</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            href="accessibility-statement.html">
            <small>Accessibility Statement</small>
        </a>
    </li>

    <li class="c-errata__item">
        <a
            class="c-errata__link"
            href="old-stuff.html">
            <small>Old Stuff</small>
        </a>
    </li>

</ul>
