code,
kbd,
pre,
samp,
var {
  font-family: var(--typeface-code);
  font-feature-settings: normal;
  line-height: var(--line-height-tight);
  overflow: auto;
  white-space: pre-wrap;
  word-break: keep-all;
  word-wrap: break-word;
}


kbd {
  background-color: var(--color-background);
  // border: rem(4) solid $color-white; // TODO: VAR
  // border-radius: rem(4); // TODO: VAR
  // box-shadow: 0 2px 1px 0 $color-gray-shade; // TODO: VAR
  padding: 0 0.5ch;
  word-break: break-word;
}


pre {
  background-color: var(--color-background-shade);
  color: var(--color-type-tint);
  padding: 1rem 1.5rem;
}
