// ============================================================================
// Component
// Services
// ============================================================================


// Component Logic ------------------------------------------------------------
$service-icon-size: ms(1.25, rem);


// Component Styling ----------------------------------------------------------
.c-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    &__service {
        height: $service-icon-size;
        flex-basis: 45%; // 2 columns
        margin: ms(0.25, em);

        // States
        &:hover {
            .c-services__link {
                outline: border(thin) solid c(c-service, background-hover);

                background-color: c(c-service, background-hover);
            }
        }

        &:active {
            .c-services__link {
                outline: border(thin) solid c(c-service, background-active);

                background-color: c(c-service, background-active);

                color: c(c-service, text-active);
            }

            .c-services__icon {
                fill: c(c-service, text-active);
            }
        }

        // Breakpoints
        @include mappy-bp(wrist-large) {
            flex-basis: 30%; // 3 columns
        }

        @include mappy-bp(lap-small) {
            flex-basis: 45%; // 2 columns
        }

        @include mappy-bp(lap-medium) {
            flex-basis: 30%; // 3 columns
        }
    }

    &__link {
        @include typography-tracking(slight);

        align-items: center;
        display: flex;

        outline: none;

        color: c(c-service, text-base);
        text-decoration: none;

        transition: background-color animation-duration(shortest) animation-ease(dialogue);

        // States
        &:focus {
            outline: border(thin) solid c(c-service, background-active);

            background-color: c(c-service, background-active);

            color: c(c-service, text-active);

            .c-services__icon {
                fill: c(c-service, text-active);
            }
        }

        // Breakpoints
        @include mappy-bp(palm-medium) {
            font-size: 85%;
        }
    }

    &__icon {
        @include component-size($service-icon-size, $service-icon-size);

        margin-right: em(6);
        margin-left: em(8);
        padding: em(6);

        fill: c(c-service, text-base);
    }
}
