<ul class="c-services">

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="mailto:&#101;&#114;&#105;&#099;&#046;&#119;&#046;&#098;&#097;&#105;&#108;&#101;&#121;☛REMOVE-THIS☚&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=UPDATE"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-envelope"></use></svg>
            <span class="content-hide-visually">Open </span>Default<span class="content-hide-visually"> mail client</span>
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="https://mail.aol.com/webmail-std/en-us/ComposeMessage?to=eric.w.bailey@gmail.com&subject=UPDATE"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-aol"></use></svg>
            <span class="content-hide-visually">Open </span>Aol
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=eric.w.bailey@gmail.com&su=UPDATE&fs=1&tf=1"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-google"></use></svg>
            <span class="content-hide-visually">Open </span>Gmail
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="https://www.icloud.com/mail/"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-apple"></use></svg>
            <span class="content-hide-visually">Open </span>iCloud
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="https://outlook.live.com/owa/?path=/mail/action/compose&to=eric.w.bailey@gmail.com&subject=UPDATE"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-outlook"></use></svg>
            <span class="content-hide-visually">Open </span>Outlook
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="http://compose.mail.yahoo.com/?to=eric.w.bailey@gmail.com&subject=UPDATE"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-yahoo"></use></svg>
            <span class="content-hide-visually">Open </span>Yahoo
        </a>
    </li>

</ul>
