<ul class="c-services">

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="mailto:foo@example.com"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-envelope"></use></svg>
            <span class="content-hide-visually">Open </span>Default<span class="content-hide-visually"> mail client</span>
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="https://mail.aol.com/"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-aol"></use></svg>
            <span class="content-hide-visually">Open </span>Aol
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="https://mail.google.com/"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-google"></use></svg>
            <span class="content-hide-visually">Open </span>Gmail
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="https://www.icloud.com/mail/"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-apple"></use></svg>
            <span class="content-hide-visually">Open </span>iCloud
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="https://outlook.live.com/"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-outlook"></use></svg>
            <span class="content-hide-visually">Open </span>Outlook
        </a>
    </li>

    <li class="c-services__service">
        <a
            class="c-services__link"
            href="https://mail.yahoo.com/"
            rel="external noopener">
            <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-services__icon"><use xlink:href="#icon-yahoo"></use></svg>
            <span class="content-hide-visually">Open </span>Yahoo
        </a>
    </li>

</ul>
