// ============================================================================
// Component
// Year Divider
// ============================================================================


// Component Logic ------------------------------------------------------------


// Component Styling ----------------------------------------------------------
.c-year-divider {
    padding-bottom: ms(0.25);
    position: sticky;
      top: -1px;

      background-color: c(l-content, background-content);
}
