// ============================================================================
// Component
// Year Divider
// ============================================================================


// Component Logic ------------------------------------------------------------


// Component Styling ----------------------------------------------------------
.c-year-divider {
    padding-top: ms(0, $unit: rem);
    padding-bottom: ms(0, $unit: rem);
    position: sticky;
      top: -1px;

    background-color: c(l-content, background-content);

    // Modes
    @media (prefers-color-scheme: dark) {
        background-color: c(l-content, dark, background-content);
    }
}
