$supports-flex: "(display: flex)";
$supports-grid: "(display: grid)";
$supports-hanging-punctuation: "(hanging-punctuation: first)";
$supports-subgrid: "(grid-template-columns: subgrid)";
$supports-underlines: "(text-underline-offset: 0.5rem)";
