// Print styles inlined to avoid the additional HTTP request:
// http://www.phpied.com/delay-loading-your-print-css/
@media print,
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    // Style adjustments for high resolution devices
}

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; // Black prints faster: http://www.sanbeiji.com/archives/953
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")"; // Prints link URL after link
    }

    abbr[title]:after {
        content: " (" attr(title) ")"; // Prints link title after link
    }

    //  Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: border(thinnest) solid #000;
        page-break-inside: avoid;
    }

    // Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media print {
    #section-home,
    #section-errata,
    #section-breadcrumb {
        display: none;
    }

    .l-content__title--writing,
    .l-content__title--speaking,
    .l-content__title--office-hours,
    .l-content__title--accessibility-statement,
    .l-content__title--colophon,
    .l-content__title--old-stuff,
    .l-content__title--404 {
        border-top-color: #fff;
    }

    .c-link-list {
        flex-flow: column !important;
    }

    .c-year-divider {
        position: initial;
    }

    .l-content__title {
        padding-top: 0;
        padding-bottom: 0;
    }

    .l-section__about,
    .l-section__contact,
    .l-section__errata,
    .l-section__passions,
    .l-section__philosophy,
    .l-section__portfolio-and-client-list,
    .l-section__projects,
    .l-section__speaking,
    .l-section__writing,

    .l-content__title,
    .l-content__body {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .l-content__body,
    .l-content figure,
    .l-content p {
        max-width: initial;
    }
}
