// ============================================================================
// Component
// Additional Info
// ============================================================================


// Component Logic ------------------------------------------------------------


// Component Styling ----------------------------------------------------------
.c-additional-info {
    margin-top: ms(2);

    // Contexts
    .l-section__writing & {
        margin-top: ms(2.25);
    }

    .l-section__speaking & {
        margin-top: ms(2.25);
    }

    // Breakpoints
    @include mappy-bp(lap-small) {
        margin-top: ms(1);
    }

    &__description {
        display: block;
        margin-top: rem(5);

        font-size: 80%;
        line-height: 1.2;
    }
}
