// ============================================================================
// Component
// Additional Info
// ============================================================================


// Component Logic ------------------------------------------------------------


// Component Styling ----------------------------------------------------------
.c-additional-info {
    margin-top: ms(2, $unit: rem);

    // Contexts
    .l-section__writing &,
    .l-section__speaking & {
        margin-top: ms(8, $unit: rem);
    }

    // Breakpoints
    @include mappy-bp(lap-small) {
        margin-top: ms(1, $unit: rem);
    }

    &__description {
        display: block;

        font-size: 80%;
        line-height: 1.2;
    }
}
