<p
    class="c-additional-info"
    data-learning-status>
    <a
        class="c-additional-info__link"
        href="https://abookapart.com/products/javascript-for-web-designers"
        rel="external noopener">
        I&rsquo;m currently learning JavaScript
    </a>
</p>
