<p
    class="c-additional-info"
    data-archive-years>
    <a
        href="speaking.html"
        rel="external noopener">
        Full speaking archive
    </a>
    <span class="c-additional-info__description">2017&#8210;2019</span>
</p>
