<div
  class="flow u-color-background-gray"
  id="section-navigation">
  <h2 id="subtitle-navigation" class="hide-visually" style="margin-top:var(--scale2);">
    Navigation
  </h2>

  {% include "nav/primary.njk" %}
  {% include "nav/secondary.njk" %}

</div>
