.banner {
  background-color: #f5ed52;
  font-family: sans-serif;
  margin-top: var(--scale2);
  padding: var(--scale2) var(--scale2) var(--scale1) var(--scale2);

  h2 {
    font-style: normal;
    margin-bottom: 0;
  }

  p {
    margin-top: var(--scale0);
  }

  a {
    color: #404040;

    &:focus {
      background-color: transparent;
      outline: initial;
      text-decoration: none;
    }
  }
}
