.banner {
  background-color: #fffdd9;
  font-family: sans-serif;
  margin-top: var(--scale2);
  padding: var(--scale2) var(--scale2) var(--scale1) var(--scale2);

  h2 {
    font-family: sans-serif;
    font-size: var(--scale0);
    letter-spacing: var(--tracking-loose);
    margin-bottom: 0;
    text-transform: uppercase;
  }

  p {
    margin-top: var(--scale0);
  }

  a {
    color: #404040;

    &:focus {
      background-color: transparent;
      outline: initial;
      text-decoration: none;
    }
  }
}
