<p class="c-about c-lede typography-measure">
    I&rsquo;m Eric, a Boston-based designer working&nbsp;at&nbsp;<a class="c-about__link" rel="external noopener" href="https://thoughtbot.com/">thoughtbot</a>.
</p>
