<p class="c-about c-lede typography-measure">
    I&rsquo;m Eric, a Boston-based user experience designer working&nbsp;at&nbsp;<a class='c-about__link' rel='external noopener' href='http://cantina.co/'>Cantina</a>.
</p>
