<!-- Start of #section-about -->
<header
    id="section-about"
    class="o-header"
    role="banner"
    aria-labelledby="title-about"
    style="background-color:#48D7E7">

    <h1 class="page__title" id="title-about">
        About
    </h1>

    <p>
        I'm Eric, a Boston-based User Experience designer working at <a rel="external noopener" href="http://cantina.co/">Cantina</a>.
    </p>

</header>
<!-- End of #section-about -->
