<!-- Start of #section-about -->
<header
    id="section-about"
    class="o-header"
    role="banner"
    aria-labelledby="title-about"
    style="background-color:#48D7E7">

    <h1 id="title-about" class="page__title">
        {{content.about.title}}
    </h1>

    <p>
        {{{content.about.body}}}
    </p>

</header>
<!-- End of #section-about -->
