// ============================================================================
// Component
// Content Alert
// ============================================================================


// Component Logic ------------------------------------------------------------



// Component Styling ----------------------------------------------------------
.c-content-alert {
    font-style: normal;
    font-size: 75%;

    &__icon {
        height: rem(14);
        position: relative;
        top: rem(2);
        width: rem(14);
    }
}
