<header
  id="section-banner"
  class="banner"
  aria-labelledby="updating-in-the-open">
  <h2 id="updating-in-the-open">
    Updating in the open
  </h2>
  <p>
    Things might look a little janky for a bit, but that’s okay! I am in the process of refreshing the design, and you can follow along on <a href="https://github.com/ericwbailey/ericwbailey.design">GitHub</a>. The latest update was updating the layout grid.
  </p>
</header>
