<header
  id="section-banner"
  class="banner measure"
  aria-labelledby="updating-in-the-open">
  <h2 id="updating-in-the-open">
    Updating in the open
  </h2>
  <p>
    Things might look a little janky for a bit, but that’s okay! I am in the process of <a href="https://github.com/ericwbailey/ericwbailey.website">refreshing the design</a>.
  </p>
</header>
