<header
  id="section-banner"
  class="banner"
  aria-labelledby="this-site-is-updating-in-the-open">
  <h2 id="this-site-is-updating-in-the-open">
    This site is updating in the open
  </h2>
  <p>
    Things might look a little janky for a bit, but that’s okay! I am in the process of refreshing the design, and you can follow along on <a href="https://github.com/ericwbailey/ericwbailey.design">GitHub</a>. The latest update was setting up <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*"><code>root</code> Custom Properties</a>.
  </p>
</header>
