<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Webpage">
<head>
  {% include "meta/charset-viewport.njk" %}

  {% include "meta/title-description-author.njk" %}
  {% include "meta/feed-sitemap.njk" %}

  {% include "meta/styles.njk" %}
  {% include "meta/icons-theming.njk" %}
  {% include "meta/social-media.njk" %}

  {% include "meta/scripts/mustard-cutting.njk" %}
  {# {% include "meta/performance.njk" %} #}
</head>
<body
  {% if templateClass %}class="{{ templateClass }}"{% endif %}
  itemscope itemtype="http://schema.org/ProfilePage">

{% include "components/skipnav.njk" %}

{% include "banner.njk" %}

<div class="l-grid">
  {# {% include "icon-sprite.njk" %} #}
  {# {% include "components/honeypot.njk" %} #}
