$type-typefaces: (
  primary: (Georgia, Times, 'Times New Roman', serif),
  secondary: ('Helvetica Neue', Helvetica, Arial, sans-serif),
  code: (monaco, Consolas, 'Lucida Console', 'Lucida Sans Typewriter', 'Bitstream Vera Sans Mono', monospace)
);
