$type-typefaces: (
  primary: ('Helvetica Neue', Helvetica, Arial, sans-serif),
  secondary: (TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif),
  code: (monaco, Consolas, 'Lucida Console', 'Lucida Sans Typewriter', 'Bitstream Vera Sans Mono', monospace)
);
