$colors-palette: (
  black: #000000,
  blue-tint:    #48d7e7,
  blue:         #48d7e7,
  blue-shade:   #48d7e7,
  gray-lighter: #e8e8e8,
  gray-light:   #dddddd,
  gray:         #4a4a4a,
  gray-dark:    #111111,
  green-tint:   #69ddae,
  green:        #69ddae,
  green-shade:  #69ddae,
  purple-tint:  #faafe1,
  purple:       #faafe1,
  purple-shade: #faafe1,
  red-tint:     #ff8764,
  red:          #ff8764,
  red-shade:    #ff8764,
  white:        #ffffff,
  yellow-tint:  #fffdd9,
  yellow:       #f5ed52,
  yellow-shade: #f5ed52
);


$colors-sections: (
  404-tint: red-tint,
  404: red,
  404-shade: red-shade,
  accessibility-statement-tint: blue-tint,
  accessibility-statement: blue,
  accessibility-statement-shade: blue-shade,
  colophon-tint: gray-light,
  colophon: gray,
  colophon-shade: gray-dark,
  speaking-tint: purple-tint,
  speaking: purple,
  speaking-shade: purple-shade,
  office-tint: gray-light,
  office-hours: gray,
  office-shade: gray-dark,
  old-stuff-tint: yellow-tint,
  old-stuff: yellow,
  old-stuff-shade: yellow-shade,
  writing-tint: green-tint,
  writing: green,
  writing-shade: green-shade,
);
