<!-- Start of #section-philosophy -->
<main
    id="section-philosophy"
    class="o-philosophy"
    role="main"
    aria-labelledby="subtitle-philosophy"
    style="background-color:#FF8764">

    <h2 class="page__subtitle" id="subtitle-philosophy">
        Philosophy
    </h2>

    <p>
        I help create straightforward solutions that address a person's practical, physical, cognitive, and emotional needs using accessible, performant, device-agnostic technology.
    </p>

</main>
<!-- End of #section-philosophy -->
