---
layout: layouts/landing.njk
title: The page you’re looking for can’t be found
permalink: 404.html
eleventyExcludeFromCollections: true
---

<h2 id="were-you-browsing-my-site" class="heading-beta">
  Were you browsing my site?
</h2>
<p>
  Please <button class="null is-contact-button" data-message-subject="Broken link">tell me about the broken link</button> and I’ll fix it.
</p>

<h2 id="did-you-come-here-from-another-site" class="heading-beta">
  Did you come here from another site?
</h2>
<p>
  Sometimes links aren’t written properly. Sometimes I’ve changed things around on my site since the other site wrote a link that points here. If either are the case, please let me know about
  <button class="null is-contact-button" data-message-subject="Broken offsite link">the other site’s broken link</button> and I’ll ask them to fix it.
</p>

<h2 id="did-you-type-a-url-to-get-here" class="heading-beta">
  Did you type a <abbr>URL</abbr> to get here?
</h2>
<p>
  Double-check <a href="https://en.wikipedia.org/wiki/Address_bar" rel="external noopener">your browser’s address bar</a> to make sure you typed it correctly, or <a href="index.html" rel="home">head home</a> to try again.
</p>

<!--
<h2 class="heading-beta">
  Want a distraction instead?
</h2>
<p>
  Here are some gimmick sites I own:
</p>
<ul class="c-link-list">
  <li>
    <a href="http://belugamariachi.com" rel="external noopener">beluga&#8202;mariachi&#8202;.&#8202;com </a>
    <i class="c-content-alert">
      <svg class="icon c-content-alert__icon" viewBox="0 0 100 100" aria-hidden="true" height="14" width="14"><use xlink:href="#icon-speaker"></use></svg> <span class="content-hide-visually">Alert:</span> autoplaying media
    </i>
  </li>
  <li>
    <a href="http://literallytheindianocean.io" rel="external noopener">literally&#8202;the&#8202;indian&#8202;ocean&#8202;.&#8202;io </a>
    <i class="c-content-alert">
      <svg class="icon c-content-alert__icon" viewBox="0 0 100 100" aria-hidden="true" height="14" width="14"><use xlink:href="#icon-speaker"></use></svg> <span class="content-hide-visually">Alert:</span> autoplaying media
    </i>
  </li>
  <li><a href="http://npmplease.com/" rel="external noopener">npmplease</a></li>
  <li><a href="http://sadhighfive.com" rel="external noopener">sad&#8202;high&#8202;five&#8202;.&#8202;com</a></li>
  <li>
    <a href="http://youcancallme.al" rel="external noopener">you&#8202;can&#8202;call&#8202;me&#8202;.&#8202;al </a>
    <i class="c-content-alert">
      <svg class="icon c-content-alert__icon" viewBox="0 0 100 100" aria-hidden="true" height="14" width="14"><use xlink:href="#icon-speaker"></use></svg> <span class="content-hide-visually">Alert:</span> autoplaying media
    </i>
  </li>
</ul> -->
