---
templateClass: tmpl-post
---

{% include "head.njk" %}

<nav id="nav-breadcrumb" aria-label="Breadcrumb">
  <ol>
    <li>
      <a href="{{ '/' | url }}">Home</a>
    </li>
    <li>
      <a href="{{ '/writing/' | url }}">Writing</a>
    </li>
  </ol>
</nav>

<main
  id="section-main"
  itemscope itemtype="https://schema.org/BlogPosting">
  <meta itemprop="mainEntityOfPage" content="{{ title | slugify | url }}">

  <h1
    id="title"
    aria-current="page"
    itemprop="name headline">
    {{ title | safe }}
  </h1>

  <p>
    <time id="date-published" datetime="{{ date | htmlDateString }}">
      {{ date | readableDate }}
    </time>
    {% if originallyPublished %}
      {% for source in originallyPublished %}
        . Originally published at <a href="{{ source.url }}">{{ source.title }}</a>.
      {% endfor %}
    {% endif %}
  </p>

  <div itemprop="articleBody">
    {{ content | safe }}
  </div>

  {% if furtherReading %}
  <h2 id="further-reading">
    Further reading
  </h2>
  <ul>
    {% for link in furtherReading %}
    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</main>

  {% if attribution %}
  <hr>

  <aside
    aria-label="Attribution"
    class="c-attribution">
    <p>
      {{ attribution | safe }}
    </p>
  </aside>
  {% endif %}

{# <ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul> #}

{% include "meta/post-info.njk" %}
{% include "foot.njk" %}
