<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.title.four-oh-four}} | {{content.site.title}}</title>
{{>meta/description/description pageDescription=content.site.tagline}}
{{>meta/description/author}}
{{>meta/structure/feed-and-sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter socialMediaTitle=content.title.four-oh-four socialMediaDescription=content.site.tagline}}
{{>meta/social-media/facebook socialMediaTitle=content.title.four-oh-four socialMediaDescription=content.site.tagline}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-home/c-home}}

{{>components/c-honeypot/c-honeypot}}

<main
    id="section-main"
    class="l-content"
    tabindex="-1">

    <header
        class="l-content__title l-content__title--404"
        aria-labelledby="title-404">

        <svg
            class="l-content__illustration"
            xmlns="http://www.w3.org/2000/svg"
            aria-label="Shrug emoticon"
            role="img"
            focusable="false"
            viewBox="0 0 480 105">
            <path fill-rule="evenodd" d="M0 4.053h37.666v8.226H0V4.052zM59 .485l30.36 82.1H76.813L46.55.488h12.46L59 .485zM82.637 96.43v-5.464h60.346v5.464H82.637zm71.262-73.4a115.887 115.887 0 0 1 12.234-21.41h11.39l-3.23 6.053a91.624 91.624 0 0 0-9.274 26.174 105.844 105.844 0 0 0-1.688 19.553 94.4 94.4 0 0 0 4.707 30.44 140.809 140.809 0 0 0 9.75 21.076H166.61l-3.762-5.245c-2.44-3.166-5.035-7.885-7.78-14.156a82.113 82.113 0 0 1-7.37-33.077 74.746 74.746 0 0 1 6.2-29.412l.007.01-.008-.005zM231.14.01L220.93 6.1c3.15 4.54 6.29 9.52 9.337 14.943 1.733 3.093 4.448 8.19 8.246 15.492l10.094-6.645A265.43 265.43 0 0 0 231.14 0v.01zm42.316 4.213c-3.476 18.936-9.556 34.2-18.015 45.715-9.547 12.84-23.004 22.25-40.255 28.45l7.588 10.738c18.663-6.64 33.2-17.492 43.835-32.43 9.22-13.182 15.733-30 19.417-50.373l-12.58-2.1h.01zm-67.6 3.872l-10.307 6.53c3.15 4.537 6.29 9.627 9.44 15.16 2.716 4.65 5.427 9.743 8.032 15.056l10.413-6.31a251.989 251.989 0 0 0-17.58-30.44v.005zM324.678 23.03a74.398 74.398 0 0 1 6.2 29.396 81.919 81.919 0 0 1-7.362 33.068 71.584 71.584 0 0 1-7.78 14.175l-3.77 5.243h-11.172a140.562 140.562 0 0 0 9.75-21.08 94.174 94.174 0 0 0 4.708-30.434c.047-6.56-.52-13.11-1.692-19.563a91.215 91.215 0 0 0-9.266-26.168l-3.228-6.053h11.386a116.967 116.967 0 0 1 12.236 21.4l-.007.007-.002.006zm11.13 73.4v-5.468h60.33v5.468h-60.33zM420.472.486h12.552l-30.357 82.1h-12.46l30.256-82.1h.012-.003zm21.864 3.564H480v8.228h-37.67v-8.23l.006.002z"/>
        </svg>

        <h1
            id="title-404"
            class="heading-alpha">
            {{content.title.four-oh-four}}
        </h1>

    </header>

    <section class="l-content__body">

        <h2 class="heading-beta">
            Were you browsing my site?
        </h2>

        <p>
            Please <a rel="external me noopener" data-message-subject="Broken link" href="mailto:&#101;&#114;&#105;&#099;&#046;&#119;&#046;&#098;&#097;&#105;&#108;&#101;&#121;☛REMOVE-THIS☚&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=&#066;&#114;&#111;&#107;&#101;&#110;&#032;&#108;&#105;&#110;&#107;">tell me about the broken link</a> and I&rsquo;ll fix it.
        </p>
        <h2 class="heading-beta">
            Did you come here from another site?
        </h2>
        <p>
            Sometimes links aren&rsquo;t written properly. Sometimes I&rsquo;ve changed things around on my site since the other site wrote a link that points here. If either are the case, please let me know about <a rel="external me noopener" data-message-subject="Broken offsite link" href="mailto:&#101;&#114;&#105;&#099;&#046;&#119;&#046;&#098;&#097;&#105;&#108;&#101;&#121;☛REMOVE-THIS☚&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=&#066;&#114;&#111;&#107;&#101;&#110;&#032;&#111;&#102;&#102;&#115;&#105;&#116;&#101;&#032;&#108;&#105;&#110;&#107;">the other site&rsquo;s broken link</a> and I&rsquo;ll ask them to fix it.
        </p>
        <h2 class="heading-beta">
            Did you type a <abbr>URL</abbr> to get here?
        </h2>
        <p>
            Double-check <a rel="external noopener" href="https://en.wikipedia.org/wiki/Address_bar">your browser&rsquo;s address bar</a> to make sure you typed it correctly, or <a rel="home" href="index.html">head home</a> to try again.
        </p>
        <h2 class="heading-beta">
            Want a distraction instead?
        </h2>
        <p>
            Here are some gimmick sites I own:
        </p>

        {{>components/c-link-list/c-404}}

    </section>

</main>

{{>layout/l-section/l-errata}}

{{>layout/l-dialog/l-dialog}}

{{>meta/scripts/main}}
{{!-- {{>meta/scripts/offline}} --}}
{{>meta/analytics/gauges}}

</body>
</html>
