<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{content.page-title.accessibility-statement}} | {{content.page-title.home}}</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}
{{>meta/icons-and-theming/icons-and-theming}}

{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

{{>meta/scripts/type}}

</head>
<body>
{{>meta/scripts/fade.in}}

{{>components/c-skipnav/c-skipnav}}

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

{{>components/c-breadcrumb/c-breadcrumb}}

<main
    id="section-main"
    class="l-content"
    aria-labelledby="title-accessibility-statement"
    role="main">

    <h1
        id="title-accessibility-statement"
        class="heading-alpha">
        Accessibility Statement
    </h1>

    <p>
        This site is committed to providing an experience that functions for the widest possible audience, regardless of technology or ability. It strives to conform to level <a rel="external noopener" href="https://www.w3.org/TR/WCAG20/"><span aria-hidden="true">AA</span><span class="content-hide-visually">double A</span> compliance for the Web Content Accessibility Guidelines (<abbr title="Web Content Accessibility Guidelines">WCAG</abbr>) 2<span aria-hidden="true">.</span><span class="content-hide-visually">point</span>0</a>&mdash;guidelines explain how to make web content easier to use for people with disabilities.
    </p>
    <p>
        The code powering this site is <a href="https://www.w3.org/standards/">standards-compliant <abbr title="Hyper Text Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, and JavaScript</a>. Any person using a browser—past, present, or future—that honors these standards should be capable of navigating this site.
    </p>
    <p>
        In addition to being tested on modern browsers, both <a rel="external noopener" href="http://www.apple.com/accessibility/osx/voiceover/">mac&#8202;OS Voice&#8202;Over</a> and <a rel="external noopener" href="http://www.nvaccess.org/">NV Access's <abbr title="NonVisual Desktop Access">NVDA</abbr></a> have been used to test this site for ease of use with a screen reader. It has also been audited using <a rel="external noopener" href="http://wave.webaim.org/about">WebAIM's <abbr title="Web Accessibility Evaluation Tool">WAVE</a>, as well as the <a rel="external noopener" href="https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb">Chrome</a>, and <a rel="external noopener" href="https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmnindnejefpokejbdd"><abbr aria-hidden="true" title="Accessibility Engine">aXe</abbr><span class="content-hide-visually">axe</span></a> developer testing tool extensions.
    </p>
    <p id="accessibility-issues">
        Issues with this site&rsquo;s accessibility can be submitted as a <a rel="external noopener" href="https://github.com/ericwbailey/ericwbailey.design/issues">Git&#8202;Hub issue</a>, or by <a data-message-subject="accessibility" rel="external noopener" href="mailto:&#101;&#114;&#105;&#099;&#046;&#119;&#046;&#098;&#097;&#105;&#108;&#101;&#121;☛REMOVE-THIS☚&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject=&#065;&#099;&#099;&#101;&#115;&#115;&#105;&#098;&#105;&#108;&#105;&#116;&#121;&#032;&#105;&#115;&#115;&#117;&#101;">emailing me directly</a>. I take these issues very seriously and will try to remedy the problem as quickly as time allows. A list of <a rel="external noopener" href="https://github.com/ericwbailey/ericwbailey.design/wiki/Accessibility-Testing-Warnings-and-Errors">known reported issues</a> are available.
    </p>
    <p>
        Although I cannot guarantee that all content linked to, or embedded on this site is fully accessible, I try to choose sites and services that embrace inclusive design principles.
    </p>

</main>

{{>layout/l-section/l-errata}}

{{>layout/l-dialog/l-dialog}}

{{>meta/scripts/fade.out}}
{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
