---
layout: layouts/landing.njk
title: Colophon
lede: This website was first published in the winter of 2016 in <a href="http://www.somervillema.gov/">Somerville, Massachusetts</a>. It was built on a Mid 2014 MacBook Pro using <a href="https://github.com/ericwbailey/enchilada">enchilada, a personal project boilerplate</a>.
eleventyNavigation:
  key: Colophon
  parent: Secondary
  order: 5
---

<p>
  This website was then updated to use <a href="https://www.11ty.dev/">Eleventy</a> in the Winter of 2020. Its code is <a href="https://github.com/ericwbailey/ericwbailey.website">hosted on Git&#8202;Hub</a>, with a <a href="https://iwantmyname.com/">domain name provided by iwantmyname</a>. Deploys are managed by <a href="https://www.netlify.com/">Netlify</a>.
</p>
<p>
  More information about the technology used to make this website is available in its <a href="{{ '/humans.txt' | url }}"><code class="u-letter-break-none">humans.txt</code> file</a>.
</p>
{# <p>
  The website is set in <a href="https://typekit.com/fonts/abril/details/abril-text-regular">Abril</a>, an editorial typeface inspired by nineteenth century Slab Serif and Scotch Roman type. Abril was made by the Czech foundry <a href="http://www.type-together.com/">Type Together</a>, and is (begrudgingly) hosted by <a href="https://fonts.adobe.com/">Adobe Fonts</a>.
</p>
<p>
  Website components are built using relative-sized units set to a <a href="http://type-scale.com/?size=16&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333">Perfect Fourth modular scale</a>. You can reference <a href="https://color.adobe.com/ericwbailey-color-theme-9083628/">the main site palette on Adobe Color</a>.
</p> #}
<p id="browser-list" class="c-target-link">
  Testing was conducted in a variety of browsers, including the latest versions of <a href="https://www.google.com/chrome/">Chrome</a>, <a href="https://www.microsoft.com/en-us/windows/microsoft-edge/microsoft-edge">Edge</a>, <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, and <a href="http://www.apple.com/safari/">Safari</a>. Issues with the site&rsquo;s operation can be submitted as a <a href="https://github.com/ericwbailey/ericwbailey.website/issues">GitHub issue</a>. Please be sure to observe <a href="https://github.com/ericwbailey/ericwbailey.website/blob/main/CONTRIBUTING.md">the contributing guidelines</a> and <a href="https://github.com/ericwbailey/ericwbailey.website/blob/main/ISSUE_TEMPLATE.md">the issue template</a>.
</p>
<p>
  A <a href="{{ '/sitemap.xml' | url }}">sitemap</a> is available, although this site isn&rsquo;t very complex. It also uses <a href="https://get.gaug.es/">Gauges analytics</a>, but not for anything sinister on my end of things. Additionally, a <a href="{{ '/feed/feed.xml' | url }}"><abbr>RSS</abbr> feed</a> is available.
</p>
<h2 id="webrings" class="heading-beta">
  Webrings
</h2>
<p>
  This site is also a proud member of the following webrings:
</p>
<nav aria-labelledby="a11y-webring-webring">
  <h3 id="a11y-webring-webring">
    a11y-webring.club webring
  </h3>
  <ul class="c-webring">
    <li>
      <a referrerpolicy="strict-origin" href="https://a11y-webring.club/prev">Previous<span class="hide-visually"> a11y-webring.club website</span></a>
    </li>
    <li>
      <a referrerpolicy="strict-origin" href="https://a11y-webring.club/random">Random<span class="hide-visually"> a11y-webring.club website</span></a>
    </li>
    <li>
      <a referrerpolicy="strict-origin" href="https://a11y-webring.club/next">Next<span class="hide-visually"> a11y-webring.club website</span></a>
    </li>
  </ul>
</nav>
<nav aria-labelledby="css-joy-webring">
  <h3 id="css-joy-webring">
    CSS JOY webring
  </h3>
  <ul class="c-webring">
    <li>
      <a href="https://webri.ng/webring/cssjoy/previous?via=https%3A%2F%2Fericwbailey.website%2Fcolophon%2F%23webrings">Previous<span class="hide-visually"> CSS Joy website</span></a>
    </li>
    <li>
      <a href="https://webri.ng/webring/cssjoy/random?via=https%3A%2F%2Fcs.sjoy.lol">Random<span class="hide-visually"> CSS joy website</span></a>
    </li>
    <li>
      <a href="https://webri.ng/webring/cssjoy/next?via=https%3A%2F%2Fericwbailey.website%2Fcolophon%2F%23webrings">Next<span class="hide-visually"> CSS joy website</span></a>
    </li>
  </ul>
</nav>
<nav aria-labelledby="design-systems-webring">
  <h3 id="design-systems-webring">
    Design Systems Webring
  </h3>
  <p>
    This site is part of <a rel="external" href="https://design-system.club/">Design Systems Webring</a>.
  </p>
  <ul class="c-webring">
    <li>
      <a rel="external" referrerpolicy="strict-origin" href="https://design-system.club/prev">Previous<span class="hide-visually"> Design Systems Webring website</span></a>
    </li>
    <li>
      <a rel="external" referrerpolicy="strict-origin" href="https://design-system.club/random">Random<span class="hide-visually"> Design Systems Webring website</span></a>
    </li>
    <li>
      <a rel="external" referrerpolicy="strict-origin" href="https://design-system.club/next">Next<span class="hide-visually"> Design Systems Webring website</span></a>
    </li>
  </ul>
</nav>
<nav aria-labelledby="hotline-webring">
  <h3 id="hotline-webring">
    Hotline webring
  </h3>
  <ul class="c-webring">
    <li>
      <a href="https://hotlinewebring.club/eric/previous">Previous<span class="hide-visually"> Hotline Webring website</span></a>
    </li>
    <li>
      <a href="https://hotlinewebring.club/eric/next">Next<span class="hide-visually"> Hotline Webring website</span></a>
    </li>
  </ul>
</nav>
<nav aria-label="sidebar-webring">
  <h3 id="sidebar-webring">
    Sidebar.io webring
  </h3>
  <ul class="c-webring">
    <li>
      <a href="http://jlzych.com/?ref=sidebar_webring">Previous<span class="hide-visually"> Sidebar.io webring website</span></a>
    </li>
    <li>
      <a href="https://hiddedevries.nl/en/blog?ref=sidebar_webring">Next<span class="hide-visually"> Sidebar.io webring website</span></a>
    </li>
  </ul>
</nav>
