<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.title.colophon}} | {{content.site.title}}</title>
{{>meta/description/description}}
{{>meta/description/author}}
{{>meta/structure/sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter}}
{{>meta/social-media/facebook}}
{{>meta/social-media/google-plus}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>themes/t-offline/t-offline}}

{{>components/c-breadcrumb/c-breadcrumb}}

<main
    id="section-main"
    class="l-content"
    aria-labelledby="title-colophon"
    itemscope itemtype="http://schema.org/AboutPage">

    <header
        class="l-content__title l-content__title--colophon"
        aria-labelledby="title-colophon">

        <h1
            id="title-colophon"
            class="heading-alpha">
            {{content.title.colophon}}
        </h1>

    </header>

    <section class="l-content__body">

        <p class="c-lede">
            This site was first published in the winter of 2017 in <a rel="external noopener" href="http://www.somervillema.gov/">Somerville, Massachusetts</a>. It was built on a Mid 2014 Mac&#8202;Book Pro using <a rel="external noopener" href="https://github.com/ericwbailey/enchilada">enchilada, a personal project boilerplate</a>.
        </p>
        <p>
            More information about the technology used to make this site is available in its <a rel="external noopener" href="/humans.txt"><code class="no-letter-break">humans.txt</code> file</a>.
        </p>
        <p>
            The site is set in <a rel="external noopener" href="https://typekit.com/fonts/abril/details/abril-text-regular">Abril</a>, an editorial typeface inspired by nineteenth century Slab Serif and Scotch Roman type. Abril was made by the Czech foundry <a rel="external noopener" href="http://www.type-together.com/">Type Together</a>, and (begrudgingly) hosted by <a rel="external noopener" href="https://typekit.com/">Typekit</a>.
        </p>
        <p>
            Site elements are built using relative-sized units set to a <a rel="external noopener" href="http://type-scale.com/?size=16&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333">Perfect Fourth modular scale</a>. You can reference <a rel="external noopener" href="https://color.adobe.com/ericwbailey-color-theme-9083628/">the main site palette on Adobe Color</a>.
        </p>
        <p>
            The site&rsquo;s code is <a rel="external noopener" href="https://pages.github.com/">hosted on Git&#8202;Hub</a>, with a <a rel="external noopener" href="https://iwantmyname.com/">domain name provided by iwantmyname</a>. The site&rsquo;s content and security is handled by <a rel="external noopener" href="https://cloudflare.com/">Cloudflare</a>.
        </p>
        <p>
            Testing was conducted in a variety of browsers, including the latest versions of <a rel="external noopener" href="https://www.google.com/chrome/">Chrome</a>, <a rel="external noopener" href="https://www.microsoft.com/en-us/windows/microsoft-edge/microsoft-edge">Edge</a>, <a rel="external noopener" href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a rel="external noopener" href="http://www.opera.com/">Opera</a>, <a rel="external noopener" href="http://www.apple.com/safari/">Safari</a>, and <a rel="external noopener" href="https://vivaldi.com/?lang=en_US">Vivaldi</a>. Issues with the site&rsquo;s operation can be submitted as a <a rel="external noopener" href="https://github.com/ericwbailey/ericwbailey.design/issues">GitHub issue</a>. Please be sure to observe <a rel="external noopener" href="https://github.com/ericwbailey/ericwbailey.design/blob/master/CONTRIBUTING.md">the contributing guidelines</a> and <a rel="external noopener" href="https://github.com/ericwbailey/ericwbailey.design/blob/master/ISSUE_TEMPLATE.md">the issue template</a>.
        </p>
        <p>
            A <a href="http://ericwbailey.design/sitemap.xml">sitemap</a> is available, although this site isn&rsquo;t very complex. It also uses <a rel="external noopener" href="http://analytics.google.com/">Google Analytics</a>, but not for anything sinister on my end of things.
        </p>

    </section>

</main>

{{>layout/l-section/l-errata currentColophon='aria-current="page"'}}

{{>meta/scripts/main}}
{{>meta/scripts/offline}}
{{>meta/analytics/google-analytics}}

</body>
</html>
