<!doctype html>
<html class="tk-abril-text" itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{content.titles.colophon}} | {{content.titles.home}}</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}
{{>meta/icons-and-theming/icons-and-theming}}

{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}
                                            <!-- <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" /> -->

                                            <script src="https://use.typekit.net/wcc6tnm.js"></script>
                                            <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body itemscope itemtype="http://schema.org/ProfilePage">

{{>components/c-skipnav/c-skipnav}}

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

{{>objects/o-browserupgrade/o-browserupgrade}}

{{>components/c-breadcrumb/c-breadcrumb}}

<main
    id="section-main"
    class="l-content"
    role="main"
    aria-labelledby="title-colophon">

    <h1
        id="title-colophon"
        class="heading-alpha">
        Colophon
    </h1>

    <p>
        This site was published in the fall of 2016 in <a rel="external noopener" href="http://www.somervillema.gov/">Somerville, Massachusetts</a>. It was built on a Mid 2014 Mac&#8202;Book Pro using <a rel="external noopener" href="https://github.com/ericwbailey/enchilada">enchilada, a personal project boilerplate</a>. More information is available in this site's <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design/blob/master/source/humans.txt"><code class="no-letter-break">humans.txt</code> file</a>.
    </p>
    <p>
        The site is set in <a rel="external noopener" href="https://typekit.com/fonts/abril/details/abril-text-regular">Abril</a>, an editorial typeface inspired by nineteenth century Slab Serif and Scotch Roman type. Abril was made by the Czech foundry <a rel="external noopener" href="http://www.type-together.com/">Type Together</a>, and (begrudgingly) hosted by <a rel="external noopener" href="https://typekit.com/">Typekit</a>.
    </p>
    <p>
        The site's code is <a rel="external noopener" href="https://pages.github.com/">hosted on Git&#8202;Hub</a>, with <a rel="external noopener" href="https://iwantmyname.com/">a domain name provided by iwantmyname</a>. Site elements are built using relative-sized units set to <a rel="external noopener" href="http://type-scale.com/">a Perfect Fourth modular scale</a>.
    </p>
    <p>
        Testing was conducted in a variety of browsers, including the latest versions of <a rel="external noopener" href="https://www.google.com/chrome/">Chrome</a>, <a rel="external noopener" href="https://www.microsoft.com/en-us/windows/microsoft-edge/microsoft-edge">Edge</a>, <a rel="external noopener" href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a rel="external noopener" href="http://www.opera.com/">Opera</a>, <a rel="external noopener" href="http://www.apple.com/safari/">Safari</a>, and <a rel="external noopener" href="https://vivaldi.com/?lang=en_US">Vivaldi</a>. Issues with the site&rsquo;s operation can be submitted as a <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design/issues">GitHub issue</a>. Please be sure to observe <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design/blob/master/CONTRIBUTING.md">the contributing guidelines</a> and <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design/blob/master/ISSUE_TEMPLATE.md">the issue template</a>.
    </p>
    <p>
        A sitemap is available, although this site isn't very complex. It also uses <a rel="external noopener" href="https://www.google.com/analytics/">Google Analytics</a>.
    </p>

</main>

{{>layout/l-section/l-errata}}

{{>meta/scripts/main}}
{{>meta/scripts/plugins}}
{{>meta/analytics/google-analytics}}

</body>
</html>
