---
layout: layouts/base.njk
templateClass: template-home
gridLayout: grid-home
eleventyNavigation:
  key: Home
  order: 1
---

<div style="padding: var(--scale1);">
  <h1 id="title" class="hide-visually">
    {{ metadata.title }}
  </h1>

  {% include "banner.njk" %}

  {% include "homepage/about.njk" %}
  {% include "homepage/philosophy.njk" %}
  {% include "homepage/passions.njk" %}
  {% include "homepage/writing.njk" %}
  {% include "homepage/speaking.njk" %}
  {% include "homepage/projects.njk" %}
  {% include "homepage/contact.njk" %}
</div>
