<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{content.titles.home}}</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}
{{>meta/icons-and-theming/icons-and-theming}}

{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

</head>
<body>

{{>layout/l-skipnav/l-skipnav}}

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

{{>objects/o-browserupgrade/o-browserupgrade}}

<main
    id="section-main"
    class="content-delobotomize"
    role="main"
    aria-labelledby="title-home">

<h1 id="title-home" class="content-hide-visually">
    {{content.home.title}}
</h1>

{{>layout/l-section/l-about}}
{{>layout/l-section/l-philosophy}}
{{>layout/l-section/l-interests}}
{{>layout/l-section/l-writing}}
{{>layout/l-section/l-projects}}
{{>layout/l-section/l-contact}}
{{>layout/l-section/l-portfolio-and-client-list}}

{{>meta/scripts/main}}
{{>meta/scripts/plugins}}
{{>meta/analytics/google-analytics}}

</main>

</body>
</html>
