<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.site.title}} | {{content.site.tagline}}</title>
{{>meta/description/description}}
{{>meta/description/author}}
{{>meta/structure/sitemap}}
<meta name="google-site-verification" content="p6UgfaoJOEbh4h2LMr53WJiM1T7lAwTEJB5xA8SCQJ0" />

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter}}
{{>meta/social-media/facebook}}
{{>meta/social-media/google-plus}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body itemscope itemtype="http://schema.org/ProfilePage">
{{>meta/scripts/fade.in}}

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-honeypot/c-honeypot}}

{{>components/c-offline/c-offline}}

<main
    id="section-main"
    aria-labelledby="title-home">

<h1 id="title-home" class="content-hide-visually">
    {{content.site.title}}
</h1>

{{>layout/l-section/l-about}}
{{>layout/l-section/l-philosophy}}
{{>layout/l-section/l-passions}}
{{>layout/l-section/l-writing}}
{{>layout/l-section/l-speaking}}
{{>layout/l-section/l-projects}}
{{>layout/l-section/l-contact}}
{{>layout/l-section/l-portfolio-and-client-list}}
{{>layout/l-section/l-errata}}

{{>layout/l-dialog/l-dialog}}

</main>

{{>meta/scripts/fade.out}}
{{>meta/scripts/main}}
{{>meta/description/structured-data}}
{{>meta/analytics/google-analytics}}

</body>
</html>
