<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Webpage">
<head>
  {% include "meta/charset-viewport.njk" %}

  {% include "meta/title-description-author.njk" %}
  {% include "meta/feed-sitemap.njk" %}

  {% include "meta/styles.njk" %}
  {% include "meta/icons-theming.njk" %}
  {% include "meta/social-media.njk" %}

  {% include "meta/scripts/mustard-cutting.njk" %}
  {% include "meta/scripts/analytics.njk" %}
</head>

<a class="c-homepage__skipnav" id="section-skipnav" class="skipnav" href="#title">Skip to main content</a>

{% include "components/honeypot.njk" %}

<main id="main" class="l-grid">

  <div id="hello" class="c-homepage__hello">
    <h1 class="c-homepage__title" class="" id="title">
      Hello, I’m Eric
    </h1>
  </div>

  <div id="about" class="c-homepage__about">
    <p itemprop="mainContentOfPage">
      I’m an <a href="{{ '/tags/inclusion/' | url }}">inclusive design</a> advocate, <a href="{{ '/writing/' | url }}">writer</a>, <a href="{{ '/tags/Development/' | url }}">developer</a>, and <a href="{{ '/speaking/' | url }}">speaker</a>.
    </p>
  </div>

  <div id="interests" class="c-homepage__interests">
    <h2 class="c-homepage__subtitle" id="title-interests">
      My interests are:
    </h2>

    <ul class="c-homepage__list">
      <li><a href="https://github.com/ericwbailey/ericwbailey.design">Working in the open</a></li>
      <li><a href="https://www.webpagetest.org/result/190407_TJ_6b8eeb18bebf6a79069508f41c60658f/#accessibility">Accessible and inclusive design</a></li>
      <li><a href="https://search.google.com/structured-data/testing-tool/u/0/#url=http%3A%2F%2Fericwbailey.design%2F">Semantics and interoperability</a></li>
      <li><a href="https://ericwbailey.design/#:~:text=CSS%20architecture%20at%20scale">CSS architecture at scale</a></li>
      <li><a href="https://worldwideweb.cern.ch/browser/#https://ericwbailey.design/">Progressive enhancement</a></li>
      <li><a href="https://yellowlab.tools/result/fmo0qm55ll">Web performance</a></li>
      <li><a href="{{ '/writing/what-they-dont-tell-you-when-you-translate-your-app' | url }}">Internationalization and localization</a></li>
    </ul>
  </div>

  <div id="writing" class="c-homepage__writing">
    <h2 class="c-homepage__subtitle" id="title-writing">
      <a href="{{ '/writing/' | url }}">I’ve written {{ counts.posts.total }} articles</a> for {{ counts.posts.sources }} places. Here’s the latest:
    </h2>

    <p class="c-homepage__featured-title">
      <a rel="author" href="{{ '/writing/what-they-dont-tell-you-when-you-translate-your-app' | url }}">What they don’t tell you when you translate your app</a>
      <span class="c-homepage__featured-source">
        Published on this site
      </span>
    </p>
  </div>

  <div id="speaking" class="c-homepage__speaking">
    <h2 class="c-homepage__subtitle" id="title-speaking">
      <a href="{{ '/speaking/' | url }}">I’ve given {{ counts.speaking.talks }} talks</a> at {{ counts.speaking.locations }} locations. Here’s the latest:
    </h2>

    <p class="c-homepage__featured-title">
      <a rel="author" href="https://noti.st/ericwbailey/QGBiUS/be-the-villain">Be the Villain</a>
      <span class="c-homepage__featured-source">
        Delivered for the Philly Accessibility Meetup
      </span>
    </p>
  </div>

  <div id="projects" class="c-homepage__projects">
    <h2 class="c-homepage__subtitle" id="title-projects">
      I <a href="{{ '/projects/' | url }}">maintain some projects</a>. Here’s my current favorite:
    </h2>

    <p
      itemscope
      itemprop="workExample"
      itemtype="http://schema.org/WebSite"
      class="c-homepage__featured-title">
      <a itemprop="url" href="https://www.a11yproject.com/">The A11Y Project</a>
      <span class="c-homepage__featured-source">
        Redesign lead and maintainer
      </span>
    </p>
  </div>

  <address id="contact" class="c-homepage__contact">
    <h2 class="c-homepage__subtitle" id="section-contact">
      Here’s how to contact&nbsp;me:
    </h2>

    <ul class="c-homepage__list c-homepage__list--contact">
      <li itemscope itemtype="http://schema.org/Organization">
        <a rel="me" href="https://twitter.com/ericwbailey"><span itemprop="memberOf">Twitter</span></a>
      </li>
      <li itemscope itemtype="http://schema.org/Organization">
        <a rel="me" href="https://github.com/ericwbailey"><span itemprop="memberOf">GitHub</span></a>
      </li>
      <li itemscope itemtype="http://schema.org/Organization">
        <a rel="me" href="https://www.linkedin.com/in/ericwbailey/"><span itemprop="memberOf">LinkedIn</span></a>
      </li>
      <li itemscope itemtype="http://schema.org/Organization">
        <a rel="me" href="https://www.polywork.com/ericwbailey"><span itemprop="memberOf">Polywork</span></a>
      </li>
      <li itemscope itemtype="http://schema.org/Organization">
        <a rel="me" href="https://codepen.io/ericwbailey/"><span itemprop="memberOf">CodePen</span></a>
      </li>
      <li itemscope itemtype="http://schema.org/Organization">
        <a rel="me" href="https://instagram.com/eric.w.bailey/"><span itemprop="memberOf">Instagram</span></a>
      </li>
      <li>
        <a href="mailto:&#101;&#114;&#105;&#99;&#46;&#119;&#46;&#98;&#97;&#105;&#108;&#101;&#121;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">Email</a>
      </li>
      <li>
        <a href="{{ '/office-hours/' | url }}">Virtual Coffee</a>
      </li>
    </ul>
  </address>

</main>

<footer id="navigation" class="c-homepage__footer">
  <h2 class="c-homepage__subtitle" id="title-navigation">
    And here’s some places you can go:
  </h2>

  <div class="c-homepage__nav-wrapper">
    <nav id="nav-primary" aria-label="Primary">
      <ul class="c-homepage__list">
        <li><a href="{{ '/writing/' | url }}">Writing</a></li>
        <li><a href="{{ '/speaking/' | url }}">Speaking</a></li>
        <li><a href="{{ '/projects/' | url }}">Projects</a></li>
        <li><a href="{{ '/office-hours/' | url }}">Office Hours</a></li>
      </ul>
    </nav>

    <nav id="nav-secondary" aria-label="Secondary">
      <ul class="c-homepage__list">
        <li><a href="{{ '/feed/feed.xml' | url }}">RSS Feed</a></li>
        <li><a href="{{ '/accessibility-statement//' | url }}">Accessibility Statement</a></li>
        <li><a href="{{ '/colophon/' | url }}">Colophon</a></li>
        <li><a href="{{ '/old-stuff/' | url }}">Old Stuff</a></li>
      </ul>
    </nav>
  </div>
</footer>

{% include "meta/scripts/main.njk" %}

</body>
</html>



<!--
---
layout: layouts/base.njk
templateClass: template-home
gridLayout: grid-home
eleventyNavigation:
  key: Home
  order: 1
---
-->
