<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="$$projectLanguage">
<head>

<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{{content.title.home}} | $$projectFullTitle</title>
{{>meta/description/description}}
{{>meta/description/author}}

{{>meta/styles/main}}
{{>vendor/modernizr/modernizr}}
{{>meta/icons-and-theming/icons-and-theming}}

{{>meta/social-media/facebook}}
{{>meta/social-media/twitter}}
{{>meta/social-media/google-plus}}

</head>
<body>

<!-- Start of Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>
<!-- End of Icon Sprite -->

{{>objects/o-browserupgrade/o-browserupgrade}}

<main>

<h1>hi hello screenshot test</h1>
<h2 style="color:teal">
    {{content.title.home}}
</h2>
<h2 style="color:red;">
    the time is {{timestamp}}
</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar aliquam erat nec egestas. Vestibulum sed ultricies odio, sed fringilla augue. Fusce semper iaculis volutpat. Aliquam viverra viverra tellus, sit amet maximus turpis aliquam et. Duis urna lorem, efficitur non consequat sed, pulvinar nec eros. Nam id iaculis justo. Duis dignissim est metus. Nam placerat turpis ut bibendum venenatis. In in egestas purus.
</p>

</main>

{{>meta/scripts/main}}
{{>meta/scripts/plugins}}
{{>meta/analytics/google-analytics}}

</body>
</html>
