<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.title.office-hours}} | {{content.site.title}}</title>
{{>meta/description/description}}
{{>meta/description/author}}
{{>meta/structure/sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter}}
{{>meta/social-media/facebook}}
{{>meta/social-media/google-plus}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-breadcrumb/c-breadcrumb}}

{{>components/c-honeypot/c-honeypot}}

<main
    id="section-main"
    class="l-content"
    tabindex="-1">

    <header
        class="l-content__title l-content__title--office-hours"
        aria-labelledby="office-hours">

        <h1
            id="title-office-hours"
            class="heading-alpha">
            {{content.title.office-hours}}
        </h1>

    </header>

    <section class="l-content__body">

        <p class="c-lede">
            I&rsquo;d like to help give back to an industry that&rsquo;s given me so much.
        </p>

        <h2
            id="subtitle-what-im-offering"
            class="heading-beta">
            What I&rsquo;m offering
        </h2>

        <p>
            I&rsquo;m setting aside time on Fridays if you want someone to bounce ideas off of. We can talk about any topic you like, but here&rsquo;s some subjects I think I might specifically be able to help you out with:
        </p>
        <ul>
            <li>Design and design tools</li>
            <li>User testing and user experience</li>
            <li>Accessibility</li>
            <li>Semantics</li>
            <li><abbr title="Cascading Style Sheets">CSS</abbr> and <a rel="external noopener" href="http://sass-lang.com/"><abbr title="Syntactically Awesome Style Sheets">Sass</abbr></a></li>
        </ul>
        <p>
            Worse comes to worse, I&rsquo;m an excellent <a rel="external noopener" href="https://rubberduckdebugging.com/">rubber duck</a>.
        </p>

        <h2
            id="subtitle-what-im-not-offering"
            class="heading-beta">
            What I&rsquo;m not offering
        </h2>
        <p>
            Just to make sure our expectations are aligned: I will not be giving out job or internship offers, or legally binding advice for things like accessibility remediation. I will also not do your work for you, but I will happily help you work through it!
        </p>
        <p>
            I will hang up on you if you try to sell me something.
        </p>

        <h2
            id="subtitle-who-id-like-to-hear-from"
            class="heading-beta">
            Who I&rsquo;d like to hear from
        </h2>

        <p>
            Anyone of any skill level! These kinds of things can be intimidating, but I'd like to help if I can. If it turns out you know more than me, I&rsquo;d love the opportunity to learn from you.
        </p>
        <p>
            I&rsquo;d especially like to hear from you if you identify with a group that is underrepresented in technology.
        </p>

        <h2
            id="subtitle-how-to-set-up-a-meeting"
            class="heading-beta">
            How to set up a meeting
        </h2>

        <p>
            <a rel="external me noopener" data-message-subject="Office hours" href="mailto:&#101;&#114;&#105;&#099;&#046;&#119;&#046;&#098;&#097;&#105;&#108;&#101;&#121;☛REMOVE-THIS☚&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Send me an email</a> and we can schedule a time to meet. I like <a rel="external noopener" href="https://hangouts.google.com/">Google Hangouts</a>, but I'm happy to use another service if it is more convenient for you.
        </p>
        <p>
            For scheduling purposes, I work out of an <a rel="external noopener" href="https://www.timeanddate.com/worldclock/converter.html?iso=20181026T170000&p1=tz_et">Eastern United States time zone</a>, typically from <time datetime="09:00">9</time> to <time datetime="17:00">5</time>. Meetings will last about 15&#x2012;30 minutes.
        </p>

    </section>

</main>

{{>layout/l-section/l-errata currentOfficeHours='aria-current="page"'}}

{{>layout/l-dialog/l-dialog}}

{{>meta/scripts/main}}
{{>meta/scripts/offline}}
{{>meta/analytics/gauges}}

</body>
</html>
