<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.title.old-stuff}} | {{content.site.title}}</title>
{{>meta/description/description}}
{{>meta/description/author}}
{{>meta/structure/sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter}}
{{>meta/social-media/facebook}}
{{>meta/social-media/google-plus}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-breadcrumb/c-breadcrumb}}

<main
    id="section-main"
    class="l-content"
    aria-labelledby="old-stuff">

    <header
        class="l-content__title l-content__title--old-stuff"
        aria-labelledby="title-colophon">

        <h1
            id="title-old-stuff"
            class="heading-alpha">
            {{content.title.old-stuff}}
        </h1>

    </header>

    <section class="l-content__body">

        <p class="c-lede">
            Here's some archived work from my old site. Some of it <a href='http://themesbyeris23.tumblr.com/credits'>wound up in strange places</a>. It&rsquo;s a big, weird internet out there!
        </p>

        {{>components/c-link-list/c-old-stuff}}

    </section>

</main>

{{>layout/l-section/l-errata currentOldStuff='aria-current="page"'}}

{{>meta/scripts/main}}
{{>meta/scripts/offline}}
{{>meta/analytics/google-analytics}}

</body>
</html>
