---
layout: layouts/landing.njk
title: Pronouns
lede: I use <strong>he/him/his</strong> pronouns.
eleventyNavigation:
  key: Pronouns
  parent: Orphans
  order: 3
---

<h2 id="my-name">
  My name
</h2>
<p>
  Eric
</p>
<h2 id="Pronouns">
  Please use:
</h2>
<ul>
  <li>He</li>
  <li>Him</li>
  <li>His</li>
</ul>
<p>
  I’m also okay with:
</p>
<ul>
  <li>They</li>
  <li>Them</li>
  <li>Their</li>
</ul>
<h2 id="title">
  Title
</h2>
<ul>
  <li>Mister/Mr.</li>
  <li>No title</li>
</ul>
<h2 id="reference">
  Reference
</h2>
<ul>
  <li>Person</li>
  <li>Man</li>
  <li>Husband</li>
  <li>Sibling</li>
  <li>Brother</li>
  <li>Son</li>
</ul>
<h2 id="examples">
  Examples
</h2>
<p>
  <strong>Eric</strong> is a designer. <strong>He</strong> likes helping people. Other people sometimes help <strong>him</strong>.
</p>
<p>
  <strong>His</strong> website is <a href="https://ericwbailey.website/">ericwbailey.website</a>. Snail mail sent to him from people he does not know too well is addressed to <strong>Mr.</strong> Bailey.
</p>
<p>
  Eric is also a <strong>husband</strong>, a <strong>brother</strong>, and a <strong>son</strong>. Most importantly, he is a <strong>person</strong>.
<p>
