---
layout: layouts/landing.njk
title: Writing
lede: Interested in having me write for your publication? <a rel="external me noopener" data-message-subject="Writing comission" href="mailto:&#101;&#114;&#105;&#099;&#046;&#119;&#046;&#098;&#097;&#105;&#108;&#101;&#121;☛REMOVE-THIS☚&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Let's get a conversation going</a>!
eleventyNavigation:
  key: Writing
  parent: Primary
  order: 1
---

<p>A <a href="{{ '/feed/feed.xml' | url}}">RSS feed</a> and <a href="{{ '/tags/' | url }}">list of tags</a> are also available.</p>

<h2 id="2023" class="heading-beta">
  <time datetime="2023">2023</time>
</h2>

<ol start="{{ counts.posts.total }}" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="{{ '/published/websites-are-like-bridges/' | url }}" class="c-link-list__link" rel="author" id="websites-are-like-bridges">Websites are like bridges</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/github-now-has-a-setting-to-underline-links/' | url }}" class="c-link-list__link" rel="author" id="github-now-has-a-setting-to-underline-links">GitHub now has a setting to underline links</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/equivalent-experience-can-cut-both-ways/' | url }}" class="c-link-list__link" rel="author" id="equivalent-experience-can-cut-both-ways">Equivalent experience can cut both ways</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/use-of-the-design-system-should-factor-into-promotion-packets/' | url }}" class="c-link-list__link" rel="author" id="use-of-the-design-system-should-factor-into-promotion-packets">Use of the design system should factor into promotion packets</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/a-year-at-github/' | url }}" class="c-link-list__link" rel="author" id="a-year-at-github">A year at GitHub</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/formative-posts/' | url }}" class="c-link-list__link" rel="author" id="formative-posts">Formative posts</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/my-jeans-metadata-may-outlive-the-company-that-sold-them' | url }}" class="c-link-list__link" rel="author" id="my-jeans-metadata-may-outlive-the-company-that-sold-them">My jeans’ metadata may outlive the company that sold them</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/the-five-types-of-people-who-produce-inaccessible-code' | url }}" class="c-link-list__link" rel="author" id="the-five-types-of-people-who-produce-inaccessible-code">The five types of people who produce inaccessible code</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/display-contents-considered-harmful' | url }}" class="c-link-list__link" rel="author" id="display-contents-considered-harmful"><code>display: contents</code> considered harmful</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/global-accessibility-anger-day' | url }}" class="c-link-list__link" rel="author" id="global-accessibility-anger-day">Global Accessibility Anger Day</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/dont-use-custom-css-scrollbars' | url }}" class="c-link-list__link" rel="author" id="dont-use-custom-css-scrollbars">Don’t use custom CSS scrollbars</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/sandcastles' | url }}" class="c-link-list__link" rel="author" id="sandcastles">Sandcastles</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/sabbath-mode-and-assistive-technology-features' | url }}" class="c-link-list__link" rel="author" id="sabbath-mode-and-assistive-technology-features">Sabbath mode and assistive technology features</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/i-doubled-down-on-rss' | url }}" class="c-link-list__link" rel="author" id="i-doubled-down-on-rss">I doubled-down on RSS</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/my-mastodon-strategy' | url }}" class="c-link-list__link" rel="author" id="my-mastodon-strategy">My Mastodon strategy</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/modern-health-frameworks-performance-and-harm' | url }}" class="c-link-list__link" rel="author" id="modern-health-frameworks-performance-and-harm">Modern Health, frameworks, performance, and harm</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
</ol>

<h2 id="2022" class="heading-beta">
  <time datetime="2022">2022</time>
</h2>

<ol start="132" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://www.htmhell.dev/adventcalendar/2022/24/" class="c-link-list__link" rel="author" id="preventing-form-submission-with-zero-javascript">Preventing form submission with zero Javascript</a>
    <small style="display: block;" class="c-link-list__description">HTMHell</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/centerless' | url }}" class="c-link-list__link" rel="author" id="centerless">Centerless</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/swearing-and-automatic-captions' | url }}" class="c-link-list__link" rel="author" id="swearing-and-automatic-captions">Swearing and automatic captions</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/aria-label-is-a-code-smell' | url }}" class="c-link-list__link" rel="author" id="aria-label-is-a-code-smell"><code>aria-label</code> is a code smell</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/yes-accessibility-is-also-a-backend-concern' | url }}" class="c-link-list__link" rel="author" id="yes-accessibility-is-also-a-backend-concern">Yes, accessibility is also a backend concern</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/visit-for-a-surprise' | url }}" class="c-link-list__link" rel="author" id="visit-for-a-surprise">Visit for a surprise</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/re-selling-your-extension' | url }}" class="c-link-list__link" rel="author" id="re-selling-your-extension">Re: Selling your extension</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/dot-website' | url }}" class="c-link-list__link" rel="author" id="dot-website">Dot website</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/saying-thank-you' | url }}" class="c-link-list__link" rel="author" id="saying-thank-you">Saying thank you</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://adhocteam.us/2022/07/05/null-in-design-systems/" class="c-link-list__link" rel="author" id="the-case-for-null-in-design-systems">The case for null in design systems</a>
    <small style="display: block;" class="c-link-list__description">Ad Hoc</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2022/06/voice-control-usability-considerations-partially-visually-hidden-link-names/" class="c-link-list__link" rel="author" id="voice-control-usability-considerations-for-partially-visually-hidden-link-names">Voice Control Usability Considerations For Partially Visually Hidden Link Names</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/where-do-you-start-measuring-distance-from-when-the-origin-is-the-bottom-of-a-block-of-text' | url }}" class="c-link-list__link" rel="author" id="where-do-you-start-measuring-distance-from-when-the-origin-is-the-bottom-of-a-block-of-text">Where do you start measuring distance from when the origin is the bottom of a block of text?</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/the-optics-of-pair-programming' | url }}" class="c-link-list__link" rel="author" id="the-optics-of-pair-programming">The optics of pair programming</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/all-the-user-facing-states' | url }}" class="c-link-list__link" rel="author" id="all-the-user-facing-states">All the user-facing states</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/worstworkwednesday' | url }}" class="c-link-list__link" rel="author" id="worstworkwednesday">#WorstWorkWednesday</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2022/03/windows-high-contrast-colors-mode-css-custom-properties/" class="c-link-list__link" rel="author" id="windows-high-contrast-mode-forced-colors-mode-and-css-custom-properties">Windows High Contrast Mode, Forced Colors Mode And CSS Custom Properties</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/it-needs-to-map-back-to-a-role' | url }}" class="c-link-list__link" rel="author" id="it-needs-to-map-back-to-a-role">It needs to map back to a role</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/the-case-for-adding-validation-state-to-your-design-tokens' | url }}" class="c-link-list__link" rel="author" id="the-case-for-adding-validation-state-to-your-design-tokens">The case for adding validation state to your design tokens</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/comic-sans-is-a-good-typeface-actually' | url }}" class="c-link-list__link" rel="author" id="comic-sans-is-a-good-typeface-actually">Comic Sans is a good typeface, actually</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/tribble' | url }}" class="c-link-list__link" rel="author" id="tribble">Tribble</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/maralinga-bomb-test' | url }}" class="c-link-list__link" rel="author" id="maralinga-bomb-test">Maralinga bomb test</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/evergreen-does-not-mean-immediately-available/" class="c-link-list__link" rel="author" id="evergreen-does-not-mean-immediately-available">“Evergreen” Does Not Mean Immediately Available</a>
    <small style="display: block;" class="c-link-list__description">CSS-Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://makeitfable.com/article/ive-had-enough-when-access-friction-becomes-an-access-barrier/" class="c-link-list__link" rel="author" id="ive-had-enough-when-access-friction-becomes-an-access-barrier">I’ve had enough! When access friction becomes an access barrier</a>
    <small style="display: block;" class="c-link-list__description">Fable</small>
  </li>
</ol>

<h2 id="2021" class="heading-beta">
  <time datetime="2021">2021</time>
</h2>

<ol start="109" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="{{ '/published/chinese-rooms-wasps-slime-molds-and-the-problem-of-other-minds' | url }}" class="c-link-list__link" rel="author" id="chinese-rooms-wasps-slime-molds-and-the-problem-of-other-minds">Chinese rooms, wasps, slime molds, and the problem of other minds</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/test-your-product-on-a-crappy-laptop/" class="c-link-list__link" rel="author" id="test-your-product-on-a-crappy-laptop">Test Your Product on a Crappy Laptop</a>
    <small style="display: block;" class="c-link-list__description">CSS-Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/where-do-you-put-spacing-on-design-system-components' | url }}" class="c-link-list__link" rel="author" id="where-do-you-put-spacing-on-design-system-components">Where do you put spacing on design system components?</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/your-css-is-an-interface' | url }}" class="c-link-list__link" rel="author" id="your-css-is-an-interface">Your CSS is an interface</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.getstark.co/blog/the-endless-search-for-here-in-the-unhelpful-click-here-button" class="c-link-list__link" rel="author" id="the-endless-search-for-here-in-the-unhelpful-click-here-button">The endless search for “here” in the unhelpful “click here” button</a>
    <small style="display: block;" class="c-link-list__description">Stark</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/spear-phishing-with-slackbot-for-fun-and-profit' | url }}" class="c-link-list__link" rel="author" id="spear-phishing-with-slackbot-for-fun-and-profit">Spear phishing with Slackbot for fun and profit</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/insulin-dump' | url }}" class="c-link-list__link" rel="author" id="insulin-dump">Insulin dump</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/100' | url }}" class="c-link-list__link" rel="author" id="100">100</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2021/09/improving-accessibility-of-markdown/" class="c-link-list__link" rel="author" id="improving-the-accessibility-of-your-markdown">Improving the Accessibility of your Markdown</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/thoughtbot-com-dark-mode-and-other-user-preferences' | url }}" class="c-link-list__link" rel="author" id="thoughtbot-com-dark-mode-and-other-user-preferences">thoughtbot.com, dark mode, and other user preferences</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/what-they-dont-tell-you-when-you-translate-your-app' | url }}" class="c-link-list__link" rel="author" id="what-they-dont-tell-you-when-you-translate-your-app">What they don’t tell you when you translate your app</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/forbidden-noodles' | url }}" class="c-link-list__link" rel="author" id="forbidden-noodles">Forbidden noodles</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/accessibe-and-the-false-david-vs-goliath-narrative' | url }}" class="c-link-list__link" rel="author" id="accessibe-and-the-false-david-vs-goliath-narrative">accessiBe and the false David vs. Goliath narrative</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/a-bad-accessibility-trend-ive-noticed' | url }}" class="c-link-list__link" rel="author" id="a-bad-accessibility-trend-ive-noticed">A bad accessibility trend I’ve noticed</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/ham-biscuit-on' | url }}" class="c-link-list__link" rel="author" id="ham-biscuit-on">Ham biscuit on</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/organize-your-css-declarations-alphabetically' | url }}" class="c-link-list__link" rel="author" id="organize-your-css-declarations-alphabetically">Organize your CSS declarations alphabetically</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2021/06/img-alt-attribute-alternate-description-decorative/" class="c-link-list__link" rel="author" id="your-image-is-probably-not-decorative">Your Image Is Probably Not Decorative</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/the-lawnmower-button' | url }}" class="c-link-list__link" rel="author" id="the-lawnmower-button">The lawnmower button</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/modifications-we-ve-made-to-the-design-sprint" class="c-link-list__link" rel="author" id="modifications-we-ve-made-to-the-design-sprint">Modifications we’ve made to the Design Sprint</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/dont-use-custom-css-mouse-cursors' | url }}" class="c-link-list__link" rel="author" id="dont-use-custom-css-mouse-cursors">Don’t use custom CSS mouse cursors</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/how-I-grew-the-a11y-project-to-10k-followers-on-twitter' | url }}" class="c-link-list__link" rel="author" id="how-I-grew-the-a11y-project-to-10k-followers-on-twitter">How I grew The A11Y Project to 10k followers on Twitter</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/listing-posts-in-eleventy-when-you-publish-offsite' | url }}" class="c-link-list__link" rel="author" id="listing-posts-in-eleventy-when-you-publish-offsite">Listing posts in Eleventy when you publish offsite</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/to-subset-or-not-subset-fonts' | url }}" class="c-link-list__link" rel="author" id="to-subset-or-not-subset-fonts">To subset or not subset fonts</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/add-punctuation-to-your-alt-text" class="c-link-list__link" rel="author" id="add-punctuation-to-your-alt-text">Add punctuation to your alt text</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/css-is-a-strongly-typed-language/" class="c-link-list__link" rel="author" id="css-is-a-strongly-typed-language">CSS is a Strongly Typed Language</a>
    <small style="display: block;" class="c-link-list__description">CSS-Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/i-love-my-not-smart-tv' | url }}" class="c-link-list__link" rel="author" id="i-love-my-not-smart-tv">I love my not-smart TV</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.shopify.com/partners/blog/mobile-accessibility" class="c-link-list__link" rel="author" id="mobile-accessibility-how-to-build-apps-that-work-for-all-users">Mobile Accessibility: How to Build Apps that Work for All Users</a>
    <small style="display: block;" class="c-link-list__description">Shopify Partners</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/how-to-make-an-ineffective-404-page' | url }}" class="c-link-list__link" rel="author" id="how-to-make-an-ineffective-404-page">How to make an ineffective 404 page</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.a11yproject.com/posts/2021-03-23-myth-alternate-text-can-be-automated/" class="c-link-list__link" rel="author" id="myth-alternate-text-can-be-automated">Myth: Alternate text and automation</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/minor-version-bump' | url }}" class="c-link-list__link" rel="author" id="minor-version-bump">Minor version bump</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/a-conversation-can-be-an-output" class="c-link-list__link" rel="author" id="a-conversation-can-be-an-output">A conversation can be an output</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.a11yproject.com/posts/2021-03-08-should-i-use-an-accessibility-overlay/" class="c-link-list__link" rel="author" id="should-i-use-an-accessibility-overlay">Should I use an accessibility overlay?</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/give-me-a-definition-for-the-word-dashboard' | url }}" class="c-link-list__link" rel="author" id="give-me-a-definition-for-the-word-dashboard">Give me a definition for the word “dashboard”</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/an-introduction-to-macos-voice-control" class="c-link-list__link" rel="author" id="an-introduction-to-macos-voice-control">An Introduction to macOS Voice Control</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/implicit-cultural-norms-and-accessible-social-media' | url }}" class="c-link-list__link" rel="author" id="implicit-cultural-norms-and-accessible-social-media">Implicit cultural norms and accessible social media</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/how-3-hours-of-conversation-saved-a-company-hundreds-of-thousands-of-dollars" class="c-link-list__link" rel="author" id="how-3-hours-of-conversation-saved-a-company-hundreds-of-thousands-of-dollars">How 3 hours of conversation saved a company hundreds of thousands of dollars</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/my-typical-day' | url }}" class="c-link-list__link" rel="author" id="my-typical-day">My typical day</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/accessibility-auditing-and-ego' | url }}" class="c-link-list__link" rel="author" id="accessibility-auditing-and-ego">Accessibility auditing and ego</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/blogroll' | url }}" class="c-link-list__link" rel="author" id="blogroll">Blogroll</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/presentation-panic' | url }}" class="c-link-list__link" rel="author" id="presentation-panic">Presentation panic</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.a11yproject.com/posts/2021-01-28-how-to-use-the-tabindex-attribute/" class="c-link-list__link" rel="author" id="">How-to: Use the <code>tabindex</code> attribute</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/an-introduction-to-macos-head-pointer" class="c-link-list__link" rel="author" id="an-introduction-to-macos-head-pointer">An introduction to macOS Head Pointer</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/open-ui-and-implicit-parent-child-relationships-in-html' | url }}" class="c-link-list__link" rel="author" id="open-ui-and-implicit-parent-child-relationships-in-html">Open UI and implicit parent/child relationships in HTML</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/undercover-founder" class="c-link-list__link" rel="author" id="undercover-founder">Undercover Founder</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
</ol>

<h2 id="2020" class="heading-beta">
  <time datetime="2020">2020</time>
</h2>

<ol start="65" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="{{ '/published/a-website-is-like-a-puppy' | url }}" class="c-link-list__link" rel="author" id="a-website-is-like-a-puppy">A website is like a puppy</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/in-defense-of-mega-man-boss-lairs' | url }}" class="c-link-list__link" rel="author" id="in-defense-of-mega-man-boss-lairs">In defense of Mega Man boss lairs</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/representation-matters/" class="c-link-list__link" rel="author external noopener" id="representation-matters">Representation Matters</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/so-you-wanna-create-an-eco-friendly-website" class="c-link-list__link" rel="author external noopener" id="so-you-wanna-create-an-eco-friendly-website">So you wanna create an eco-friendly website</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/using-a-folder-other-than-posts-with-eleventy' | url }}" class="c-link-list__link" rel="author external noopener" id="using-a-folder-other-than-posts-with-eleventy">Using a folder other than <code>posts/</code> with Eleventy</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/tailwind-versus-bem" class="c-link-list__link" rel="author external noopener" id="tailwind-versus-bem">Tailwind versus BEM</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/focus-management-and-inert/" class="c-link-list__link" rel="author external noopener" id="tailwind-versus-bem">Focus Management and Inert</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/the-world-does-not-revolve-around-your-product" class="c-link-list__link" rel="author external noopener" id="the-world-does-not-revolve-around-your-product">The world does not revolve around your product</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/saying-no-to-diez-for-now" class="c-link-list__link" rel="author external noopener" id="saying-no-to-Diez-for-now">Saying no to Diez (for now)</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/consider-the-tomato" class="c-link-list__link" rel="author external noopener" id="consider-the-tomato">Consider the Tomato</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>

  <li class="c-link-list__item">
    <a href="{{ '/published/the-radium-craze/' | url }}" class="c-link-list__link" rel="author external noopener" id="the-radium-craze">The radium craze</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li dt class="c-link-list__item">
    <a href="{{ '/published/a11y-is-web-accessibility/' | url }}" class="c-link-list__link" rel="author external noopener" id="a11y-is-web-accessibility">a11y is web accessibility</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/improving-the-usability-and-accessibility-of-a-healthcare-website-by-being-mindful-of-reading-level" class="c-link-list__link" rel="author external noopener" id="improving-the-usability-and-accessibility-of-a-healthcare-website-by-being-mindful-of-reading-level">Improving the usability and accessibility of a healthcare website by being mindful of reading level</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/i-dont-want-your-job" class="c-link-list__link" rel="author external noopener" id="i-dont-want-your-job">I don’t want your job</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/mug-handles/' | url }}" class="c-link-list__link" rel="author external noopener" id="mug-handles">Mug Handles</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2020/06/equivalent-experiences-part2/" class="c-link-list__link" rel="author external noopener" id="equivalent-experiences-thinking-equivalently">Equivalent Experiences: Thinking Equivalently</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2020/05/equivalent-experiences-part1/" class="c-link-list__link" rel="author external noopener" id="equivalent-experiences-what-are-they">Equivalent Experiences: What Are They?</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://a11yproject.com/posts/aria-has-perfect-support/" class="c-link-list__link" rel="author external noopener" id="myth-aria-has-perfect-support">Myth: ARIA Has Perfect Support</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/complete-guide-to-css-functions/" class="c-link-list__link" rel="author external noopener" id="a-complete-guide-to-css-functions">A Complete Guide to CSS Functions</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/svg-favicons-and-all-the-fun-things-we-can-do-with-them/" class="c-link-list__link" rel="author external noopener" id="svg-favicons-and-all-the-fun-things-we-can-do-with-them">SVG, Favicons, and All the Fun Things We Can Do With Them</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/how-to-not-make-a-resume-in-react/' | url }}" class="c-link-list__link" rel="author external noopener" id="how-to-not-make-a-resume-in-react">How to not make a résumé in React</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/using-personas-in-the-product-design-sprint" class="c-link-list__link" rel="author external noopener" id="using-personas-in-the-product-design-sprint">Using personas in the Product Design Sprint</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://a11yproject.com/posts/operating-system-and-browser-accessibility-display-modes/" class="c-link-list__link" rel="author external noopener" id="operating-system-and-browser-accessibility-display-modes">Operating System and Browser Accessibility Display Modes</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
</ol>

<h2 id="2019" class="heading-beta">
  <time datetime="2019">2019</time>
</h2>

<ol start="42" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/what-the-web-still-is/" class="c-link-list__link" rel="author external noopener" id="what-the-web-still-is">What the Web Still Is</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/tech-metaphors/' | url }}" class="c-link-list__link" rel="author" id="tech-metaphors">Tech metaphors</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/truths-about-digital-accessibility/' | url }}" class="c-link-list__link" rel="author" id="truths-about-digital-accessibility">Truths about digital accessibility</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/attempting-to-corral-colors-with-a-sass-function" class="c-link-list__link" rel="author" id="attempting-to-corral-colors-with-a-sass-function">Attempting to corral colors with a Sass function</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.shopify.com/partners/blog/universal-design" class="c-link-list__link" rel="author" id="universal-design-11-practical-tips-to-make-your-sites-and-apps-more-accessible">Universal Design: 11 Practical Tips to Make Your Sites and Apps More Accessible</a>
    <small style="display: block;" class="c-link-list__description">Shopify Partners</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/lighthouse/' | url }}" class="c-link-list__link" rel="author" id="lighthouse">Lighthouse</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/" class="c-link-list__link" rel="author external noopener" id="revisiting-prefers-reduced-motion-the-reduced-motion-media-query">Revisiting prefers-reduced-motion, the reduced motion media query</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/slashbot" class="c-link-list__link" rel="author external noopener" id="slashbot">slashbot</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/fighting-uphill/' | url }}" class="c-link-list__link" rel="author" id="fighting-uphill">Fighting uphill</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://alistapart.com/article/paint-the-picture-not-the-frame" class="c-link-list__link" rel="author external noopener" id="paint-the-picture-not-the-frame">Paint the Picture, Not the Frame: How Browsers Provide Everything Users Need</a>
    <small style="display: block;" class="c-link-list__description">A List Apart</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://robots.thoughtbot.com/little-library" class="c-link-list__link" rel="author external noopener" id="little-library">Little Library</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/reader-mode-the-button-to-beat/" class="c-link-list__link" rel="author external noopener" id="reader-mode-the-button-to-beat">Reader Mode: The Button to Beat</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
</ol>

<h2 id="2018" class="heading-beta">
  <time datetime="2018">2018</time>
</h2>

<ol start="30" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://www.24a11y.com/2018/web-components-still-need-to-be-accessible/" class="c-link-list__link" rel="author external noopener" id="web-components-still-need-to-be accessible">Web components still need to be accessible</a>
    <small style="display: block;" class="c-link-list__description">24 Accessibility</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://24ways.org/2018/be-the-villain/" class="c-link-list__link" rel="author external noopener" id="be-the-villain">Be the Villain</a>
    <small style="display: block;" class="c-link-list__description">24 ways</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://a11yproject.com/posts/large-touch-targets/" class="c-link-list__link" rel="author external noopener" id="quick-test-large-touch-targets">Quick test: Large touch targets</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://robots.thoughtbot.com/a-designer-developing-for-android" class="c-link-list__link" rel="author external noopener" id="a-designer-developing-for-android">A designer developing for Android</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://webdesign.tutsplus.com/tutorials/use-the-lang-attribute-for-better-accessibility--cms-31961" class="c-link-list__link" rel="author external noopener" id="quick-tip-use-the-lang-attribute-for-better-accessibility">Quick Tip: Use the “lang” Attribute for Better Accessibility</a>
    <small style="display: block;" class="c-link-list__description">Envato Tuts+</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://webdesign.tutsplus.com/articles/the-importance-of-heading-levels-for-assistive-technology--cms-31753" class="c-link-list__link" rel="author external noopener" id="the-importance-of-heading-levels-for-assistive-technology">The Importance of Heading Levels for Assistive Technology</a>
    <small style="display: block;" class="c-link-list__description">Envato Tuts+</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2018/09/importance-manual-accessibility-testing/" class="c-link-list__link" rel="author external noopener" id="the-importance-of-manual-accessibility-testing">The Importance Of Manual Accessibility Testing</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/the-possibilities-of-the-color-adjust-property/" class="c-link-list__link" rel="author external noopener" id="the-possibilities-of-the-color-adjust-property">The possibilities of the color-adjust property</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2018/06/placeholder-attribute/" class="c-link-list__link" rel="author external noopener" id="dont-use-the-placeholder-attribute">Don't Use The Placeholder Attribute</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://robots.thoughtbot.com/how-to-lead-better-user-interviews" class="c-link-list__link" rel="author external noopener" id="how-to-lead-better-user-interviews">How to Lead Better User Interviews</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/focusing-on-focus-styles/" class="c-link-list__link" rel="author external noopener" id="focusing-on-focus-styles">Focusing on Focus Styles</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/building-good-download-button/" class="c-link-list__link" rel="author external noopener" id="building-a-good-download-button">Building a Good Download… Button?</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
</ol>

<h2 id="2017" class="heading-beta">
  <time datetime="2017">2017</time>
</h2>

<ol start="18" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://www.24a11y.com/2017/build-cloud-hosted-accessibility-testing-windows-computer-using-amazon-workspaces/" class="c-link-list__link" rel="author external noopener" id="how-to-build-a-cloud-hosted-accessibility-testing-windows-computer-using-amazon-workspaces">How to build a cloud-hosted accessibility testing Windows computer using Amazon WorkSpaces</a>
    <small style="display: block;" class="c-link-list__description">24 Accessibility</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.poynter.org/tech-tools/2017/how-accessible-is-your-website-for-the-disabled-consider-doing-an-audit-to-find-out/" class="c-link-list__link" rel="author external noopener" id="how-accessible-is-your-website-for-the-disabled-consider-doing-an-audit-to-find-out">How accessible is your website for the disabled? Consider doing an audit to find out</a>
    <small style="display: block;" class="c-link-list__description">Poynter</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/consistently-inconsistent-the-pitfalls-of-abandoning-external-consistency/" class="c-link-list__link" rel="author external noopener" id="consistently-inconsistent-when-the-most-accessible-experience-is-different-for-each-user">Consistently Inconsistent: When the Most Accessible Experience is Different for Each User</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/aria-spackle-not-rebar/" class="c-link-list__link" rel="author external noopener" id="aria-is-spackle-not-rebar">ARIA is Spackle, Not Rebar</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/keeping-track-letter-spacing-guidelines/" class="c-link-list__link" rel="author external noopener" id="keeping-track-of-letter-spacing-some-guidelines">Keeping track of letter-spacing, some guidelines</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/published/equifax-data-breach-credit-freezes-and-beholden-design/' | url }}" class="c-link-list__link" rel="author external noopener" id="equifax-data-breach-credit-freezes-and-beholden-design">Equifax Data Breach, Credit Freezes, and Beholden Design</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.website</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://superyesmore.com/make-technology-work-for-you-not-the-other-way-around-1c0ead1f34eb5fcad227bd3e9de85244" class="c-link-list__link" rel="author external noopener" id="make-technology-work-for-you-not-the-other-way-around">Make technology work for you, not the other way around</a>
    <small style="display: block;" class="c-link-list__description">The Human in the Machine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/lets-talk-speech-css/" class="c-link-list__link" rel="author external noopener" id="lets-talk-about-speech-css">Let’s Talk About Speech CSS</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/crafting-a-chatbot-people-will-use-part-2/" class="c-link-list__link" rel="author external noopener" id="crafting-a-chatbot-people-will-use-part-2">Crafting a chatbot people will use:&nbsp;Part&nbsp;2</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/crafting-a-chatbot-people-will-use-part-1/" class="c-link-list__link" rel="author external noopener" id="crafting-a-chatbot-people-will-use-part-1">Crafting a chatbot people will use:&nbsp;Part&nbsp;1</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/introduction-reduced-motion-media-query/" class="c-link-list__link" rel="author external noopener" id="an-introduction-to-the-reduced-motion-media-query">An Introduction to the Reduced Motion Media Query</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
</ol>

<h2 id="2016" class="heading-beta">
  <time datetime="2016">2016</time>
</h2>

<ol start="7" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://cantina.co/improving-the-user-experience-of-iot-firmware-updates/" class="c-link-list__link" rel="author external noopener" id="improving-the-user-experience-of-iot-firmware-updates">Improving the User Experience of IoT Firmware Updates</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/building-a-better-button-in-css/" class="c-link-list__link" rel="author external noopener" id="building-a-better-button-in-css">Building a better button in CSS</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/accessible-svgs-high-contrast-mode/" class="c-link-list__link" rel="author external noopener" id="accessible-svgs-in-high-contrast-mode">Accessible SVGs in High Contrast Mode</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization-part-2/" class="c-link-list__link" rel="author external noopener" id="instituting-a-culture-of-accessibility-in-your-organization-part-2">Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;2</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/organizational-buy-in-on-responsive-design/" class="c-link-list__link" rel="author external noopener" id="organizational-buy-in-on-responsive-design">Organizational buy-in on Responsive Design</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization/" class="c-link-list__link" rel="author external noopener" id="instituting-a-culture-of-accessibility-in-your-organization-part-1">Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;1</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/fighting-for-control-of-your-smartphone-battery/" class="c-link-list__link" rel="author external noopener" id="battery-status-api-we-need-to-talk">Battery Status API: We need to talk</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
</ol>

<h2 id="2015" class="heading-beta">
  <time datetime="2015">2015</time>
</h2>

<ol class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://cantina.co/using-the-exception-comment-to-help-maintain-mature-large-scale-sass-projects/" class="c-link-list__link" rel="author external noopener" id="ill-make-an-exception-just-for-you">I’ll Make an Exception Just for You: Using the Exception Comment to Help Maintain Mature, Large-scale Sass Projects</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
</ol>

{# <ul>
  {% for post in collections.posts %}
  <liL><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul> #}
