---
layout: layouts/landing.njk
title: Tags
permalink: /tags/
---
<ul>
{% for tag in collections.tagList | sort %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <li><a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
