---
layout: layouts/landing.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p><a href="{{ '/tags/' | url }}">All tags</a>.</p>
