<!doctype html>
<html itemscope itemtype="http://schema.org/Webpage" lang="en-US">
<head>

{{>meta/description/charset-and-viewport}}

<title>{{content.title.writing}} | {{content.site.title}}</title>
{{>meta/description/description}}
{{>meta/description/author}}
{{>meta/structure/sitemap}}

{{>meta/styles/main}}

{{>meta/icons-and-theming/icons-and-theming}}
{{>meta/social-media/twitter}}
{{>meta/social-media/facebook}}
{{>meta/social-media/google-plus}}

{{>meta/performance/dns-prefetches}}
{{>meta/performance/prefetches}}
{{>meta/performance/preconnects}}

{{>meta/scripts/type}}

</head>
<body>

{{>components/c-skipnav/c-skipnav}}

<!-- Icon Sprite -->
<div class="icon-sprite">
{{>elements/icon-sprite}}
</div>

{{>components/c-breadcrumb/c-breadcrumb}}

{{>components/c-honeypot/c-honeypot}}

<main
    id="section-main"
    class="l-content"
    aria-labelledby="title-writing">

    <header
        class="l-content__title l-content__title--writing"
        aria-labelledby="title-writing">

        <h1
            id="title-writing"
            class="heading-alpha">
            {{content.title.writing}}
        </h1>

    </header>

    <section class="l-content__body">

        <p class="c-lede">
            Like the kinds of things I have to say? Interested in having me to write for your publication? Let's <a data-message-subject="Writing inquiry" href="mailto:&#101;&#114;&#105;&#099;&#046;&#119;&#046;&#098;&#097;&#105;&#108;&#101;&#121;☛REMOVE-THIS☚&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" rel="external me noopener">get a conversation going</a>!
        </p>

        {{>components/c-link-list/c-writing-full}}

    </section>

</main>

{{>layout/l-section/l-errata current='aria-current="page"'}}

{{>layout/l-dialog/l-dialog}}

{{>meta/scripts/main}}
{{>meta/analytics/google-analytics}}

</body>
</html>
