---
layout: layouts/landing.njk
title: Writing
lede: Like the kinds of things I have to say? Subscribe to my RSS feed. Interested in having me write for your publication? <a rel="external me noopener" data-message-subject="Office hours" href="mailto:&#101;&#114;&#105;&#099;&#046;&#119;&#046;&#098;&#097;&#105;&#108;&#101;&#121;☛REMOVE-THIS☚&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Let's get a conversation going</a>!
eleventyNavigation:
  key: Writing
  parent: Primary
  order: 1
---

<h2 id="2021" class="heading-beta">
  <time datetime="2021">2021</time>
</h2>

<ol start="80" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/a-conversation-can-be-an-output" class="c-link-list__link" rel="author" id="a-conversation-can-be-an-output">A conversation can be an output</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.a11yproject.com/posts/2021-03-08-should-i-use-an-accessibility-overlay/" class="c-link-list__link" rel="author" id="should-i-use-an-accessibility-overlay">Should I use an accessibility overlay?</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/give-me-a-definition-for-the-word-dashboard' | url }}" class="c-link-list__link" rel="author" id="give-me-a-definition-for-the-word-dashboard">Give me a definition for the word “dashboard”</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/an-introduction-to-macos-voice-control" class="c-link-list__link" rel="author" id="an-introduction-to-macos-voice-control">An Introduction to macOS Voice Control</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/implicit-cultural-norms-and-accessible-social-media' | url }}" class="c-link-list__link" rel="author" id="implicit-cultural-norms-and-accessible-social-media">Implicit cultural norms and accessible social media</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/how-3-hours-of-conversation-saved-a-company-hundreds-of-thousands-of-dollars" class="c-link-list__link" rel="author" id="how-3-hours-of-conversation-saved-a-company-hundreds-of-thousands-of-dollars">How 3 hours of conversation saved a company hundreds of thousands of dollars</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/my-typical-day' | url }}" class="c-link-list__link" rel="author" id="my-typical-day">My typical day</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/accessibility-auditing-and-ego' | url }}" class="c-link-list__link" rel="author" id="accessibility-auditing-and-ego">Accessibility auditing and ego</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/blogroll' | url }}" class="c-link-list__link" rel="author" id="blogroll">Blogroll</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/presentation-panic' | url }}" class="c-link-list__link" rel="author" id="presentation-panic">Presentation panic</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.a11yproject.com/posts/2021-01-28-how-to-use-the-tabindex-attribute/" class="c-link-list__link" rel="author" id="">How-to: Use the <code>tabindex</code> attribute</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/an-introduction-to-macos-head-pointer" class="c-link-list__link" rel="author" id="an-introduction-to-macos-head-pointer">An introduction to macOS Head Pointer</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/open-ui-and-implicit-parent-child-relationships-in-html' | url }}" class="c-link-list__link" rel="author" id="open-ui-and-implicit-parent-child-relationships-in-html">Open UI and implicit parent/child relationships in HTML</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/undercover-founder" class="c-link-list__link" rel="author" id="undercover-founder">Undercover Founder</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
</ol>

<h2 id="2020" class="heading-beta">
  <time datetime="2020">2020</time>
</h2>

<ol start="66" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="{{ '/writing/a-website-is-like-a-puppy' | url }}" class="c-link-list__link" rel="author" id="a-website-is-like-a-puppy">A website is like a puppy</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/in-defense-of-mega-man-boss-lairs' | url }}" class="c-link-list__link" rel="author" id="in-defense-of-mega-man-boss-lairs">In defense of Mega Man boss lairs</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/representation-matters/" class="c-link-list__link" rel="author external noopener" id="representation-matters">Representation Matters</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/so-you-wanna-create-an-eco-friendly-website" class="c-link-list__link" rel="author external noopener" id="so-you-wanna-create-an-eco-friendly-website">So you wanna create an eco-friendly website</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/using-a-folder-other-than-posts-with-eleventy' | url }}" class="c-link-list__link" rel="author external noopener" id="using-a-folder-other-than-posts-with-eleventy">Using a folder other than <code>posts/</code> with Eleventy</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/tailwind-versus-bem" class="c-link-list__link" rel="author external noopener" id="tailwind-versus-bem">Tailwind versus BEM</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/focus-management-and-inert/" class="c-link-list__link" rel="author external noopener" id="tailwind-versus-bem">Focus Management and Inert</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/the-world-does-not-revolve-around-your-product" class="c-link-list__link" rel="author external noopener" id="the-world-does-not-revolve-around-your-product">The world does not revolve around your product</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/saying-no-to-diez-for-now" class="c-link-list__link" rel="author external noopener" id="saying-no-to-Diez-for-now">Saying no to Diez (for now)</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/consider-the-tomato" class="c-link-list__link" rel="author external noopener" id="consider-the-tomato">Consider the Tomato</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>

  <li class="c-link-list__item">
    <a href="{{ '/writing/the-radium-craze/' | url }}" class="c-link-list__link" rel="author external noopener" id="the-radium-craze">The radium craze</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li dt class="c-link-list__item">
    <a href="{{ '/writing/a11y-is-web-accessibility/' | url }}" class="c-link-list__link" rel="author external noopener" id="a11y-is-web-accessibility">a11y is web accessibility</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/improving-the-usability-and-accessibility-of-a-healthcare-website-by-being-mindful-of-reading-level" class="c-link-list__link" rel="author external noopener" id="improving-the-usability-and-accessibility-of-a-healthcare-website-by-being-mindful-of-reading-level">Improving the usability and accessibility of a healthcare website by being mindful of reading level</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/i-dont-want-your-job" class="c-link-list__link" rel="author external noopener" id="i-dont-want-your-job">I don’t want your job</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/mug-handles/' | url }}" class="c-link-list__link" rel="author external noopener" id="mug-handles">Mug Handles</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2020/06/equivalent-experiences-part2/" class="c-link-list__link" rel="author external noopener" id="equivalent-experiences-thinking-equivalently">Equivalent Experiences: Thinking Equivalently</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2020/05/equivalent-experiences-part1/" class="c-link-list__link" rel="author external noopener" id="equivalent-experiences-what-are-they">Equivalent Experiences: What Are They?</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://a11yproject.com/posts/aria-has-perfect-support/" class="c-link-list__link" rel="author external noopener" id="myth-aria-has-perfect-support">Myth: ARIA Has Perfect Support</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/complete-guide-to-css-functions/" class="c-link-list__link" rel="author external noopener" id="a-complete-guide-to-css-functions">A Complete Guide to CSS Functions</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/svg-favicons-and-all-the-fun-things-we-can-do-with-them/" class="c-link-list__link" rel="author external noopener" id="svg-favicons-and-all-the-fun-things-we-can-do-with-them">SVG, Favicons, and All the Fun Things We Can Do With Them</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/how-to-not-make-a-resume-in-react/' | url }}" class="c-link-list__link" rel="author external noopener" id="how-to-not-make-a-resume-in-react">How to not make a résumé in React</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/using-personas-in-the-product-design-sprint" class="c-link-list__link" rel="author external noopener" id="using-personas-in-the-product-design-sprint">Using personas in the Product Design Sprint</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://a11yproject.com/posts/operating-system-and-browser-accessibility-display-modes/" class="c-link-list__link" rel="author external noopener" id="operating-system-and-browser-accessibility-display-modes">Operating System and Browser Accessibility Display Modes</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
</ol>

<h2 id="2019" class="heading-beta">
  <time datetime="2019">2019</time>
</h2>

<ol start="43" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/what-the-web-still-is/" class="c-link-list__link" rel="author external noopener" id="what-the-web-still-is">What the Web Still Is</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/tech-metaphors/' | url }}" class="c-link-list__link" rel="author" id="tech-metaphors">Tech metaphors</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/truths-about-digital-accessibility/' | url }}" class="c-link-list__link" rel="author" id="truths-about-digital-accessibility">Truths about digital accessibility</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/attempting-to-corral-colors-with-a-sass-function" class="c-link-list__link" rel="author" id="attempting-to-corral-colors-with-a-sass-function">Attempting to corral colors with a Sass function</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.shopify.com/partners/blog/universal-design" class="c-link-list__link" rel="author" id="universal-design-11-practical-tips-to-make-your-sites-and-apps-more-accessible">Universal Design: 11 Practical Tips to Make Your Sites and Apps More Accessible</a>
    <small style="display: block;" class="c-link-list__description">Shopify Partners</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/lighthouse/' | url }}" class="c-link-list__link" rel="author" id="lighthouse">Lighthouse</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/" class="c-link-list__link" rel="author external noopener" id="revisiting-prefers-reduced-motion-the-reduced-motion-media-query">Revisiting prefers-reduced-motion, the reduced motion media query</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://thoughtbot.com/blog/slashbot" class="c-link-list__link" rel="author external noopener" id="slashbot">slashbot</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/fighting-uphill/' | url }}" class="c-link-list__link" rel="author" id="fighting-uphill">Fighting uphill</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://alistapart.com/article/paint-the-picture-not-the-frame" class="c-link-list__link" rel="author external noopener" id="paint-the-picture-not-the-frame">Paint the Picture, Not the Frame: How Browsers Provide Everything Users Need</a>
    <small style="display: block;" class="c-link-list__description">A List Apart</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://robots.thoughtbot.com/little-library" class="c-link-list__link" rel="author external noopener" id="little-library">Little Library</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/reader-mode-the-button-to-beat/" class="c-link-list__link" rel="author external noopener" id="reader-mode-the-button-to-beat">Reader Mode: The Button to Beat</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
</ol>

<h2 id="2018" class="heading-beta">
  <time datetime="2018">2018</time>
</h2>

<ol start="31" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://www.24a11y.com/2018/web-components-still-need-to-be-accessible/" class="c-link-list__link" rel="author external noopener" id="web-components-still-need-to-be accessible">Web components still need to be accessible</a>
    <small style="display: block;" class="c-link-list__description">24 Accessibility</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://24ways.org/2018/be-the-villain/" class="c-link-list__link" rel="author external noopener" id="be-the-villain">Be the Villain</a>
    <small style="display: block;" class="c-link-list__description">24 ways</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://a11yproject.com/posts/large-touch-targets/" class="c-link-list__link" rel="author external noopener" id="quick-test-large-touch-targets">Quick test: Large touch targets</a>
    <small style="display: block;" class="c-link-list__description">The A11Y Project</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://robots.thoughtbot.com/a-designer-developing-for-android" class="c-link-list__link" rel="author external noopener" id="a-designer-developing-for-android">A designer developing for Android</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://webdesign.tutsplus.com/tutorials/use-the-lang-attribute-for-better-accessibility--cms-31961" class="c-link-list__link" rel="author external noopener" id="quick-tip-use-the-lang-attribute-for-better-accessibility">Quick Tip: Use the “lang” Attribute for Better Accessibility</a>
    <small style="display: block;" class="c-link-list__description">Envato Tuts+</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://webdesign.tutsplus.com/articles/the-importance-of-heading-levels-for-assistive-technology--cms-31753" class="c-link-list__link" rel="author external noopener" id="the-importance-of-heading-levels-for-assistive-technology">The Importance of Heading Levels for Assistive Technology</a>
    <small style="display: block;" class="c-link-list__description">Envato Tuts+</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2018/09/importance-manual-accessibility-testing/" class="c-link-list__link" rel="author external noopener" id="the-importance-of-manual-accessibility-testing">The Importance Of Manual Accessibility Testing</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/the-possibilities-of-the-color-adjust-property/" class="c-link-list__link" rel="author external noopener" id="the-possibilities-of-the-color-adjust-property">The possibilities of the color-adjust property</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.smashingmagazine.com/2018/06/placeholder-attribute/" class="c-link-list__link" rel="author external noopener" id="dont-use-the-placeholder-attribute">Don't Use The Placeholder Attribute</a>
    <small style="display: block;" class="c-link-list__description">Smashing Magazine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://robots.thoughtbot.com/how-to-lead-better-user-interviews" class="c-link-list__link" rel="author external noopener" id="how-to-lead-better-user-interviews">How to Lead Better User Interviews</a>
    <small style="display: block;" class="c-link-list__description">thoughtbot</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/focusing-on-focus-styles/" class="c-link-list__link" rel="author external noopener" id="focusing-on-focus-styles">Focusing on Focus Styles</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/building-good-download-button/" class="c-link-list__link" rel="author external noopener" id="building-a-good-download-button">Building a Good Download… Button?</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
</ol>

<h2 id="2017" class="heading-beta">
  <time datetime="2017">2017</time>
</h2>

<ol start="19" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://www.24a11y.com/2017/build-cloud-hosted-accessibility-testing-windows-computer-using-amazon-workspaces/" class="c-link-list__link" rel="author external noopener" id="how-to-build-a-cloud-hosted-accessibility-testing-windows-computer-using-amazon-workspaces">How to build a cloud-hosted accessibility testing Windows computer using Amazon WorkSpaces</a>
    <small style="display: block;" class="c-link-list__description">24 Accessibility</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://www.poynter.org/news/how-accessible-your-website-disabled-consider-doing-audit-find-out/" class="c-link-list__link" rel="author external noopener" id="how-accessible-is-your-website-for-the-disabled-consider-doing-an-audit-to-find-out">How accessible is your website for the disabled? Consider doing an audit to find out</a>
    <small style="display: block;" class="c-link-list__description">Poynter</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/consistently-inconsistent-the-pitfalls-of-abandoning-external-consistency/" class="c-link-list__link" rel="author external noopener" id="consistently-inconsistent-when-the-most-accessible-experience-is-different-for-each-user">Consistently Inconsistent: When the Most Accessible Experience is Different for Each User</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/aria-spackle-not-rebar/" class="c-link-list__link" rel="author external noopener" id="aria-is-spackle-not-rebar">ARIA is Spackle, Not Rebar</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/keeping-track-letter-spacing-guidelines/" class="c-link-list__link" rel="author external noopener" id="keeping-track-of-letter-spacing-some-guidelines">Keeping track of letter-spacing, some guidelines</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="{{ '/writing/equifax-data-breach-credit-freezes-and-beholden-design/' | url }}" class="c-link-list__link" rel="author external noopener" id="equifax-data-breach-credit-freezes-and-beholden-design">Equifax Data Breach, Credit Freezes, and Beholden Design</a>
    <small style="display: block;" class="c-link-list__description">ericwbailey.design</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://superyesmore.com/make-technology-work-for-you-not-the-other-way-around-1c0ead1f34eb5fcad227bd3e9de85244" class="c-link-list__link" rel="author external noopener" id="make-technology-work-for-you-not-the-other-way-around">Make technology work for you, not the other way around</a>
    <small style="display: block;" class="c-link-list__description">The Human in the Machine</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/lets-talk-speech-css/" class="c-link-list__link" rel="author external noopener" id="lets-talk-about-speech-css">Let’s Talk About Speech CSS</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/crafting-a-chatbot-people-will-use-part-2/" class="c-link-list__link" rel="author external noopener" id="crafting-a-chatbot-people-will-use-part-2">Crafting a chatbot people will use:&nbsp;Part&nbsp;2</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/crafting-a-chatbot-people-will-use-part-1/" class="c-link-list__link" rel="author external noopener" id="crafting-a-chatbot-people-will-use-part-1">Crafting a chatbot people will use:&nbsp;Part&nbsp;1</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/introduction-reduced-motion-media-query/" class="c-link-list__link" rel="author external noopener" id="an-introduction-to-the-reduced-motion-media-query">An Introduction to the Reduced Motion Media Query</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
</ol>

<h2 id="2016" class="heading-beta">
  <time datetime="2016">2016</time>
</h2>

<ol start="8" reversed class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://css-tricks.com/accessible-svgs-high-contrast-mode/" class="c-link-list__link" rel="author external noopener" id="accessible-svgs-in-high-contrast-mode">Accessible SVGs in High Contrast Mode</a>
    <small style="display: block;" class="c-link-list__description">CSS&#8202;-&#8202;Tricks</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/improving-the-user-experience-of-iot-firmware-updates/" class="c-link-list__link" rel="author external noopener" id="improving-the-user-experience-of-iot-firmware-updates">Improving the User Experience of IoT Firmware Updates</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/building-a-better-button-in-css/" class="c-link-list__link" rel="author external noopener" id="building-a-better-button-in-css">Building a better button in CSS</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization-part-2/" class="c-link-list__link" rel="author external noopener" id="instituting-a-culture-of-accessibility-in-your-organization-part-2">Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;2</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/organizational-buy-in-on-responsive-design/" class="c-link-list__link" rel="author external noopener" id="organizational-buy-in-on-responsive-design">Organizational buy-in on Responsive Design</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization/" class="c-link-list__link" rel="author external noopener" id="instituting-a-culture-of-accessibility-in-your-organization-part-1">Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;1</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
  <li class="c-link-list__item">
    <a href="https://cantina.co/fighting-for-control-of-your-smartphone-battery/" class="c-link-list__link" rel="author external noopener" id="battery-status-api-we-need-to-talk">Battery Status API: We need to talk</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
</ol>

<h2 id="2015" class="heading-beta">
  <time datetime="2015">2015</time>
</h2>

<ol class="c-link-list">
  <li class="c-link-list__item">
    <a href="https://cantina.co/using-the-exception-comment-to-help-maintain-mature-large-scale-sass-projects/" class="c-link-list__link" rel="author external noopener" id="ill-make-an-exception-just-for-you">I’ll Make an Exception Just for You: Using the Exception Comment to Help Maintain Mature, Large-scale Sass Projects</a>
    <small style="display: block;" class="c-link-list__description">Cantina</small>
  </li>
</ol>

{# <ul>
  {% for post in collections.posts %}
  <liL><a href="{{ post.url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul> #}
