// ============================================================================
// Layout
// Content
// ============================================================================


// Layout Logic ---------------------------------------------------------------
@mixin l-content() {
    @include component-page-side-margins();

    padding-top: rem(50);
    padding-bottom: rem(240);

    @supports #{$supports-viewportunits} {
        padding-top: 8vh;
        padding-bottom: 36vh;
    }
}


// Layout Styling -------------------------------------------------------------
.l-content {
    z-index: z(l-content);

    &__title {
        @include component-page-side-margins();

        padding-top: 20vh;
        padding-bottom: ms(1, rem);

        border-top-style: solid;
        border-top-width: border(thicker) * 2;

        background-color: c(l-content, background-title);

        // Breakpoints
        @include mappy-bp(palm-medium) {
            padding-top: 25vh;
            padding-bottom: ms(2, rem);
        }

        @include mappy-bp(lap-small) {
            padding-top: 30vh;
            padding-bottom: ms(3, rem);
        }

        &--404 {
            border-top-color: c(l-content, border-404);
        }

        &--accessibility-statement {
            border-top-color: c(l-content, border-accessibility);
        }

        &--colophon {
            border-top-color: c(l-content, border-colophon);
        }

        &--old-stuff {
            border-top-color: c(l-content, border-old-stuff);
        }
    }

    &__illustration {
        margin-bottom: ms(0.75, rem);
        margin-left: -0.5ch;
        width: ms(4, rem);

        // Breakpoints
        @include mappy-bp(palm-medium) {
            margin-left: -3ch;
            width: ms(5, rem);
        }

        @include mappy-bp(lap-small) {
            margin-left: -4ch;
        }
    }

    &__body {
        @include l-content();

        background-color: c(l-content, background-content);
    }

    p {
        margin-top: ms(1.25);
        max-width: $global-type-measure - 4ex;
    }

    a,
    button[data-message-subject] {
        @include content-underline($underline-background-color: white);
    }
}
