// ============================================================================
// Layout
// Content
// ============================================================================


// Layout Logic ---------------------------------------------------------------
@mixin l-content() {
    padding: rem(50) rem(40);
    z-index: z(l-content);

    transition: animation-duration(shortest) padding animation-ease(background);

    @supports #{$supports-viewportunits} {
        padding: 8vh 8vw 24vh 8vw;
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        padding: rem(120) rem(100);

        @supports #{$supports-viewportunits} {
            padding: 6vh 12vw 54vh 12vw;
        }
    }
}


// Layout Styling -------------------------------------------------------------
.l-content {
    @include l-content();

    background-color: c(l-content, background-secondary);

    p {
        @include typography-measure();

        margin-top: ms(1.25);
    }

    a,
    button[data-message-subject] {
        @include content-underline($underline-background-color: c(l-content, background-secondary));

        cursor: pointer; // Consistent cursor behavior when turned into a button
    }
}
