// ============================================================================
// Layout
// Content
// ============================================================================


// Layout Logic ---------------------------------------------------------------
@mixin l-content() {
    @include component-page-side-margins();

    padding-top: rem(50);
    padding-bottom: rem(50);
    z-index: z(l-content);

    transition: animation-duration(shortest) padding animation-ease(background);

    @supports #{$supports-viewportunits} {
        padding-top: 8vh;
        padding-bottom: 24vh;
    }

    // Breakpoints
    @include mappy-bp(palm-medium) {
        padding-top: rem(120);
        padding-bottom: rem(120);

        @supports #{$supports-viewportunits} {
            padding-top: 6vh;
            padding-bottom: 54vh;
        }
    }
}


// Layout Styling -------------------------------------------------------------
.l-content {
    @include l-content();

    background-color: c(l-content, background-secondary);

    p {
        @include typography-measure();

        margin-top: ms(1.25);
    }

    a,
    button[data-message-subject] {
        @include content-underline($underline-background-color: c(l-content, background-secondary));
    }

    .is-contact-button {
        height: em(31);
    }
}
