<div class="l-content">

    <h1
        id="title-colophon-and-accessibility-statement"
        class="content-hide-visually">
        Colophon and Accessibility Statement
    </h1>

    <section
        id="section-colophon"
        role="region"
        aria-labelledby="title-colophon">

        <h2
            id="title-colophon"
            class="heading-alpha">
            Colophon
        </h2>

        <p>
            This site was published in the fall of 2016 in <a rel="external noopener" href="http://www.somervillema.gov/">Somerville, Massachusetts</a>. It was built on a Mid 2014 Mac&#8202;Book Pro using <a rel="external noopener" href="https://github.com/ericwbailey/enchilada">enchilada, a personal project boilerplate</a>. More information is available in this site's <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design/blob/master/source/humans.txt"><code class="no-letter-break">humans.txt</code> file</a>.
        </p>
        <p>
            The site is set in <a rel="external noopener" href="https://typekit.com/fonts/abril/details/abril-text-regular">Abril</a>, a slab serif made by the Czech foundry <a rel="external noopener" href="http://www.type-together.com/">Type Together</a>&mdash;the fonts are hosted on <a rel="external noopener" href="https://typekit.com/">Typekit</a>. The site itself is <a rel="external noopener" href="https://pages.github.com/">hosted on Git&#8202;Hub</a>, with <a rel="external noopener" href="https://iwantmyname.com/">a domain name provided by iwantmyname</a>.
        </p>
        <p>
            The site was tested in a variety of browsers, including the latest versions of <a rel="external noopener" href="https://www.google.com/chrome/">Chrome</a>, <a rel="external noopener" href="https://www.microsoft.com/en-us/windows/microsoft-edge/microsoft-edge">Edge</a>, <a rel="external noopener" href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a rel="external noopener" href="http://www.opera.com/">Opera</a>, <a rel="external noopener" href="http://www.apple.com/safari/">Safari</a>, and <a rel="external noopener" href="https://vivaldi.com/?lang=en_US">Vivaldi</a>. Site elements are built using relative-sized units set to <a rel="external noopener" href="http://type-scale.com/">a modular scale of NUMBER</a>.
        </p>
        <p>
            Issues with the site&rsquo;s operation can be submitted as a <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design/issues">GitHub issue</a>. Please be sure to observe <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design/blob/master/CONTRIBUTING.md">the contributing guidelines</a> and <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design/blob/master/ISSUE_TEMPLATE.md">the issue template</a>.
        </p>
        <p>
            A sitemap is available, although this site isn't very complex. It also uses <a rel="external noopener" href="https://www.google.com/analytics/">Google Analytics</a>.
        </p>

    </section>

    <section
        id="section-accessibility-statement"
        role="region"
        aria-labelledby="title-accessibility-statement">

        <h2
            id="title-accessibility-statement"
            class="heading-alpha">
            Accessibility Statement
        </h2>

        <p>
            This site is committed to providing an experience that functions for the widest possible audience, regardless of technology or ability. It strives to conform to level <a rel="external noopener" href="https://www.w3.org/TR/WCAG20/"><span aria-label="Double A">AA</span> compliance for the Web Content Accessibility Guidelines (<abbr>WCAG</abbr>) 2<span aria-label="Dot">.</span>0</a>&mdash;guidelines explain how to make web content easier to use for people with disabilities.
        </p>
        <p>
            The code powering this site is <a href="https://www.w3.org/standards/">standards-compliant <abbr title="Hyper Text Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, and JavaScript</a>. Any person using a browser—past, present, or future—that honors these standards should be capable of navigating this site.
        </p>
        <p>
            In addition to being tested on modern browsers, both <a rel="external noopener" href="http://www.apple.com/accessibility/osx/voiceover/">mac&#8202;OS Voice&#8202;Over</a> and <a rel="external noopener" href="http://www.nvaccess.org/">NV Access's <abbr title="NonVisual Desktop Access">NVDA</abbr></a> have been used to test this site for ease of use with a screen reader. It has also been audited using <a rel="external noopener" href="http://wave.webaim.org/about"><abbr title="Web Accessibility Evaluation Tool">WAVE</a>, as well as the <a rel="external noopener" href="https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb">Chrome</a>, and <a rel="external noopener" href="https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmnindnejefpokejbdd">the <abbr title="Accessibility Engine">aXe</abbr></a> developer testing tool extensions.
        </p>
        <p id="accessibility-issues">
            Issues with the site&rsquo;s accessibility can be submitted as a <a rel="external noopener" href="https://github.com/ericwbailey/ericbailey.design/issues">Git&#8202;Hub issue</a>, or by <a rel="external noopener" href="">emailing me directly</a>. I take these issues very seriously and will try to remedy the problem as quickly as time allows.
        </p>
        <p>
            Although I cannot guarantee that all content linked to, or embedded on this site is fully accessible, I try to choose sites and services that embrace inclusive design principles.
        </p>

    </section>

</div>
