// ============================================================================
// Component
// Dialog
// ============================================================================


// Component Logic ------------------------------------------------------------
@mixin dialog-button() {
    background-color: c(button, background-base);

    color: c(type, dark);
    font-size: 80%;

    // Button icon
    .c-dialog__icon {
        fill: c(button, text-base);
    }

    // States
    &:hover {
        background-color: darken(c(button, background-base), 10%);
    }

    &:focus,
    &:active {
        background-color: c(button, background-active);

        color: c(button, text-active);

        // Button icon
        .c-dialog__icon {
            fill: c(button, text-active);
        }
    }
}


// Component Styling ----------------------------------------------------------
.c-dialog {
    &__label {
        display: block;

        font-style: italic;
        font-weight: $font-weight-bold;
    }

    &__input {
        @include content-show-interaction(link);
        @include typography-tracking(slight);

        display: block;
        margin-top: ms(0.25, rem);
        padding: ms(0.25, em) ms(0.5, em);
        width: 100%;

        border-bottom: border(thinnest) solid c(input, border-base);

        color: c(type, dark);
        font-style: normal;
        font-weight: $font-weight-normal;
        line-height: 1;
    }

    &__error {
        margin: rem(20) rem(14) rem(25) rem(14);
        padding: rem(10) rem(20);

        border-left: border(thinner) solid c(validation, error);

        background-color: transparentize(c(validation, error), 0.75);

        font-size: em(18);
        line-height: 1.4;

        // Breakpoints
        @include mappy-bp(palm-medium) {
            font-size: em(16);
        }

        @include mappy-bp(lap-small) {
            margin-top: rem(65);
            margin-right: 0;
            padding-top: 0;
            padding-bottom: 0;
            font-size: em(14);
        }
    }
}
