<!-- Start of #section-errata -->
<footer
    id="section-errata"
    class="l-section__errata"
    role="contentinfo"
    aria-labelledby="subtitle-copyright-and-disclosure">

    <h3 id="subtitle-copyright-and-disclosure" class="content-hide-visually">
        Copyright and Disclosure
    </h3>

    <ul class="c-errata">

        <li class="c-errata__item">
            <a
                class="c-errata__link"
                rel="copyright external noopener"
                href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">
                <small><abbr title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License">
                    CC BY-NC-<span class="generate-pause">S</span>A
                </abbr></small>
            </a>
        </li>

        <li class="c-errata__item">
            <a
                class="c-errata__link"
                href="">
                <small>Accessibility</small>
            </a>
        </li>

        <li class="c-errata__item">
            <a
                class="c-errata__link"
                href="">
                <small>Colophon</small>
            </a>
        </li>

    </ul>

</footer>
<!-- End of #section-errata -->
