<p class="c-errata">
    <small>

        <a
            class="c-errata__link"
            rel="copyright external noopener"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">
            <abbr title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License">
                CC BY-NC-<span class="generate-pause">S</span>A
            </abbr>
        </a>

        <a
            class="c-errata__link"
            href="">
            Accessibility
        </a>

        <a
            class="c-errata__link"
            href="">
            Colophon
        </a>

    </small>
</p>
