<p class="c-errata">

    <small>
        <a
            class="c-errata__link"
            href="https://github.com/ericwbailey/ericbailey.design/blob/master/LICENSE.md">
            <abbr title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International Public License">
                <span class="generate-pause">CC BY-NC-SA</span>
            </abbr>
        </a>
        <a
            class="c-errata__link"
            href="">
            <span class="generate-pause">Accessibility</span>
        </a>
        <a
            class="c-errata__link"
            href="">
            <span class="generate-pause">Colophon</span>
        </a>
    </small>

</p>
