// ============================================================================
// Component
// Link List
// ============================================================================


// Component Logic ------------------------------------------------------------
@mixin c-link-list-set-grid() {
    @supports #{$supports-flexbox} {
        display: flex;
        flex-flow: row wrap;
    }
}

@mixin c-link-list-set-columns($columns) {
    width: 100% / $columns;

    @supports #{$supports-flexbox} {
        flex: 1;
        flex-basis: 100% / $columns;
        width: initial;
    }
}


@keyframes bounce-in {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}


// Component Styling ----------------------------------------------------------
.c-link-list {
    margin-top: ms(2);

    // Breakpoints
    @include mappy-bp(lap-small) {
        // Contexts
        .l-section__passions &,
        .l-section__projects & {
            @include c-link-list-set-grid();
        }
    }

    @include mappy-bp(desk-large) {
        .l-section__writing & {
            @include c-link-list-set-grid();
        }
    }

    // Contexts
    .l-section__contact & {
        @include c-link-list-set-grid();
    }

    &__container {
        margin-bottom: ms(1.25, rem);
        padding-right: ms(1, rem);

        // Contexts
        .l-section__contact & {
            @include c-link-list-set-columns(2);
        }

        // Breakpoints
        @include mappy-bp(lap-small) {
            .l-section__passions &,
            .l-section__projects & {
                @include c-link-list-set-columns(2);
            }

            .l-section__contact & {
                @include c-link-list-set-columns(5);
            }
        }

        @include mappy-bp(desk-small) {
            .l-section__contact & {
                @include c-link-list-set-columns(10);
            }

            .l-section__passions & {
                @include c-link-list-set-columns(3);
            }

            .l-section__projects & {
                @include c-link-list-set-columns(5);
            }

            .l-section__writing & {
                @include c-link-list-set-columns(2);
            }
        }
    }

    &__description {
        margin-top: rem(5);
        margin-bottom: ms(1.25, rem);

        font-size: 80%;
        line-height: 1.2;

        // Contexts
        .c-link-list__container & {
            margin-bottom: 0; // NOTE: `<div>` elements wrapping `<dt>`/`</dd>` pairings
        }

    }

    &__coffee {
        @include component-size(rem(22));

        margin-left: rem(6);
        position: absolute; // Keeps icon by the link without shifting the link's position

        fill: transparent;

        // Breakpoints
        @include mappy-bp(palm-medium) {
            @include component-size(rem(28));

            margin-left: rem(10);
        }
    }

    &__location {
        margin-top: ms(0.25, em);
        margin-bottom: ms(1.25, rem);

        font-size: 80%;
        line-height: 1.5;

        // Breakpoints
        @include mappy-bp(palm-medium) {
            line-height: 1;
        }
    }

    &__link {
        // States
        &:hover {
            + .c-link-list__coffee {
                fill: c(type, dark);

                animation-duration: animation-duration(longer);
                animation-fill-mode: both;
                animation-iteration-count: 1;
                animation-name: bounce-in;
            }
        }

        // Contexts
        .l-section__contact & {
            @include content-underline($underline-background-color: c(l-section, contact));
        }

        .l-section__passions & {
            @include content-underline($underline-background-color: c(l-section, passions));
        }

        .l-section__projects & {
            @include content-underline($underline-background-color: c(l-section, projects));
        }

        .l-section__speaking & {
            @include content-underline($underline-background-color: c(l-section, speaking));
        }

        .l-section__writing & {
            @include content-underline($underline-background-color: c(l-section, writing));
        }
    }
}
