// ============================================================================
// Component
// Link List
// ============================================================================


// Component Logic ------------------------------------------------------------
@mixin c-link-list-set-grid() {
    @supports #{$supports-flexbox} {
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }
}

@mixin c-link-list-set-columns($columns) {
    @supports #{$supports-flexbox} {
        flex: 1;
        flex-basis: 100% / $columns;
    }
}


// Component Styling ----------------------------------------------------------
.c-link-list {
    margin-top: ms(2);

    // Breakpoints
    @include mappy-bp(palm) {
        // Contexts
        .l-section__interests &,
        .l-section__projects & {
            @include c-link-list-set-grid();
        }
    }

    // Contexts
    .l-section__contact & {
        @include c-link-list-set-grid();
    }


    &__item {
        margin-bottom: ms(1);
        padding-right: ms(2); // Gutter

        .l-section__contact & {
            @include c-link-list-set-columns(2);
        }

        // Breakpoints
        @include mappy-bp(palm) {
            .l-section__interests &,
            .l-section__projects & {
                @include c-link-list-set-columns(2);
            }
        }

        // Breakpoints
        @include mappy-bp(lap) {
            .l-section__contact & {
                @include c-link-list-set-columns(5);
            }
        }
    }















    // &__item {
    //     background-color: silver;
    //     margin-top: ms(1);
    //     margin-right: ms(2);
    //     // Breakpoints
    //     @include mappy-bp(palm) {
    //         &:nth-of-type(4) {
    //             background-color: red;
    //             margin-top: ms(3);
    //         }
    //     }
    // }

















        // Writing source locations
        // .l-section__writing & {
        //     &[data-post-location="css-tricks"] {
        //         @include generate-message("CSS-Tricks");
        //     }
        //
        //     &[data-post-location="cantina"] {
        //         @include generate-message("Cantina");
        //     }
        // }
    // }





















    &__link {
        // Contexts
        .l-section__contact & {
            @include content-underline($underline-background-color: c(l-section, contact));
        }

        .l-section__interests & {
            @include content-underline($underline-background-color: c(l-section, interests));
        }

        .l-section__projects & {
            @include content-underline($underline-background-color: c(l-section, projects));
        }

        .l-section__writing & {
            @include content-underline($underline-background-color: c(l-section, writing));
        }
    }
}
