// ============================================================================
// Component
// Link List
// ============================================================================


// Component Logic ------------------------------------------------------------
@mixin c-link-list-set-grid() {
    @supports #{$supports-flexbox} {
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }
}

@mixin c-link-list-set-columns($columns) {
    @supports #{$supports-flexbox} {
        flex: 1;
        flex-basis: 100% / $columns;
    }
}


@keyframes bounce-in {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}


// Component Styling ----------------------------------------------------------
.c-link-list {
    margin-top: ms(2);

    // Breakpoints
    @include mappy-bp(lap-small) {
        // Contexts
        .l-section__interests &,
        .l-section__projects & {
            @include c-link-list-set-grid();
        }
    }

    // Messages
    // Writing
    [data-writing-source="css-tricks"] {
        @include generate-message("CSS - Tricks");
    }

    [data-writing-source="cantina"] {
        @include generate-message("Cantina");
    }

    // Projects
    [data-project-description="accessible-html-content-patterns"] {
        @include generate-message("Better building blocks");
    }

    [data-project-description="design-build-test-repeat"] {
        @include generate-message("Intrepid co-host");
    }

    [data-project-description="exploit-logos"] {
        @include generate-message("Curated malice");
    }

    [data-project-description="fresh-garbage-newsletter"] {
        @include generate-message("Weekly links of note");
    }

    [data-project-description="hancock-lighting"] {
        @include generate-message("Digitizing a landmark");
    }

    [data-project-description="lowvision-support"] {
        @include generate-message("Responsive low vision simulator");
    }

    [data-project-description="millennials-to-snake-people"] {
        @include generate-message("Infamous browser extension");
    }

    [data-project-description="structure-exposed"] {
        @include generate-message("Remove CSS frippery");
    }

    [data-project-description="ubersleep"] {
        @include generate-message("Layout, design, and typography");
    }

    [data-project-description="youdubber"] {
        @include generate-message("Recontextualizing You Tube");
    }

    // Contexts
    .l-section__contact & {
        @include c-link-list-set-grid();
    }

    &__item {
        margin-bottom: ms(1.25, rem);
        padding-right: ms(1, rem);

        // Contexts
        .l-section__contact & {
            @include c-link-list-set-columns(2);
        }

        // Breakpoints
        @include mappy-bp(lap-small) {
            .l-section__interests &,
            .l-section__projects & {
                @include c-link-list-set-columns(2);
            }
        }

        @include mappy-bp(lap-small) {
            .l-section__contact & {
                @include c-link-list-set-columns(5);
            }
        }
    }

    &__coffee {
        @include component-size(rem(22));

        margin-left: rem(10);
        position: absolute;
          bottom: rem(41);

        fill: c(l-section, contact);

        // Breakpoints
        @include mappy-bp(palm-medium) {
            @include component-size(rem(28));

            bottom: rem(43);
        }
    }

    &__link {
        // States
        &:hover {
            + .c-link-list__coffee {

                fill: c(type, dark);

                animation-duration: 0.75s;
                animation-fill-mode: both;
                animation-iteration-count: 1;
                animation-name: bounce-in;
            }
        }

        // Contexts
        .l-section__contact & {
            @include content-underline($underline-background-color: c(l-section, contact));
        }

        .l-section__interests & {
            @include content-underline($underline-background-color: c(l-section, interests));
        }

        .l-section__projects & {
            @include content-underline($underline-background-color: c(l-section, projects));
        }

        .l-section__writing & {
            @include content-underline($underline-background-color: c(l-section, writing));
        }
    }
}
