<ul class="c-link-list">

    <li class="c-link-list__container">
        <a
            href="http://belugamariachi.com"
            rel="external noopener">
            beluga&#8202;mariachi&#8202;.&#8202;com
        </a>
        <i class="c-content-alert"><svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon c-content-alert__icon"><use xlink:href="#icon-speaker"></use></svg> <span class="content-hide-visually">Alert:</span> autoplaying media</i>
    </li>

    <li class="c-link-list__container">
        <a
            href="http://literallytheindianocean.io"
            rel="external noopener">
            literally&#8202;the&#8202;indian&#8202;ocean&#8202;.&#8202;io
        </a>
        <i class="c-content-alert"><svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon c-content-alert__icon"><use xlink:href="#icon-speaker"></use></svg> <span class="content-hide-visually">Alert:</span> autoplaying media</i>
    </li>

    <li class="c-link-list__container">
        <a
            href="http://npmplease.com/"
            rel="external noopener">
            npmplease
        </a>
    </li>

    <li class="c-link-list__container">
        <a
            href="http://sadhighfive.com"
            rel="external noopener">
            sad&#8202;high&#8202;five&#8202;.&#8202;com
        </a>
    </li>

    <li class="c-link-list__container">
        <a
            href="http://youcancallme.al"
            rel="external noopener">
            you&#8202;can&#8202;call&#8202;me&#8202;.&#8202;al
        </a>
        <i class="c-content-alert"><svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon c-content-alert__icon"><use xlink:href="#icon-speaker"></use></svg> <span class="content-hide-visually">Alert:</span> autoplaying media</i>
    </li>

</ul>
