<ul class="c-link-list">

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://twitter.com/ericwbailey">
            <span class="content-hide-visually">Read what I've been tweeting about on </span>Twitter
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://www.linkedin.com/in/ericwbailey/">
            <span class="content-hide-visually">View my résumé on </span>Linked&#8202;In
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://github.com/ericwbailey">
            <span class="content-hide-visually">Check out my code on </span>Git&#8202;Hub
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://instagram.com/eric.w.bailey/">
            <span class="content-hide-visually">See what photos I've been taking on </span>Instagram
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://pinboard.in/u:ericwbailey">
            <span class="content-hide-visually">Check out what design and development bookmarks I've been adding to </span>Pinboard
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://goodreads.com/ericwbailey">
            <span class="content-hide-visually">See what I've been reading on </span>Goodreads
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://codepen.io/ericwbailey/">
            <span class="content-hide-visually">Play around with my code prototypes on </span>Code&#8202;Pen
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://makerbase.co/m/vk278x/ericwbailey">
            <span class="content-hide-visually">See who I've been collaborating with on </span>Makerbase
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="">
            <span class="content-hide-visually">Send me a good 'ol fashioned </span>Email
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external noopener"
            href="https://goo.gl/maps/ATWGaUboaxw">
            <span class="content-hide-visually">Meet up with me </span>Over coffee
        </a>
    </li>

</ul>
