<ul class="c-link-list">

    <li
        class="c-link-list__item"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://twitter.com/ericwbailey"
            itemprop="url">
            <span class="content-hide-visually">Read what I've been tweeting about on </span><span itemprop="memberOf">Twitter</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://github.com/ericwbailey">
            <span class="content-hide-visually">Check out my code on </span><span itemprop="memberOf">Git&#8202;Hub</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://instagram.com/eric.w.bailey/"
            itemprop="url">
            <span class="content-hide-visually">See what photos I've been taking on </span><span itemprop="memberOf">Instagram</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://pinboard.in/u:ericwbailey"
            itemprop="url">
            <span class="content-hide-visually">Check out what design and development bookmarks I've been adding to </span><span itemprop="memberOf">Pinboard</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://codepen.io/ericwbailey/"
            itemprop="url">
            <span class="content-hide-visually">Play around with my code prototypes on </span><span itemprop="memberOf">Code&#8202;Pen</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://makerbase.co/m/vk278x/ericwbailey"
            itemprop="url">
            <span class="content-hide-visually">See who I've been collaborating with on </span><span itemprop="memberOf">Makerbase</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://goodreads.com/ericwbailey"
            itemprop="url">
            <span class="content-hide-visually">See what I've been reading on </span><span itemprop="memberOf">Goodreads</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="https://www.linkedin.com/in/ericwbailey/"
            itemprop="url">
            <span class="content-hide-visually">View my résumé on </span><span itemprop="memberOf">Linked&#8202;In</span>
        </a>
    </li>

    <li
        class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external me noopener"
            href="">
            <span class="content-hide-visually">Send me a good 'ol fashioned </span>Email
        </a>
    </li>

    <li
        class="c-link-list__item">
        <a
            class="c-link-list__link"
            rel="external noopener"
            href="https://goo.gl/maps/ATWGaUboaxw">
            <span class="content-hide-visually">Meet up with me </span>Over coffee
        </a>
        <svg height="30" width="30" aria-hidden="true" viewBox="0 0 100 100" class="icon c-link-list__coffee"><use xlink:href="#icon-coffee"></use></svg>
    </li>

</ul>
