<ul class="c-link-list">

    <li
        class="c-link-list__container"
        itemscope itemtype="http://schema.org/Organization">
        <s>Twitter</s> <span class="c-link-list__description">(taking a break)</span>
    </li>

    <li
        class="c-link-list__container"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            href="https://github.com/ericwbailey"
            itemprop="url"
            rel="external me noopener">
            <span class="content-hide-visually">Check out my code on </span><span itemprop="memberOf">Git&#8202;Hub</span>
        </a>
    </li>

    <li
        class="c-link-list__container"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            href="https://instagram.com/eric.w.bailey/"
            itemprop="url"
            rel="external me noopener">
            <span class="content-hide-visually">See what photos I've been taking on </span><span itemprop="memberOf">Instagram</span>
        </a>
    </li>

    <li
        class="c-link-list__container"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            href="https://pinboard.in/u:ericwbailey"
            itemprop="url"
            rel="external me noopener">
            <span class="content-hide-visually">Check out what design and development bookmarks I've been adding to </span><span itemprop="memberOf">Pinboard</span>
        </a>
    </li>

    <li
        class="c-link-list__container"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            href="https://codepen.io/ericwbailey/"
            itemprop="url"
            rel="external me noopener">
            <span class="content-hide-visually">Play around with my code prototypes on </span><span itemprop="memberOf">Code&#8202;Pen</span>
        </a>
    </li>

    <li
        class="c-link-list__container"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            href="https://developer.mozilla.org/en-US/profiles/ericwbailey"
            itemprop="url"
            rel="external me noopener">
            <span class="content-hide-visually">Review my contributions to the </span><span itemprop="memberOf"><abbr>MDN</abbr></span>
        </a>
    </li>

    <li
        class="c-link-list__container"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            href="https://goodreads.com/ericwbailey"
            itemprop="url"
            rel="external me noopener">
            <span class="content-hide-visually">See what I've been reading on </span><span itemprop="memberOf">Goodreads</span>
        </a>
    </li>

    <li
        class="c-link-list__container"
        itemscope itemtype="http://schema.org/Organization">
        <a
            class="c-link-list__link"
            itemprop="url"
            href="https://www.linkedin.com/in/ericwbailey/"
            rel="external me noopener">
            <span class="content-hide-visually">View my resume on </span><span itemprop="memberOf">Linked&#8202;In</span>
        </a>
    </li>

    <li
        class="c-link-list__container">
        <a
            class="c-link-list__link"
            data-message-subject=""
            href="mailto:&#101;&#114;&#105;&#099;&#046;&#119;&#046;&#098;&#097;&#105;&#108;&#101;&#121;☛REMOVE-THIS☚&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"
            rel="external me noopener">
            <span class="content-hide-visually">Send me a good old fashioned </span>Email
        </a>
    </li>

    <li
        class="c-link-list__container">
        <a
            class="c-link-list__link"
            href="https://goo.gl/maps/rp3nctpwPHT2"
            rel="external noopener">
            <span class="content-hide-visually">Meet up with me </span>Over coffee
        </a>
        <svg height="30" width="30" aria-hidden='true' viewBox='0 0 100 100' class='icon c-link-list__coffee'><use xlink:href='#icon-coffee'></use></svg>
    </li>

</ul>
