<div class="content-hide-visually">

    <h3 class="content-hide-visually">
        Name
    </h3>

    <dl>
        <dt>Given Name</dt>
        <dd itemprop="givenName">Eric</dd>
        <dt>Middle Name</dt>
        <dd itemprop="additionalName">W</dd>
        <dt>Family Name</dt>
        <dd itemprop="familyName">Bailey</dd>
        <dt>Avatar</dt>
        <dd itemprop="image">https://en.gravatar.com/userimage/26966765/433e4d0a0a8b731e9320bb37916899ea.png?size=400</dd>
    </dl>

    <h3 class="content-hide-visually">
        Contact Info
    </h3>

    <dl>
        <dt>Phone Number</dt>
        <dd itemprop="telephone">+1-617-909-3611</dd>
    </dl>

    <h3 class="content-hide-visually">
        Address
    </h3>

    <dl itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <dt>Street</dt>
        <dd itemprop="streetAddress">897 Broadway, Apartment 1, </dd>
        <dt>City</dt>
        <dd itemprop="addressLocality">Somerville</dd>
        <dt>State</dt>
        <dd itemprop="addressRegion">Massachusetts</dd>
        <dt>Zip Code</dt>
        <dd itemprop="postalCode">02144</dd>
    </dl>

    <h3 class="content-hide-visually">
        Work
    </h3>

    <dl>
        <dt>Organization</dt>
        <dd itemprop="worksFor">Cantina</dd>
        <dt>Job Title</dt>
        <dd itemprop='jobTitle'>User Experience Designer</dd>
    </dl>

</div>
