<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-project-description="photoshoppery">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/0lbiT"
            rel="author external noopener">
            Photoshoppery
        </a>
    </li>

    <!-- <li
        class="c-link-list__item"
        data-project-description="photoshop">
        <a
            class="c-link-list__link"
            href=""
            rel="author external noopener">
            Book Covers
        </a>
    </li> -->

    <li
        class="c-link-list__item"
        data-project-description="appurtenances-oscura">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/CHFp1"
            rel="author external noopener">
            Appurtenances Obscura
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="student-work">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/ASYJi"
            rel="author external noopener">
            Student Work
        </a>
    </li>

</ul>
