<dl class="c-link-list">

    <dt class="c-link-list__item">
        <a
            href="http://imgur.com/a/0lbiT">
            Photoshoppery
        </a>
    </dt>
    <dd class="c-link-list__description">
         {{content.source.imgur}}
    </dd>


    <dt class="c-link-list__item">
        <a
            href="http://imgur.com/a/uELUc">
            Book Covers
        </a>
    </dt>
    <dd class="c-link-list__description">
         {{content.source.imgur}}
    </dd>

    <dt class="c-link-list__item">
        <a
            href="http://imgur.com/a/CHFp1">
            Appurtenances Obscura
        </a>
    </dt>
    <dd class="c-link-list__description">
         {{content.source.imgur}}
    </dd>

    <dt class="c-link-list__item">
        <a
            href="http://imgur.com/a/ASYJi">
            Student Work
        </a>
    </dt>
    <dd class="c-link-list__description">
         {{content.source.imgur}}
    </dd>

</dl>
