<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-project-description="photoshoppery">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/0lbiT"
            rel="author external noopener">
            Photoshoppery (Imgur)
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="photoshop">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/uELUc"
            rel="author external noopener">
            Book Covers (Imgur)
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="appurtenances-oscura">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/CHFp1"
            rel="author external noopener">
            Appurtenances Obscura (Imgur)
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="student-work">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/ASYJi"
            rel="author external noopener">
            Student Work (Imgur)
        </a>
    </li>

</ul>
