<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="imgur">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/0lbiT"
            rel="author external noopener">
            Photoshoppery (Imgur)
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="imgur">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/uELUc"
            rel="author external noopener">
            Book Covers (Imgur)
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="imgur">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/CHFp1"
            rel="author external noopener">
            Appurtenances Obscura (Imgur)
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="imgur">
        <a
            class="c-link-list__link"
            href="http://imgur.com/a/ASYJi"
            rel="author external noopener">
            Student Work (Imgur)
        </a>
    </li>

</ul>
