<ul class="c-link-list">

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://github.com/ericwbailey/ericwbailey.design"
            rel="external noopener">
            Working in the open
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://tenon.io/testNow.php?url=http://ericwbailey.design/"
            rel="external noopener">
            Accessible and inclusive design
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://search.google.com/structured-data/testing-tool/u/0/#url=http%3A%2F%2Fericwbailey.design%2F"
            rel="external noopener">
            Semantics and interoperability
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="http://cssstats.com/stats?url=http%3A%2F%2Fericwbailey.design&ua=Browser%20Default"
            rel="external noopener">
            <abbr title="Cascading Style Sheets">CSS</abbr> architecture at scale
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="https://structure.exposed/proxy?url=http%3A%2F%2Fericwbailey.design%2F"
            rel="external noopener">
            Progressive enhancement
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            href="http://yellowlab.tools/result/eou7t10p13"
            rel="external noopener">
            Performance and internationalization
        </a>
    </li>

</ul>
