<ul class="c-link-list">

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="accessible-html-content-patterns"
            rel="external noopener"
            href="https://github.com/ericwbailey/accessible-html-content-patterns">
            Accessible HTML Content Patterns
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="structure-exposed"
            rel="external noopener"
            href="https://structure.exposed/">
            structure.exposed
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="hancock-lighting"
            rel="external noopener"
            href="http://hancock.lighting/">
            hancock.lighting
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="millennials-to-snake-people"
            rel="external noopener"
            href="https://chrome.google.com/webstore/detail/millennials-to-snake-peop/jhkibealmjkbkafogihpeidfcgnigmlf">
            Millennials to Snake People
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="youdubber"
            rel="external noopener"
            href="http://youdubber.com/">
            YouDubber
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="ubersleep"
            rel="external noopener"
            href="http://www.puredoxyk.com/index.php/2009/01/04/the-ubersleep-book/">
            Ubersleep
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="lowvision-support"
            rel="external noopener"
            href="http://lowvision.support/">
            lowvision.support
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="design-build-test-repeat"
            rel="external noopener"
            href="http://dbtr.fm/">
            Design, Build, Test, Repeat Podcast
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="exploit-logos"
            rel="external noopener"
            href="http://exploitlogos.tumblr.com/">
            Exploit Logos
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-project-description="fresh-garbage-newsletter"
            rel="external noopener"
            href="https://tinyletter.com/hot-garbage">
            Fresh Garbage Newsletter
        </a>
    </li>

</ul>
