<ul class="c-link-list">

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/SoftwareSourceCode">
        <a
            class="c-link-list__link"
            data-project-description="accessible-html-content-patterns"
            rel="external noopener"
            href="https://github.com/ericwbailey/accessible-html-content-patterns"
            itemprop="url">
            <span itemprop="name">Accessible <abbr title="Hypertext Markup Language">HTML</abbr> Content Patterns</span><span class="content-hide-visually">, a collection of bulletproof markup patterns</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            data-project-description="structure-exposed"
            rel="external noopener"
            href="https://structure.exposed/"
            itemprop="url">
            <span itemprop="name">structure&#8201;<span aria-label="Dot">.</span>&#8201;exposed</span><span class="content-hide-visually">, a proxy that removes CSS styling</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            data-project-description="hancock-lighting"
            rel="external noopener"
            href="http://hancock.lighting/"
            itemprop="url">
            <span itemprop="name">hancock&#8201;<span aria-label="Dot">.</span>&#8201;lighting</span><span class="content-hide-visually">, a web app that recreates Boston's historic Hancock Tower weather beacon</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/SoftwareSourceCode">
        <a
            class="c-link-list__link"
            data-project-description="millennials-to-snake-people"
            rel="external noopener"
            href="https://chrome.google.com/webstore/detail/millennials-to-snake-peop/jhkibealmjkbkafogihpeidfcgnigmlf"
            itemprop="url">
            <span itemprop="name">Millennials to Snake People</span><span class="content-hide-visually">, a browser extension that reveals the <em>real</em> truth behind Millennials</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            data-project-description="youdubber"
            rel="external noopener"
            href="http://www.youdubber.com/index.php?video=bO9ugnn8DbE&video_start=0&audio=B1i4UgkC_kI&audio_start=0"
            itemprop="url">
            <span itemprop="name">You&#8202;Dubber</span><span class="content-hide-visually">, a website that lets you dub the audio of one YouTube video over the video of another YouTube video</span><i class="c-content-alert"><svg aria-hidden="true" viewBox="0 0 100 100" class="icon c-content-alert__icon"><use xlink:href="#icon-speaker"></use></svg> autoplaying media</i>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/Book">
        <a
            class="c-link-list__link"
            data-project-description="ubersleep"
            rel="external noopener"
            href="http://www.puredoxyk.com/index.php/2009/01/04/the-ubersleep-book/"
            itemprop="url">
            <span itemprop="name">Ubersleep</span><span class="content-hide-visually">, the second edition of a book about Polyphasic sleep that I did the cover and interior design for</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            data-project-description="lowvision-support"
            rel="external noopener"
            href="http://lowvision.support/"
            itemprop="url">
            <span itemprop="name">lowvision&#8201;<span aria-label="Dot">.</span>&#8201;support</span><span class="content-hide-visually">, a website that simulates various low-vision conditions</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            data-project-description="design-build-test-repeat"
            rel="external noopener"
            href="http://dbtr.fm/"
            itemprop="url">
            <span itemprop="name">Design, Build, Test, Repeat Podcast</span><span class="content-hide-visually">, a podcast about web design and development</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            data-project-description="exploit-logos"
            rel="external noopener"
            href="http://exploitlogos.tumblr.com/"
            itemprop="url">
            <span itemprop="name">Exploit Logos</span><span class="content-hide-visually">, a curated collection of the branded exploit phenomenon</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            data-project-description="fresh-garbage-newsletter"
            rel="external noopener"
            href="https://tinyletter.com/hot-garbage"
            itemprop="url">
            <span itemprop="name">Fresh Garbage Newsletter</span><span class="content-hide-visually">, a weekly newsletter linking to weird and interesting internet content</span>
        </a>
    </li>

</ul>
