<dl class="c-link-list">

    <div class="c-link-list__container">
        <dt class="c-link-list__item" itemprop="workExample" itemscope itemtype="http://schema.org/SoftwareSourceCode">
            <a href="https://github.com/ericwbailey/accessible-html-content-patterns" itemprop="url"
                rel="external noopener">
                <span itemprop="name">Accessible <abbr>HTML</abbr> Content Patterns</span>
            </a>
        </dt>
        <dd class="c-link-list__description">
            Better building blocks
        </dd>
    </div>
    {{!--
    <div class="c-link-list__container">
        <dt class="c-link-list__item" itemprop="workExample" itemscope itemtype="http://schema.org/WebSite">
            <a href="https://structure.exposed/" itemprop="url" rel="external noopener">
                <span itemprop="name">structure&#8202;.&#8202;exposed</span>
            </a>
        </dt>
        <dd class="c-link-list__description">
            Remove CSS frippery (currently offline)
        </dd>
    </div>
--}}
    <div class="c-link-list__container">
        <dt class="c-link-list__item" itemprop="workExample" itemscope itemtype="http://schema.org/WebSite">
            <a href="http://hancock.lighting/" itemprop="url" rel="external noopener">
                <span itemprop="name">hancock&#8202;.&#8202;lighting</span>
            </a>
        </dt>
        <dd class="c-link-list__description">
            Digitizing a landmark
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item" itemprop="workExample" itemscope itemtype="http://schema.org/SoftwareSourceCode">
            <a href="https://chrome.google.com/webstore/detail/millennials-to-snake-peop/jhkibealmjkbkafogihpeidfcgnigmlf"
                itemprop="url" rel="external noopener">
                <span itemprop="name">Millennials to Snake People</span>
            </a>
        </dt>
        <dd class="c-link-list__description">
            Infamous browser extension
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item" itemprop="workExample" itemscope itemtype="http://schema.org/WebSite">
            <a href="http://www.youdubber.com/index.php?video=bO9ugnn8DbE&video_start=0&audio=B1i4UgkC_kI&audio_start=0"
                itemprop="url" rel="external noopener">
                <span itemprop="name">You&#8202;Dubber</span>
            </a>
            <i class="c-content-alert"><svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100"
                    class="icon c-content-alert__icon">
                    <use xlink:href="#icon-speaker"></use>
                </svg> <span class="content-hide-visually">Alert:</span> autoplaying media</i>
        </dt>
        <dd class="c-link-list__description">
            Recontextualizing You&#8202;Tube
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item">
            <a href="https://www.amazon.com/dp/B00E1XAD7W/" rel="external noopener">
                Ubersleep
            </a>
        </dt>
        <dd class="c-link-list__description">
            Layout, design, and typography
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item" itemprop="workExample" itemscope itemtype="http://schema.org/WebSite">
            <a href="https://empathyprompts.net/" itemprop="url" rel="external noopener">
                <span itemprop="name">Empathy Prompts</span>
            </a>
        </dt>
        <dd class="c-link-list__description">
            Quick exercises
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item" itemprop="workExample" itemscope itemtype="http://schema.org/WebSite">
            <a href="https://www.instagram.com/exploit.logos/" itemprop="url" rel="external noopener">
                <span itemprop="name">Exploit Logos</span>
            </a>
        </dt>
        <dd class="c-link-list__description">
            Curated malice
        </dd>
    </div>
    {{!--
    <div class="c-link-list__container">
        <dt
            class="c-link-list__item"
            itemprop="workExample"
            itemscope itemtype="http://schema.org/WebSite">
            <a
                href="https://internetdotpdf.biz/"
                itemprop="url"
                rel="external noopener">
                <span itemprop="name">internet&#8202;dot&#8202;pdf&#8202;.&#8202;biz</span>
            </a>
        </dt>
        <dd class="c-link-list__description">
            Document-based internet browsing
        </dd>
    </div>
--}}
    <div class="c-link-list__container">
        <dt class="c-link-list__item" itemprop="workExample" itemscope itemtype="http://schema.org/WebSite">
            <a href="https://tinyletter.com/hot-garbage/archive" itemprop="url" rel="external noopener">
                <span itemprop="name">Fresh Garbage Newsletter</span>
            </a>
        </dt>
        <dd class="c-link-list__description">
            Weekly links of note
        </dd>
    </div>

</dl>
