<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-project-description="accessible-html-content-patterns"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/SoftwareSourceCode">
        <a
            class="c-link-list__link"
            href="https://github.com/ericwbailey/accessible-html-content-patterns"
            itemprop="url"
            rel="external noopener">
            <span itemprop="name">Accessible <abbr title="Hypertext Markup Language">HTML</abbr> Content Patterns</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="structure-exposed"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            href="https://structure.exposed/"
            itemprop="url"
            rel="external noopener">
            <span itemprop="name">structure&#8202;<span aria-label="Dot">.</span>&#8202;exposed</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="hancock-lighting"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            href="http://hancock.lighting/"
            itemprop="url"
            rel="external noopener">
            <span itemprop="name">hancock&#8202;<span aria-label="Dot">.</span>&#8202;lighting</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="millennials-to-snake-people"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/SoftwareSourceCode">
        <a
            class="c-link-list__link"
            itemprop="url"
            href="https://chrome.google.com/webstore/detail/millennials-to-snake-peop/jhkibealmjkbkafogihpeidfcgnigmlf"
            rel="external noopener">
            <span itemprop="name">Millennials to Snake People</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="youdubber"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            itemprop="url"
            href="http://www.youdubber.com/index.php?video=bO9ugnn8DbE&video_start=0&audio=B1i4UgkC_kI&audio_start=0"
            rel="external noopener">
            <span itemprop="name">You&#8202;Dubber</span>
        </a>
        <i class="c-content-alert"><svg height="14" width="14" aria-hidden="true" viewBox="0 0 100 100" class="icon c-content-alert__icon"><use xlink:href="#icon-speaker"></use></svg> <span class="content-hide-visually">Alert:</span> autoplaying media</i>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="ubersleep">
        <a
            class="c-link-list__link"
            href="http://www.puredoxyk.com/index.php/2009/01/04/the-ubersleep-book/"
            rel="external noopener">
            <span itemprop="name">Ubersleep</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="lowvision-support"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            href="http://lowvision.support/"
            itemprop="url"
            rel="external noopener">
            <span itemprop="name">lowvision&#8202;<span aria-label="Dot">.</span>&#8202;support</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="design-build-test-repeat"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            rel="external noopener"
            href="http://dbtr.fm/"
            itemprop="url">
            <span itemprop="name">Design, Build, Test, Repeat Podcast</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="exploit-logos"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            itemprop="url"
            href="http://exploitlogos.tumblr.com/"
            rel="external noopener">
            <span itemprop="name">Exploit Logos</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-project-description="fresh-garbage-newsletter"
        itemprop="workExample"
        itemscope itemtype="http://schema.org/WebSite">
        <a
            class="c-link-list__link"
            itemprop="url"
            href="https://tinyletter.com/hot-garbage"
            rel="external noopener">
            <span itemprop="name">Fresh Garbage Newsletter</span>
        </a>
    </li>

</ul>
