<dl class="c-link-list">

    <div class="c-link-list__container">
        <dt class="c-link-list__item">
            <a
                class="c-link-list__link"
                href="https://noti.st/ericwbailey/QxdLmO/designing-for-inclusion-with-media-queries"
                rel="author external noopener">
                Designing for Inclusion with Media Queries
            </a>
        </dt>
        <dd class="c-link-list__location">
            Delivered at the <a class="c-link-list__sublink" href="https://www.inclusivedesign24.org/2017/#talk2" rel="external noopener">Inclusive Design 24 2017</a> webinar and at the <a class="c-link-list__sublink" href="https://youtu.be/MAwC-JWDxxc" rel="external noopener">Boston CSS</a> meetup group
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item">
            <a
                class="c-link-list__link"
                href="https://www.youtube.com/watch?v=CJltSqksCn0&list=PLn7dsvRdQEfEnBxpVztmJ8KCKNJ_P-hR6"
                rel="author external noopener">
                Working with High Contrast Mode
            </a>
        </dt>
        <dd class="c-link-list__location">
            Delivered at <a class="c-link-list__sublink" href="http://www.accessibilitycampto.org/" rel="external noopener">Accessibility Camp Toronto 2017</a> and the <a class="c-link-list__sublink" href="https://inclusivedesign24.org/2018/schedule/#talk21" rel="external noopener">Inclusive Design 24 2018</a> webinar
        </dd>
    </div>

    <div class="c-link-list__container">
        <dt class="c-link-list__item">
            <a
                class="c-link-list__link"
                href="https://noti.st/ericwbailey/TcMJFP/if-it-s-interactive-it-needs-a-focus-style"
                rel="external noopener">
                If it&rsquo;s interactive, it needs a focus style
            </a>
        </dt>
        <dd class="c-link-list__location">
            Delivered at <a class="c-link-list__sublink" href="http://conf.a11yto.com/" rel="external noopener">a11yTOConf</a>
        </dd>
    </div>
<!--
    <div class="c-link-list__container">
        <dt class="c-link-list__item">
            <a
                class="c-link-list__link"
                href="https://www.meetup.com/CodePen-Boston/"
                rel="external noopener">
                Code&#8202;Pen Boston
            </a>
        </dt>
        <dd class="c-link-list__location">
            Bi-monthly meetups
        </dd>
    </div>
-->
</dl>
