<dl class="c-link-list">

    <dt>
        <a
            class="c-link-list__link"
            href="https://www.youtube.com/watch?v=DqPce8ZpZfo"
            rel="author external noopener">
            Designing for Inclusion with Media Queries
        </a>
    </dt>
    <dd class="c-link-list__item c-link-list__location">
        Part of the
        <a
            class="c-link-list__link"
            href="http://www.inclusivedesign24.org/"
            rel="external noopener">
            Inclusive Design 24 2017
        </a>
        lineup
    </dd>

    <dt>
        <a
            class="c-link-list__link"
            href="https://www.meetup.com/CodePen-Boston/"
            rel="external noopener">
            Code&#8202;Pen Boston
        </a>
    </dt>
    <dd class="c-link-list__location">
        Bi-monthly meetups
    </dd>

</dl>
