<h2 class="heading-beta">
    <time datetime="2017">2017</time>
</h2>

<ul class="c-link-list">
<!--
    <li
        class="c-link-list__item"
        data-writing-source="human-in-the-machine">
        <a
            class="c-link-list__link"
            href="https://cantina.co/crafting-a-chatbot-people-will-use-part-2/"
            rel="author external noopener">
            Make technology work for you, not the other way around
        </a>
    </li>
-->
    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/lets-talk-speech-css/"
            rel="author external noopener">
            Let's Talk About Speech CSS
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/crafting-a-chatbot-people-will-use-part-2/"
            rel="author external noopener">
            Crafting a chatbot people will use:&nbsp;Part&nbsp;2
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/crafting-a-chatbot-people-will-use-part-1/"
            rel="author external noopener">
            Crafting a chatbot people will use:&nbsp;Part&nbsp;1
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/introduction-reduced-motion-media-query/"
            rel="author external noopener">
            An Introduction to the Reduced Motion Media Query
        </a>
    </li>

</ul>


<h2 class="heading-beta">
    <time datetime="2016">2016</time>
</h2>

<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/accessible-svgs-high-contrast-mode/"
            rel="author external noopener">
            Accessible <abbr title="Scalable Vector Graphics">SVG</abbr>s in High Contrast Mode
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/improving-the-user-experience-of-iot-firmware-updates/"
            rel="author external noopener">
            Improving the User Experience of <abbr title="Internet of Things">IoT</abbr> Firmware Updates
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/building-a-better-button-in-css/"
            rel="author external noopener">
            Building a better button in <abbr>CSS</abbr>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization-part-2/"
            rel="author external noopener">
            Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;2
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/organizational-buy-in-on-responsive-design/"
            rel="author external noopener">
            Organizational buy-in on Responsive Design
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization/"
            rel="author external noopener">
            Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;1
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/battery-status-api-we-need-to-talk/"
            rel="author external noopener">
            Battery Status <abbr title="Application Program Interface">API</abbr>: We need to talk
        </a>
    </li>

</ul>


<h2 class="heading-beta">
    <time datetime="2015">2015</time>
</h2>

<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/ill-make-an-exception-just-for-you/"
            rel="author external noopener">
            I&rsquo;ll Make an Exception Just for You: Using the Exception Comment to Help Maintain Mature, Large-scale Sass Projects
        </a>
    </li>

</ul>
