<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/introduction-reduced-motion-media-query/"
            rel="author external noopener">
            An Introduction to the Reduced Motion Media Query
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/improving-the-user-experience-of-iot-firmware-updates/"
            rel="author external noopener">
            Improving the User Experience of <abbr title="Internet of Things">IoT</abbr> Firmware Updates
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/accessible-svgs-high-contrast-mode/"
            rel="author external noopener">
            Accessible <abbr aria-hidden="true" title="Scalable Vector Graphics">SVGs</abbr><span class="content-hide-visually">s vee gees</span> in High Contrast Mode
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/building-a-better-button-in-css/"
            rel="author external noopener">
            Building a better button in <abbr>CSS</abbr>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization/"
            rel="author external noopener">
            Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;<span aria-hidden="true">&#x2160;</span><span class="content-hide-visually">One</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization-part-ii/"
            rel="author external noopener">
            Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;<span aria-hidden="true">&#x2161;</span><span class="content-hide-visually">Two</span>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/battery-status-api-we-need-to-talk/"
            rel="author external noopener">
            Battery Status <abbr title="Application Program Interface">API</abbr>: We need to talk
        </a>
    </li>

    <li
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/organizational-buy-in-on-responsive-design/"
            rel="author external noopener">
            Organizational buy-in on Responsive Design
        </a>
    </li>

</ul>
