<ul class="c-link-list">

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-post-location="css-tricks"
            rel="external noopener"
            href="https://css-tricks.com/accessible-svgs-high-contrast-mode/">
            Accessible SVGs in High Contrast Mode
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-post-location="cantina"
            rel="external noopener"
            href="https://cantina.co/building-a-better-button-in-css/">
            Building a better button in CSS
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-post-location="cantina"
            rel="external noopener"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization/">
            Instituting a culture of accessibility in your organization: Part I
        </a>
    </li>

    <li class="c-link-list__item">
        <a
            class="c-link-list__link"
            data-post-location="cantina"
            rel="external noopener"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization-part-ii/">
            Instituting a culture of accessibility in your organization: Part II
        </a>
    </li>

    <li class="c-link-list__item">
        <a class="c-link-list__link"
            data-post-location="cantina"
            rel="external noopener"
            href="https://cantina.co/battery-status-api-we-need-to-talk/">
            Battery Status <span class="generate-pause">A</span><span class="generate-pause">P</span><span class="generate-pause">I</span>: We need to talk
        </a>
    </li>

    <li class="c-link-list__item">
        <a class="c-link-list__link"
            data-post-location="cantina"
            rel="external noopener"
            href="https://cantina.co/organizational-buy-in-on-responsive-design/">
            Organizational buy-in on Responsive Design
        </a>
    </li>

</ul>
