<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/lets-talk-speech-css/"
            rel="author external noopener">
            Let's Talk About Speech CSS
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/introduction-reduced-motion-media-query/"
            rel="author external noopener">
            An Introduction to the Reduced Motion Media Query
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            href="https://css-tricks.com/accessible-svgs-high-contrast-mode/"
            rel="author external noopener">
            Accessible <abbr title="Scalable Vector Graphics">SVG</abbr>s in High Contrast Mode
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization/"
            rel="author external noopener">
            Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;1
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            href="https://cantina.co/battery-status-api-we-need-to-talk/"
            rel="author external noopener">
            Battery Status <abbr title="Application Program Interface">API</abbr>: We need to talk
        </a>
    </li>

</ul>
