<ul class="c-link-list">

    <li
        class="c-link-list__item"
        data-writing-source="css-tricks">
        <a
            class="c-link-list__link"
            rel="author external noopener"
            href="https://css-tricks.com/accessible-svgs-high-contrast-mode/">
            Accessible <abbr title="Scalable Vector Graphics">SVG</abbr>s in High Contrast Mode
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            rel="author external noopener"
            href="https://cantina.co/building-a-better-button-in-css/">
            Building a better button in <abbr>CSS</abbr>
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            rel="author external noopener"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization/">
            Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;&#x2160;
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            rel="author external noopener"
            href="https://cantina.co/instituting-a-culture-of-accessibility-in-your-organization-part-ii/">
            Instituting a culture of accessibility in your organization:&nbsp;Part&nbsp;&#x2161;
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            rel="author external noopener"
            href="https://cantina.co/battery-status-api-we-need-to-talk/">
            Battery Status <abbr title="Application Program Interface"><span class="generate-pause">A</span><span class="generate-pause">P</span><span class="generate-pause">I</span></abbr>: We need to talk
        </a>
    </li>

    <li
        class="c-link-list__item"
        data-writing-source="cantina">
        <a
            class="c-link-list__link"
            rel="author external noopener"
            href="https://cantina.co/organizational-buy-in-on-responsive-design/">
            Organizational buy-in on Responsive Design<span class="content-hide-visually">
        </a>
    </li>

</ul>
