<ul class="c-link-list">
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external me noopener" href="http://twitter.com/ericwbailey">Twitter</a>
    </li>
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external me noopener" href="https://www.linkedin.com/in/ericwbailey/">LinkedIn</a>
    </li>
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external me noopener" href="https://github.com/ericwbailey">GitHub</a>
    </li>
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external me noopener" href="https://instagram.com/eric.w.bailey/">Instagram</a>
    </li>
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external me noopener" href="https://pinboard.in/u:ericwbailey">Pinboard</a>
    </li>
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external me noopener" href="https://goodreads.com/ericwbailey">Goodreads</a>
    </li>
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external me noopener" href="http://codepen.io/ericwbailey/">CodePen</a>
    </li>
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external me noopener" href="https://makerbase.co/m/vk278x/ericwbailey">Makerbase</a>
    </li>
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external me noopener" href="">Email</a>
    </li>
    <li class="c-link-list__item">
        <a class="c-link-list__link" rel="external noopener" href="https://goo.gl/maps/ATWGaUboaxw">Over coffee</a>
    </li>
</ul>
